<div id="wrapper">
<div id="contents">
  <div id="top_box" class="center">
    <div class="slide">
      <img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/perks/top/top_img2.jpg" />
    </div>
    <br><hr><br>

    <h3 align="right"><a href="/items">SEE ALL CATEGORIES</a></h3><br>
    <% @categories.each do | id, val | %>
    <div class="feat">
      <div class="title">
	<a href="/items?cat=<%= id %>"><h2><%= val %></h2></a>
      </div>

      <div class="items clearfix">
	<div class="row">
	<% @items[id].each do |item| %>
	  <div class="item col-6">
	    <a href="/items/<%= item[:id] %>"><img src="<%= item[:img_src] %>"/></a>
	    <a href="/items/<%= item[:id] %>">
	    <div class="caption col-12">
		<h2 align="left"><%= item[:name] %></h2>
		<h3 align="right"><%= item[:discount] %>% DISCOUNT</h3>
		<h3 align="right"><%= number_with_delimiter(item[:sale_price], :delimiter => ',') %> 円</h3>
		<p align="right">From <del><%= number_with_delimiter(item[:price], :delimiter => ',') %> 円</del></p>
	    </div></a>
	  </div>
	<% end %>
	</div>
      </div>
    </div>
    <% end %>
  </div>
</div> <!-- contents -->
</div> <!-- wrapper -->
