<!-- HEADER -->
<table class="head-wrap" bgcolor="#FFFFFF">
  <tr>
    <td></td>
    <td class="header container" >

      <div class="content">
        <table bgcolor="#FFFFFF">
          <tr>
            <td><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_200x50.png"/></td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

<div class="content">
<h3>こんにちは！<%= @user[:receiver] %>さん</h3>
<br/>
<% if @user[:post_sender_id] || @user[:sender_id] && @user[:nickname_id] != 0 %>
<p class="lead">『<%= $nicknames[@user[:nickname_id]] %>』さんから<br/>
<% else %>
<p class="lead">「<%= @user[:sender_belonging] %>」の『<%= @user[:sender] %>』さんから<br/>
<% end %>
あなたのメッセージに返信がきました。<br/>
<br/>
届いたコメント：<br/>
<br/>
『<%= @user[:description].truncate(10) %>...』<br/>
<br/>
このコメントの続きはPrizyで見ることができます。
<br/><br/>
　　　★メッセージの続きはこちら★<br/>


<% if @user[:post_sender_id] == @user[:sender_id] %> 
　　 https://www.prizy.me/
<% else %>
     https://www.prizy.me/profile/given
<% end %>
</p>
<br/>
『ありがとう』はこころのビタミン。<br/>
この機会に、日ごろの感謝の気持ちを伝えてみませんか？ <br/>
<br/>
<br/>
クリックするとさらにコメントを贈ることができます。<br/>
プライジーより
<!-- Callout Panel -->

</td>
</tr>
</table>
</div><!-- /content -->
		
</td>
<td></td>
</tr>
</table><!-- /BODY -->
