<pre>
こんにちは！<%= @user[:company_name] %>の<%= @user[:company_owner] %>さんから、あなた(<%= @user[:email] %>)へ
Prizyへの招待が届きました。

Prizyは毎日の仕事でのやりがいや達成感を最大化するツールです。

Prizy上では、あなたが仕事や会社のために頑張った分だけ、
一緒に働く仲間からちょっとしたボーナスをもらえます。
もらったポイントは様々な素敵なプレゼントに交換可能！
あなたも彼らのいいところを見つけ、ちょっとしたボーナスを贈ってみましょう！

初期のログインは<b><a href="<%= @user[:prizy_url] %>">コチラ</a></b>から！

------------------------------------------
E-mail: <%= @user[:email] %>
Password: <%= @user[:password] %>
------------------------------------------

Prizy運営事務局
</pre>
