  <div class="analytics_sidebar" style="width: 15%;">
    <ul>
      <li><%= link_to "利用状況", "/analytics/" %></li>
      <li><%= link_to "ポイント取得状況", "/analytics/receiver" %></li>
      <li><%= link_to "ポイント贈与状況", "/analytics/giver" %></li>
      <li><%= link_to "ハッシュタグ (コアバリュー)", "/analytics/hashtag" %></li>
      <li><%= link_to "ハッシュタグ (トレンド)", "/analytics/hashtag/all" %></li>
      <li><%= link_to "社員一覧", "/analytics/users" %></li>
    </ul>
  </div>
