<div class="analytics_sidebar" style="width: 15%;">
  <ul>
    <% if controller.action_name == "pv" %>
      <li style="background-color: #3a3a3c;"><%= link_to "アクセス状況", "/analytics/pv" %></li>
    <% else %>
      <li><%= link_to "アクセス状況", "/analytics/pv" %></li>
    <% end %>
    <% if controller.action_name == "overall" %>
      <li style="background-color: #3a3a3c;"><%= link_to "利用状況", "/analytics/" %></li>
    <% else %>
      <li><%= link_to "利用状況", "/analytics" %>
    <% end %>
    <% if controller.controller_name == "analytics" && controller.action_name == "index" %>
      <li style="background-color: #3a3a3c;"><%= link_to "ポイント取得状況", "/analytics/receiver" %></li>
    <% else %>
      <li><%= link_to "ポイント取得状況", "/analytics/receiver" %></li>
    <% end %>
    <% if controller.action_name == "giver" %>
      <li style="background-color: #3a3a3c;"><%= link_to "ポイント贈与状況", "/analytics/giver" %></li>
    <% else %>
      <li><%= link_to "ポイント贈与状況", "/analytics/giver" %></li>
    <% end %>
    <% if controller.action_name == "teams" %>
      <li style="background-color: #3a3a3c;"><%= link_to "チーム別", "/analytics/teams" %></li>
    <% else %>
      <li><%= link_to "チーム別", "/analytics/teams" %></li>
    <% end %>
    <% if controller.action_name == "users" %>
      <li style="background-color: #3a3a3c;"><%= link_to "社員一覧", "/analytics/users" %></li>
    <% else %>
      <li><%= link_to "社員一覧", "/analytics/users" %></li>
    <% end %>
    <% if controller.controller_name == "posts" && controller.action_name == "index" %>
      <li style="background-color: #3a3a3c;"><%= link_to "メッセージ一覧", admin_posts_path %></li>
    <% else %>
      <li><%= link_to "メッセージ一覧", admin_posts_path %></li>
    <% end %>
    <% if @user.company_id == 6 %>
      <li><%= link_to "投票一覧", admin_votes_path %></li>
    <% end %>
  </ul>
</div>
