  <div class="analytics_sidebar" style="width: 15%;">
    <ul>
      <li><%= link_to "利用状況", "/analytics/" %></li>
      <li><%= link_to "ポイント取得状況", "/analytics/receiver" %></li>
      <li><%= link_to "ポイント贈与状況", "/analytics/giver" %></li>
      <li><%= link_to "ハッシュタグ (コアバリュー)", "/analytics/hashtag" %></li>
      <li><%= link_to "ハッシュタグ (トレンド)", "/analytics/hashtag/all" %></li>
      <%= render 'team_showing' %>
    </ul>
  </div>

<script>
  $('.team_list_div').click(function(){
    if ($(this).children(".team_member").hasClass("team_list")){
        $(this).children(".team_member").removeClass('team_list');
        $(this).children("li").css('background-color', '#3a3a3c');
    } else {
        $(this).children(".team_member").addClass('team_list');
        $(this).children("li").css('background-color', '#6c6c70');
      }
    });
</script>



