<div class="analytics_holder">
  
  <div class="analytics_sidebar" style="padding-top:34px;">
    <ul>
      <li><%= link_to "利用状況", "/analytics/" %></li>
      <li><%= link_to "ポイント取得状況", "/analytics/receiver" %></li>
      <li><%= link_to "ポイント贈与状況", "/analytics/giver" %></li>
      <% unless $showoff_hashtag.include?(@id) %>
      <li><%= link_to "ハッシュタグ (コアバリュー)", "/analytics/hashtag" %></li>
      <li><%= link_to "ハッシュタグ (トレンド)", "/analytics/hashtag/all" %></li>
      <% end %>
      <li><%= link_to "社員一覧", "/analytics/users" %></li>
    </ul>
  </div>

  <div class="analytics_main">
    <div class="analytics_points_select">
      <%= link_to "回数", "/analytics/hashtag/all/", :class => "analytics_points_select_link" %>
      <%= link_to "ポイント", "/analytics/hashtag/all/points", :class => "analytics_points_select_colorlink" %>
    </div>

    <div class="analytics_time_select" >
      <%= form_tag({:controller => 'analytics', :action => 'allhashtagpoints'}, remote: true, :class => "analytics_form") do%>
        期間： <input type="text" id="datepicker_start" name="start_time" size="15" value=<%= @start_time %>> ー 
        <input type="text" id="datepicker_end" name="end_time" size="15" value= <%=@end_time %> >
        <input type="submit" value="適用">
      <% end %>
      <div class="clearfix"></div>
    </div>

  <div class="analytics_container"> 
    <div id="all_hashtag" style="min-height: 450px; width: 85%; margin-bottom: 25px;"> </div>
      <% @hashtags.each do |hashtag| %>
        <div id="<%= @num1 %>" class="analytics_allhashtag_float" style="min-height: 300px; width: 85%;"> </div>
        <% @num1 += 1 %>
      <% end %>
      <div class="analytics_clearfix"></div>
  </div>

</div>


<script type="text/javascript">
window.onload = function () {
  var chart = new CanvasJS.Chart("all_hashtag", {
    backgroundColor: "#3a3a3c",
    animationEnabled: true, 
    animationDuration: 3000,
    title:{
      text: "全てのハッシュタグ",
      fontSize: 16,
      fontColor: "#E0E0E3",
    },
    axisX:{
      reversed: true,
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
      axisY:{
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
    dataPointMaxWidth: 15,
    dataPointMinWidth: 15,
    dataPointWidth: 15,
    data: [
    {
      type: "bar",
      color: "#ff8d07",
      dataPoints: [
        <% @hashtag_points.each do |hashtag| %>
        { label: "<%= hashtag[0] %>",  y: <%= hashtag[1] %> },
        <% end %>
      ]
    }
    ]
  });
  chart.render();

  <% @hash_points.each do |key, value| %>
  var chart = new CanvasJS.Chart("<%= @num2 %>", {
    backgroundColor: "#3a3a3c",
    animationEnabled: true, 
    animationDuration: 3000,
    title:{
      text: "<%= key %>",
      fontSize: 16,
      fontColor: "#E0E0E3",
    },
    axisX:{
      reversed: true,
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
      axisY:{
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
    dataPointMaxWidth: 15,
    dataPointMinWidth: 15,
    dataPointWidth: 15,
    data: [              
    {
      type: "bar",
      dataPoints: [
        <% value.each do |a, b|%>
        <% @user = User.find(a) %>
        <% if @user.lastname.blank? %>
          { label: "<%= @user.name %>", y: <%= b %> },
        <% else %>
          { label: "<%= @user.firstname %><%= @user.lastname %>", y: <%= b %> },
        <% end %>
        <% end %>
      ]
    }
    ]
  });
  chart.render();
  <% @num2 += 1 %>
  <% end %>
}

$(function() {
  $("#datepicker_start").datepicker();
});
$(function() {
  $("#datepicker_end").datepicker();
});

</script>