<div class="analytics_holder">
  <div class="analytics_time_select" >
    <%= form_tag({:controller => 'analytics', :action => 'overall'}, :class => "analytics_form") do%>
      期間： <input type="text" id="datepicker_start" name="start_time" size="15" value=<%= @start_time %>> ー 
      <input type="text" id="datepicker_end" name="end_time" size="15" value= <%=@end_time %> >
      <input type="submit" value="適用">
    <% end %>
    <div class="clearfix"></div>
  </div>

  <%= render 'analytics'%>

  <div class="analytics_container c_align" style="float: left; width: 80%; background-color: #6c6c70; margin-bottom: 30px;">
    <div id="top_receiver" class="analytics_allhashtag_float" style="min-height: 450px; width: 100%;"></div>
    <div id="top_receiver_points" class="analytics_allhashtag_float" style="min-height: 450px; width: 100%;"></div>
    <div id="teams_use_history" class="analytics_allhashtag_float" style="min-height: 450px; width: 100%;"></div>
  </div>
</div>

<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("top_receiver", {
      backgroundColor: "#3a3a3c",
      animationEnabled: true, 
      animationDuration: 1000,
      title:{
        text: "社内利用回数",
        fontSize: 16,
        fontColor: "#E0E0E3"
      },
      axisX:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
        },
      axisY:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
      },
      dataPointMaxWidth: 15,
      dataPointMinWidth: 15,
      dataPointWidth: 15,
      data: [              
      {
        type: "line",
        color: "#ff8d07",
        dataPoints: [
          <% @posts.each do |key, value| %>
            { label: "<%= key.strftime("%m/%d") %>",  y: <%= value %>, },
          <% end %>
        ]
      }
      ]
    });
    chart.render();

    var chart = new CanvasJS.Chart("top_receiver_points", {
      backgroundColor: "#3a3a3c",
      animationEnabled: true, 
      animationDuration: 1000,
      title:{
        text: "社内流通ポイント数",
        fontSize: 16,
        fontColor: "#E0E0E3"
      },
      axisX:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
        },
      axisY:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
        },
      dataPointMaxWidth: 15,
      dataPointMinWidth: 15,
      dataPointWidth: 15,
      data: [              
      {
        type: "area",
        color: "#ff8d07",
        dataPoints: [
          <% @points.each do |key, value| %>
            { label: "<%= key.strftime("%m/%d") %>",  y: <%= value %>, },
          <% end %>
        ]
      }
      ]
    });
    chart.render();



    var chart = new CanvasJS.Chart("teams_use_history", {
      backgroundColor: "#3a3a3c",
      animationEnabled: true, 
      animationDuration: 1000,
      title:{
        text: "社内流通ポイント数",
        fontSize: 16,
        fontColor: "#E0E0E3"
      },
      axisX:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
        },
      axisY:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
        },
      dataPointMaxWidth: 15,
      dataPointMinWidth: 15,
      dataPointWidth: 15,

      <% @teams_use_history.each do |team| %>
        data: [{
          type: "line",
          color: "#ff8d07",
          dataPoints: [
            <% if team[:results].present? %>
              <% team[:results].each do |resut| %>
                { label: "<%= result[:date]%>",  y: <%= result[:count] %>, },
              <% end %>
            <% end %>
          ]
        }],
      <% end %>

      // data: [{
      //   type: "line",
      //   color: "#ff8d07",
      //   dataPoints: [
      //     { x: new Date(2017, 0, 3), y: 650 },
      //     { x: new Date(2017, 0, 4), y: 700 },
      //     { x: new Date(2017, 0, 5), y: 710 },
      //     { x: new Date(2017, 0, 6), y: 658 },
      //     { x: new Date(2017, 0, 7), y: 734 },
      //     { x: new Date(2017, 0, 8), y: 963 },
      //     { x: new Date(2017, 0, 9), y: 847 },
      //     { x: new Date(2017, 0, 10), y: 853 },
      //     { x: new Date(2017, 0, 11), y: 869 },
      //     { x: new Date(2017, 0, 12), y: 943 },
      //     { x: new Date(2017, 0, 13), y: 970 },
      //     { x: new Date(2017, 0, 14), y: 869 },
      //     { x: new Date(2017, 0, 15), y: 890 },
      //     { x: new Date(2017, 0, 16), y: 930 }
      //   ]
      // },
      // {
      //   type: "line",
      //   color: "#ff8d07",
      //   dataPoints: [
      //     { x: new Date(2017, 0, 3), y: 510 },
      //     { x: new Date(2017, 0, 4), y: 560 },
      //     { x: new Date(2017, 0, 5), y: 540 },
      //     { x: new Date(2017, 0, 6), y: 558 },
      //     { x: new Date(2017, 0, 7), y: 544 },
      //     { x: new Date(2017, 0, 8), y: 693 },
      //     { x: new Date(2017, 0, 9), y: 657 },
      //     { x: new Date(2017, 0, 10), y: 663 },
      //     { x: new Date(2017, 0, 11), y: 639 },
      //     { x: new Date(2017, 0, 12), y: 673 },
      //     { x: new Date(2017, 0, 13), y: 660 },
      //     { x: new Date(2017, 0, 14), y: 562 },
      //     { x: new Date(2017, 0, 15), y: 643 },
      //     { x: new Date(2017, 0, 16), y: 570 }
      //   ]
      // }]
    });
    chart.render();




  }

$(function() {
  $("#datepicker_start").datepicker();
});
$(function() {
  $("#datepicker_end").datepicker();
});

</script>