<div class="analytics_holder">
  <div class="analytics_time_select" >
    <%= form_tag({:controller => 'analytics', :action => 'overall'}, :class => "analytics_form") do%>
      期間： <input type="text" id="datepicker_start" name="start_time" size="15" value=<%= @start_time %>> ー 
      <input type="text" id="datepicker_end" name="end_time" size="15" value= <%=@end_time %> >
      <input type="submit" value="適用">
    <% end %>
    <div class="clearfix"></div>
  </div>

  <%= render 'analytics'%>


  <div class="analytics_container c_align" style="float: left; width: 80%; background-color: #6c6c70; margin-bottom: 30px;">
    <%= form_tag("/analytics/teams", method: :get) do %>
      <div class="toolbox center" >
        <table class="admin_table width-30-percent"  style="border: 0px solid black">
          <tr style="border: 0px solid black">
            <td style="border: 0px solid black">
              <select class="target_select_department width-100-percent" name="department_id">
                <option value="">選択してください</option>
                <% @departments.each do |dep| %>
                  <% if @team.department.id == dep.id %>
                    <option value="<%= dep.id %>" selected><%= dep.dep_name %></option>
                  <% else %>
                    <option value="<%= dep.id %>"><%= dep.dep_name %></option>
                  <% end %>
                <% end %>
              </select>
            </td>
            <td style="border: 0px solid black">
              <select class="target_select_team width-100-percent" name="team_id">
                <% if @teams && @teams.count > 0 %>
                  <% @teams.each do |team| %>
                    <% if @team.id == team.id %>
                      <option value="<%= team.id %>" selected><%= team.team_name %></option>
                    <% else %>
                      <option value="<%= team.id %>"><%= team.team_name %></option>
                    <% end %>
                  <% end %>
                <% end %>
              </select>
            </td>
            <td style="border: 0px solid black">
              <p align="center">
                <input type="submit" value="送信" class="btn" />
              </p>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
    <div id="top_receiver" class="analytics_allhashtag_float" style="min-height: 450px; width: 100%;"></div>
    <div id="top_receiver_points" class="analytics_allhashtag_float" style="min-height: 450px; width: 100%;"></div>
  </div>
</div>



<script type="text/javascript">
  $(".btn_back").click(function() {
    window.location = "/company/employees";
  });

$(".target_select_department").change(function(){
  $(".target_select_team").empty();
  $.ajax({
    url: "/select_target_department",
    type: "POST",
    data: {id : $(this).val()
  },
  success: function(data) {
    $.each(data, function(key, value){
      $(".target_select_team").append('<option value="'+ value[0] + '">' + value[1] + '</option>');
    });
  },
  error: function(data) {
    alert("チームが見つかりませんでした");
  }
  });
});

  window.onload = function () {
    var chart = new CanvasJS.Chart("top_receiver", {
      backgroundColor: "#3a3a3c",
      animationEnabled: true, 
      animationDuration: 1000,
      title:{
        text: "チーム内利用回数",
        fontSize: 16,
        fontColor: "#E0E0E3"
      },
      axisX:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
        },
      axisY:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
      },
      dataPointMaxWidth: 15,
      dataPointMinWidth: 15,
      dataPointWidth: 15,
      data: [              
      {
        type: "line",
        color: "#ff8d07",
        dataPoints: [
          <% @posts.each do |key, value| %>
            { label: "<%= key.strftime("%m/%d") %>",  y: <%= value %>, },
          <% end %>
        ]
      }
      ]
    });
    chart.render();

    var chart = new CanvasJS.Chart("top_receiver_points", {
      backgroundColor: "#3a3a3c",
      animationEnabled: true, 
      animationDuration: 1000,
      title:{
        text: "チーム内流通ポイント数",
        fontSize: 16,
        fontColor: "#E0E0E3"
      },
      axisX:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
        },
      axisY:{
        labelAutoFit: false, 
        labelFontSize: 12,
        labelFontColor: "#E0E0E3", 
        },
      dataPointMaxWidth: 15,
      dataPointMinWidth: 15,
      dataPointWidth: 15,
      data: [              
      {
        type: "line",
        color: "#ff8d07",
        dataPoints: [
          <% @points.each do |key, value| %>
            { label: "<%= key.strftime("%m/%d") %>",  y: <%= value %>, },
          <% end %>
        ]
      }
      ]
    });
    chart.render();
  }

$(function() {
  $("#datepicker_start").datepicker();
});
$(function() {
  $("#datepicker_end").datepicker();
});


</script>