<div class="analytics_holder">
  <div class="analytics_time_select" >
    <%= form_tag({:controller => 'analytics', :action => 'user'}, remote: true, :class => "analytics_form") do%>
      期間： <input type="text" id="datepicker_start" name="start_time" size="15" value=<%= @start_time %>> ー 
      <input type="text" id="datepicker_end" name="end_time" size="15" value= <%=@end_time %> >
      <input type="submit" value="適用">
    <% end %>
    <div class="clearfix"></div>
  </div>

  <%= render 'analytics'%>

  <div class="analytics_user_container" style="width: 85%;">
    <div class="analytics_top">
      <div class="analytics_picture" style="width: 15%">
        <img src="<%= @user.img_src %>" class="radius10" width="160px" height="160px"/>
      </div>
      <div class="analytics_profile" style="width: 20%">
        <h2><%= @user_name %></h2>
        <h3><%= @user_gender %></h3>
        <h3>誕生日：<%= @user.birthday %></h3>
        <h3>貯まったポイント：<%= @user.in_points %></h3>
        <h3>贈れるポイント：<%= @user.out_points %></h3>
      </div>

      <div class="analytics_post_toget" style="width: 27%;">
        <h4>最近もらった投稿</h4>
        <% @post_toget.first(5).reverse_each do |post| %>
        <div class="analytics_post_wrapper">
          <div class="analytics_post_top" >
            <img src="<%= post.user.img_src %>"  width="30px" height="30px">
            <p><%= post.user.name %>からのWow</p>
            <div class="analytics_clearfix"></div>
          </div>
          <div class="analytics_post_bottom" >
            <p><%= post.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="analytics_post_togive" style="width: 27%">
        <h4>最近贈った投稿</h4>
        <% @post_togive.first(5).reverse_each do |post| %>
        <div class="analytics_post_wrapper">
          <div class="analytics_post_top" >
            <img src="<%= post.user.img_src %>" width="30px" height="30px">
            <p><%= post.receiver.name %>へのWow</p>
            <div class="analytics_clearfix"></div>
          </div>
          <div class="analytics_post_bottom" >
            <p><%= post.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="analytics_clearfix"></div>
    </div>
    <div class="analytics_clearfix"></div>

    <div class="analytics_middle" style="width: 100%;">
      <div id="analytics_useage" style="min-height: 450px;"></div>
    </div> 
    <div class="analytics_clearfix"></div>

    <div class="analytics_bottom" style="width: 100%;">
      <div id="company_hashtag" style="min-height: 450px;"></div>
      <div id="all_hashtags" style="min-height: 450px;"></div>
    </div>
    <div class="analytics_clearfix"></div>
   
  </div>
  <div class="analytics_clearfix"></div>
</div>


<script type="text/javascript">

window.onload = function () {
  var chart = new CanvasJS.Chart("analytics_useage", {
    backgroundColor: "#3a3a3c",
    animationEnabled: true, 
    animationDuration: 3000,
    title:{
      text: "ポイント取得回数",
      fontSize: 16,
      fontColor: "#E0E0E3"
    },
    axisX:{
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
      axisY:{
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
    dataPointMaxWidth: 15,
    dataPointMinWidth: 15,
    dataPointWidth: 15,
    data: [              
    {
      type: "area",
      color: "#ff8d07",
      dataPoints: [
        <% @hash.each do |key, value| %>
        { label: "<%= key.strftime("%m/%d") %>",  y: <%= value %>, },
        <% end %>
      ]
    }
    ]
  });
  chart.render();

  var chart = new CanvasJS.Chart("company_hashtag", {
    backgroundColor: "#3a3a3c",
    animationEnabled: true, 
    animationDuration: 3000,
    title:{
      text: "会社のコアバリュー",
      fontSize: 16,
      fontColor: "#E0E0E3"
    },
    axisX:{
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
      axisY:{
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
    dataPointMaxWidth: 15,
    dataPointMinWidth: 15,
    dataPointWidth: 15,
    data: [              
    {
      // Change type to "doughnut", "line", "splineArea", etc.
      type: "bar",
      color: "#ff8d07",
      dataPoints: [
        <% @company_hash_custom.each do |key, value| %>
        { label: "<%= key %>",  y: <%= value %>, },
        <% end %>
      ]
    }
    ]
  });
  chart.render();

  var chart = new CanvasJS.Chart("all_hashtags", {
    backgroundColor: "#3a3a3c",
    animationEnabled: true, 
    animationDuration: 3000,
    title:{
      text: "全てのハッシュタグ",
      fontSize: 16,
      fontColor: "#E0E0E3"
    },
    axisX:{
      reversed: true,
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
      axisY:{
      labelAutoFit: false, 
      labelFontSize: 12,
      labelFontColor: "#E0E0E3", 
      },
    dataPointMaxWidth: 15,
    dataPointMinWidth: 15,
    dataPointWidth: 15,
    data: [              
    {
      // Change type to "doughnut", "line", "splineArea", etc.
      type: "bar",
      color: "#ff8d07",
      dataPoints: [
        <% @all_hashtags_custom.first(10).each do |key, value| %>
        { label: "<%= key %>",  y: <%= value %>, },
        <% end %>
      ]
    }
    ]
  });
  chart.render();

}

$(function() {
  $("#datepicker_start").datepicker();
});
$(function() {
  $("#datepicker_end").datepicker();
});

</script>