<div id="wrapper">
<div id="contents">
  <div class="row">
    <div class="col-4 chose_box">
      <%= link_to "もらった投稿", "/analytics/user/#{@userid}/received", :class => "receiving_box" %>
      <%= link_to "贈った投稿", "/analytics/user/#{@userid}/given", :class => "giving_box" ,:style => "background-color:white;" %>
      <%= link_to "管理画面", "/analytics/user/#{@userid}", :class => "present_box" %>
    </div>
    <div class="analytics_clearfix"></div>
    
    <div class="mypage row">
    <div class="rightbox col-4">
      <div class="title"> 最も褒めている人 </div>
      <div class="profilebox">
        <% @top_givers.each do | item | %>
          <div class="ranking">
            <div class="left">
              <img src="<%= item[:img_src] %>" width="28" height="28" class="radius5"/>
            </div>
            <div class="right">
              <%= item[:name] %>
              <div class="score"><%= item[:count] %></div>
            </div>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div><br>

      <div class="title"> 褒めているポイント </div>
      <div class="profilebox">
        <% @top_hashtags.each do | k, v | %>
        <div class="ranking">
          <div class="left"><%= k %> </div>
          <div class="right"> 
            <div class="score"><%= v %></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <% end %>
      </div><br>
    </div>

    <div class="leftbox col-8">
    <div class="timeline">
      <div class="pagination" style="float:right">
        <% if @total_pages > 8 %>
          <% unless @page_now == 1 %>
            <a href="<%= "#{@prizy_url}/profile/?page=1" %>">最初</a>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@previous_page}" %>">前へ</a>
          <% end %>
          <a href="<%= "#{@prizy_url}/profile/?page=#{@page_now}" %>"><%= @page_now %></a>
          <% unless @page_now == @total_pages %>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@next_page}" %>">次へ</a>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@total_pages}" %>">最後</a>
          <% end %>
        <% else %>
          <% (1..@total_pages).each do | i | %>
            <a href="<%= "#{@prizy_url}/profile/?page=#{i}" %>"><%= i %></a>
          <% end %>
        <% end %>
      </div><br>
      <div class="clearfix"></div>
      <%= render 'bottomprofile' %>
      <div class="pagination" style="float:right">
        <% (1..@total_pages).each do | i | %>
          <a href="<%= "#{@prizy_url}/profile/?page=#{i}" %>"><%= i %></a>
        <% end %>
      </div><br>
      <div class="clearfix"></div>
    </div><!-- timeline -->
    </div>
    
    </div>
  </div><!-- row -->
</div> <!-- contents -->
</div> <!-- wrapper -->