<div id="admin_wrapper">
  <%= render "/company/admin_subheader" %>

	<div id="admin_contents" class="c_align">
	  <h3>ブログ</h3>
	  <div class="margin-10">
	    <%= link_to "+ 記事を作成する", company_article_new_path, {class: "a_btncmn radius5 width-250"} %>
	    <%= link_to "+ カジュアル記事一覧", company_casual_articles_path, {class: "a_btncmn radius5 width-250"} %>
	    <%= link_to "+ カテゴリーを登録・編集する", company_categories_path, {class: "a_btncmn radius5 width-250"} %>
	    <%= link_to "+ 社員からの投稿を見る", company_user_posted_contents_path, {class: "a_btncmn radius5 width-250"} %>
	  </div>

	  <% if @articles.count == 0 %>
	    <h3>ニュース記事が作成されていません</h3>
	  <% else %>
		  <h3 class="margin-bottom-10">作成したニュース記事一覧</h3>
		  <p>現在の公開記事数: <%= @articles.where(is_published: 1).count %>記事</p>
		  <div style="margin: 10px auto 0px;">
		    <div >
			  <table class="admin_table c_align width-90-percent">
			  	<tr>
			  	  <th scope="row width-8-percent">作成日</th>
			  	  <th scope="row width-30-percent">タイトル</th>
			  	  <th scope="row width-8-percent">いいね数</th>
			  	  <th scope="row width-8-percent">PV数</th>
			  	  <th scope="row width-8-percent">公開/未公開</th>
			  	  <th scope="row width-8-percent">Newバッチ</th>
			  	  <th scope="row width-8-percent">編集</th>
			  	  <th scope="row width-8-percent">削除</th>
			  	  <th scope="row width-8-percent">メール送信</th>
			  	</tr>
			  	<% @articles.each do |article| %>
				  	<tr>
				  	  <td class="width-8-percent"><%= article.updated_at.strftime("%Y/%m/%d") %></td>
				  	  <td class="width-30-percent"><%= link_to article.title.truncate(35), "/company/article/#{article.id}" %></td>
				  	  <td class="width-8-percent"><%= article.article_likes.count %></td>
				  	  <td class="width-8-percent"><%= number_with_delimiter(article.impressionist_count) %></td>
				  	  <td class="width-8-percent">
				  	    <% if article.is_published == 0 %>
				  	    	<%= link_to "未公開", "/company/article/#{article.id}/publish",{method: :post, title: "公開する", data: { :confirm => "選択した記事を公開しますか？"}} %>
				  	    <% else %>
				  	      <%= link_to "公開済み", "/company/article/#{article.id}/publish", {method: :post, title: "非公開にする", data: { :confirm => "選択した記事を非公開にしますか？"}} %>
				  	    <% end %>
				  	  </td>
				  	  <td class="width-8-percent">
				  	    <% if article.is_new == 1 %>
				  	    	<%= link_to "New", "/company/article/#{article.id}/update_is_new",{method: :post, title: "バッチを外す", data: { :confirm => "選択した記事から「New」バッチを外しますか？"}} %>
				  	    <% else %>
				  	      <%= link_to "-", "/company/article/#{article.id}/update_is_new", {method: :post, title: "バッチをつける", data: { :confirm => "選択した記事に「New」バッチをつけますか？"}} %>
				  	    <% end %>
				  	  </td>
				  	  <td class="width-8-percent"><%= link_to "編集", "/company/article/#{article.id}/edit" %></td>
				  	  <td class="width-8-percent"><%= link_to "削除", "/company/article/#{article.id}/destory", method: :post %></td>
				  	  <td class="width-8-percent show-modal" id=<%= Rails.root.to_s + "/company/article/#{article.id}" %> value=<%= "#{article.title}" %>><%= link_to "メール送信", "#{article.id}" %></td>
				  	</tr>
			  	<% end %>
			  </table>
			</div>
	  <% end %>
	</div>
</div>

<div id="modalwin" class="modalwin hide">
  <a herf="#" class="modal-close"></a>
  <h1>メール送信</h1>
  <div class="modalwin-contents">
    <%= form_tag( "/company/article/send_release_mail", method: "post", id: "login_form" ) do %>
	    <div class="description">
	      <p>件名<br/>
	        <input autofocus="autofocus" type="text" name="subject" required size="50" placeholder="メッセージを入力してください" style="font-size: 14px; padding: 8px;border:1px gray solid;">
	      </p>
	      <p>内容<br/>
	        <textarea name="description" id="description" required rows="15" cols="75" style="font-size: 14px; padding: 8px;" placeholder="メッセージを入力してください"></textarea>
	      </p>
	    </div>
      <p align="right"><input type="submit" value="送信する"/></p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    // モーダルウィンドウを開く
    function showModal(event) {
      event.preventDefault();
      var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalwin');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
      function hideModal() {
        $('#shade').remove();
        $('#modalwin')
        .removeClass('show')
        .addClass('hide');
      }

      $('.show-modal').on('click', showModal);

			$('.show-modal').on('click', function(){
			    var url =  $(this).attr("id");
			    var title = $(this).attr("value")
          // $(".description textarea").attr("placeholder",id);
          $(".description textarea").val("新しい記事が公開されました！" + "\n" + "\n"  + title + "\n" + url);
			});
      // title.setAttribute("placeholder", "リンクタイトル");


    }());
</script>