<div id="admin_wrapper">
  <%= render "/company/admin_subheader" %>

  <div id="admin_contents" class="c_align"><br/>
    <div class="margin-10">
      <%= link_to "+ ニュース記事一覧", company_articles_path, {class: "a_btncmn radius5 width-250"} %>
      <%= link_to "+ カジュアル記事一覧", company_casual_articles_path, {class: "a_btncmn radius5 width-250"} %>
      <%= link_to "+ 社員からの投稿を見る", company_user_posted_contents_path, {class: "a_btncmn radius5 width-250"} %>
    </div>
    <div class="margin-top-10">
    <h3 class="margin-bottom-10">記事を作成する</h3>
    <%= form_tag(company_article_create_path, method: "post", :multipart => true) do %>
      <table class="article_table horizontal width-80-percent">
        <tr>
          <th class="width-20-percent">記事タイプ</th>
          <td>
            <input type="radio" name="is_casual" value="0" checked="checked">ニュース記事
            <input type="radio" name="is_casual" value="1">カジュアル記事
          </td>
        </tr>
        <tr>
          <th class="width-20-percent">タイトル</th>
          <td><input name="title" class="width-100-percent"></td>
        </tr>
        <tr>
          <th>ディスクリプション</th>
          <td><textarea name="description" class="min-height-200 width-100-percent"></textarea></td>
        </tr>
        <tr>
          <th>記事に登場する社員</th>
          <td style="display: block;">
            <input type="text" id="suggested_name" name="tags[]" size="100" placeholder="社員名を入力してください" autocomplete="on" data-user="<%= @user_fullnames %>" data-user-id="<%= @user_ids %>"/>
            <input type="button" value="追加" class="btn_change_password"/>
            <div id="suggest" style="display:none;"></div>
            <div id="adding_member"></div>
          </td>
        </tr>
        <tr>
          <th>メニュー</th>
          <td>
            <ul class="clearfix">
              <li class="title admin_menu c_align float_left margin-right-10">見出し</li>
              <li class="text admin_menu c_align float_left margin-right-10">テキスト</li>
              <li class="link admin_menu c_align float_left margin-right-10">リンク</li>
              <li class="quotation admin_menu c_align float_left margin-right-10">引用</li>
              <li class="image admin_menu c_align float_left">画像</li>
            </ul>
          </td>
        </tr>
      </table>
      <input class="c_align submit-btn" type="submit" value="作成する">
    <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
var num = 0;

  var user_datas = new Array();
  var user_names = $('#suggested_name').data('user');
  var user_ids = $('#suggested_name').data('user-id');
  for (var i=0; i < user_names.length; i++) {
    user_datas[user_names[i]] = user_ids[i];
  };

  $(function() {
    var target_user_names = $('#suggested_name').data('user');
    $( "#suggested_name" ).autocomplete({
      source: target_user_names
    });
  });

$('.admin_menu').click(function(){
  num++;
  var _num = String(num);
  if ($(this).hasClass("title")) {
    var element = document.createElement('input');
    element.setAttribute("name", "paragraph_titles["+ _num +"]"); 
    element.setAttribute("type", "text");
    element.setAttribute("class", "width-100-percent");
    var _content = $([
      "<tr>",
        "<th>見出し<br><button type='button' class='delete_question'>削除する</button></th>",
        "<td class='insert_element'>",
        "</td>",
      "</tr>"].join(""));
    $(".article_table").append(_content);
    $(".insert_element").append(element);
    $(".insert_element").removeClass("insert_element");

  } else if ($(this).hasClass("text")) {
    var element = document.createElement('textarea');
    element.setAttribute("name", "texts["+ _num +"]"); 
    element.setAttribute("type", "text");
    element.setAttribute("class", "width-100-percent height-200");
    var _content = $([
      "<tr>",
        "<th>テキスト<br><button type='button' class='delete_question'>削除する</button></th>",
        "<td class='insert_element'>",
        "</td>",
      "</tr>"].join(""));
    $(".article_table").append(_content);
    $(".insert_element").append(element);
    $(".insert_element").removeClass("insert_element");

  } else if ($(this).hasClass("link")) {
    var title = document.createElement('input');
    title.setAttribute("name", "links["+ _num +"][]"); 
    title.setAttribute("type", "text");
    title.setAttribute("placeholder", "リンクタイトル");
    title.setAttribute("class", "width-100-percent");
    var url = document.createElement('input');
    url.setAttribute("name", "links["+ _num +"][]"); 
    url.setAttribute("type", "text");
    url.setAttribute("placeholder", "リンク先のURL");
    url.setAttribute("class", "width-100-percent");
    var _content = $([
      "<tr>",
        "<th>リンク<br><button type='button' class='delete_question'>削除する</button></th>",
        "<td class='insert_element'>",
        "</td>",
      "</tr>"].join(""));
    $(".article_table").append(_content);
    $(".insert_element").append(title);
    $(".insert_element").append('<br>');
    $(".insert_element").append(url);
    $(".insert_element").removeClass("insert_element");

  } else if ($(this).hasClass("quotation")) {
    var title = document.createElement('textarea');
    title.setAttribute("name", "quotations["+ _num +"][]"); 
    title.setAttribute("placeholder", "引用の内容");
    title.setAttribute("class", "width-100-percent height-200");
    var url = document.createElement('input');
    url.setAttribute("name", "quotations["+ _num +"][]"); 
    url.setAttribute("type", "text");
    url.setAttribute("placeholder", "引用元ののURL");
    url.setAttribute("class", "width-100-percent");
    var _content = $([
      "<tr>",
        "<th>引用<br><button type='button' class='delete_question'>削除する</button></th>",
        "<td class='insert_element'>",
        "</td>",
      "</tr>"].join(""));
    $(".article_table").append(_content);
    $(".insert_element").append(title);
    $(".insert_element").append('<br>');
    $(".insert_element").append(url);
    $(".insert_element").removeClass("insert_element");
  } else {
    var image = document.createElement('input');
    image.setAttribute("type", "file");
    image.setAttribute("multiple", "true");
    image.setAttribute("name", "images["+ _num +"]");
    image.setAttribute("required", "required");
    var _content = $([
      "<tr>",
        "<th>画像<br/>横サイズのみ固定の300pxになります<br/><button type='button' class='delete_question'>削除する</button></th>",
        "<td class='insert_element'>",
        "</td>",
      "</tr>"].join(""));
    $(".article_table").append(_content);
    $(".insert_element").append(image);
    $(".insert_element").append('<br>');
    $(".insert_element").append(title);
    $(".insert_element").append('<br>');
    $(".insert_element").append(url);
    $(".insert_element").removeClass("insert_element");
  }
});

$('.article_table').on('click', '.delete_question', function(){
  $(this).parent().parent().remove();
});
$(".btn_change_password").click(function() {
  var addedname = $(':text[id="suggested_name"]').val();
  var element = document.createElement('input');
  element.setAttribute("name", "tags[]"); 
  element.setAttribute("value", addedname);
  element.setAttribute("type", "text");
  element.setAttribute("size", "100"); 
  element.setAttribute("style", "display:block;"); 
  $("#adding_member").append(element);
  var target_user_id = user_datas[addedname];
  $("#adding_member").append($("<input type='hidden' name='tag_user_ids[]'/>").val(target_user_id));
  $(':text[id="suggested_name"]').val("");
});
</script>