<div id="admin_wrapper">
  <%= render "/company/admin_subheader" %>

  <div id="admin_contents" class="c_align"><br/>
    <div class="margin-10">
      <%= link_to "+ ニュース記事一覧", company_articles_path, {class: "a_btncmn radius5 width-250"} %>
      <%= link_to "+ カジュアル記事一覧", company_casual_articles_path, {class: "a_btncmn radius5 width-250"} %>
      <%= link_to "+ 社員からの投稿を見る", company_user_posted_contents_path, {class: "a_btncmn radius5 width-250"} %>
    </div>

    <div class="margin-top-10">
    <h3 class="margin-bottom-10">記事を作成する</h3>
    <% if flash[:notice] %><p class="c_align notice" style="color: red;"><b><i><%= raw flash[:notice] %></i></b></p><br><% end %>
    <%= form_tag(company_article_create_path, method: "post", :multipart => true) do %>
      <table class="article_table horizontal width-80-percent">
        <tr>
          <th class="width-20-percent">記事タイプ</th>
          <td>
            <input type="radio" name="is_casual" value="0" checked="checked">ニュース記事
            <input type="radio" name="is_casual" value="1">カジュアル記事
          </td>
        </tr>

        <tr>
          <th class="width-20-percent">タイトル</th>
          <td><input name="title" class="width-100-percent" required></td>
        </tr>

        <tr>
          <th>ディスクリプション</th>
          <td><textarea name="description" class="min-height-200 width-100-percent" required></textarea></td>
        </tr>

        <tr>
          <th>記事に登場する社員</th>
          <td style="display: block;">
            <input type="text" id="suggested_name" name="tags[]" size="100" placeholder="社員名を入力してください" autocomplete="on" data-user="<%= @user_fullnames %>" data-user-id="<%= @user_ids %>"/>
            <input type="button" value="追加" class="btn_change_password"/>

            <div id="suggest" style="display:none;"></div>
            <div id="adding_member"></div>
          </td>
        </tr>

        <tr>
          <th>メニュー</th>
          <td>
            <ul class="clearfix">
              <li class="title admin_menu c_align float_left margin-right-10">見出し</li>
              <li class="text admin_menu c_align float_left margin-right-10">テキスト</li>
              <li class="link admin_menu c_align float_left margin-right-10">リンク</li>
              <li class="quotation admin_menu c_align float_left margin-right-10">引用</li>
              <li class="image admin_menu c_align float_left margin-right-10">画像</li>
              <li class="nametag admin_menu c_align float_left" style="width: 90px;"></style>登場する社員</li>
            </ul>
          </td>
        </tr>

        <tr class="stop_move" style="display:none"><td></td></tr>

      </table>

      <input class="c_align submit-btn" type="submit" value="作成する">

    <% end %>

    </div>
  </div>
</div>


<script type="text/javascript">
var num = 0;

var user_datas = new Array();
var user_names = $('#suggested_name').data('user');
var user_ids = $('#suggested_name').data('user-id');

for (var i=0; i < user_names.length; i++) {
  user_datas[user_names[i]] = user_ids[i];
};

$(function() {
  var target_user_names = user_names;
  $( "#suggested_name" ).autocomplete({
    source: target_user_names
  });
});

function moveItem(thisItem, direction) {
  //tr item to be moved
  var item = thisItem.parent().parent();
  var multi_arr_names = ["links","quotations","nametag"];

  var current_elem;
  var current_place;
  var current_label;
  var current_name;
  var next_elem;
  var next_place;
  var next_label;
  var next_name

  var is_stop;
  var temp;
  var hasName;

  //get current element properties
  current_elem  = thisItem.parent().next().children(".param");

  //set variables if button up or down
  if (direction=="up") {
    is_stop   = item.prev().hasClass("stop_move"); 
    next_elem = item.prev().children().next().children(".param");
  } 
  else if (direction=="down") { 
    is_stop   = item.is(":last-child"); 
    next_elem = item.next().children().next().children(".param");
  }

  if (is_stop==false) {
    //properties of next and current item
    current_place = current_elem.attr("data-id");
    current_label = current_elem.attr("data-name");
    next_place = next_elem.attr("data-id");
    next_label = next_elem.attr("data-name");

    //for sinlge or multi-dimensional name attribute of the element
    //setting properties of next and current item
    next_name = next_label + "[" + current_place + "]";
    if($.inArray(next_label, multi_arr_names) != -1) {
      next_name = next_label + "[" + current_place + "][]";

      if(next_label=="nametag") {
        moveNametag(next_elem,current_place);
      }
    }

    current_name = current_label + "[" + next_place + "]";
    if($.inArray(current_label, multi_arr_names) != -1) {   
      current_name = current_label + "[" + next_place + "][]";

      if(current_label=="nametag") {
        moveNametag(current_elem,next_place);
      }
    }

    next_elem.attr("name", next_name);
    next_elem.attr("data-id", current_place);

    current_elem.attr("name", current_name);
    current_elem.attr("data-id", next_place);

    //move up or down action
    if      (direction=="up")   { item.prev().before(item); } 
    else if (direction=="down") { item.next().after(item); }
  }
}

function moveNametag(elem, place) {
  var temp_var;

  temp_var = elem.attr("data-sug-name");
  elem.attr("id", temp_var + "_" + place);

  temp_var = elem.siblings(".add_nametag").attr("data-name");
  elem.siblings(".add_nametag").attr("id", temp_var + "_" + place);

  elem.siblings(".btn_change_nametag").attr("data-id",place);

  temp_var = elem.siblings(".add_nametag").children("input").attr("data-name");
  elem.siblings(".add_nametag").children("input").attr("name", temp_var + "[" + place + "][]");
}

$('.article_table').on('click', '.btn_up', function(){
  moveItem($(this),"up");
});

$('.article_table').on('click', '.btn_down', function(){
  moveItem($(this),"down");
});

$('.admin_menu').click(function(){
  num++;
  var _num = String(num);

  if ($(this).hasClass("title")) {
    var element = document.createElement('input');
    element.setAttribute("name", "paragraph_titles["+ _num +"]"); 
    element.setAttribute("type", "text");
    element.setAttribute("class", "param width-100-percent");
    element.setAttribute("data-id",  _num);
    element.setAttribute("data-name", "paragraph_titles");

    var _content = $([
      "<tr>",
        "<th>見出し<br>",
        "<button type='button' class='delete_question'>削除する</button><br>",
        "<button type='button' class='btn_up'>↑</button><br>",
        "<button type='button' class='btn_down'>↓</button><br>",
        "</th>",
        "<td class='insert_element'>",
        "</td>",
      "</tr>"].join(""));

    $(".article_table").append(_content);
    $(".insert_element").append(element);
    $(".insert_element").removeClass("insert_element");

  } else if ($(this).hasClass("text")) {
    var element = document.createElement('textarea');
    element.setAttribute("name", "texts["+ _num +"]"); 
    element.setAttribute("type", "text");
    element.setAttribute("class", "param width-100-percent height-200");
    element.setAttribute("data-id",  _num);
    element.setAttribute("data-name", "texts");

    var _content = $([
      "<tr>",
        "<th>テキスト<br>",
        "<button type='button' class='delete_question'>削除する</button><br>",
        "<button type='button' class='btn_up'>↑</button><br>",
        "<button type='button' class='btn_down'>↓</button><br>",
        "</th>",
        "<td class='insert_element'>",
        "</td>",
      "</tr>"].join(""));

    $(".article_table").append(_content);
    $(".insert_element").append(element);
    $(".insert_element").removeClass("insert_element");

  } else if ($(this).hasClass("link")) {
    var title = document.createElement('input');
    title.setAttribute("name", "links["+ _num +"][]"); 
    title.setAttribute("type", "text");
    title.setAttribute("placeholder", "リンクタイトル");
    title.setAttribute("class", "param width-100-percent");
    title.setAttribute("data-id",  _num);
    title.setAttribute("data-name", "links");

    var url = document.createElement('input');
    url.setAttribute("name", "links["+ _num +"][]"); 
    url.setAttribute("type", "text");
    url.setAttribute("placeholder", "リンク先のURL");
    url.setAttribute("class", "param width-100-percent");
    url.setAttribute("data-id",  _num);
    url.setAttribute("data-name", "links");

    var _content = $([
      "<tr>",
          "<th>リンク<br>",
          "<button type='button' class='delete_question'>削除する</button><br>",
          "<button type='button' class='btn_up'>↑</button><br>",
          "<button type='button' class='btn_down'>↓</button><br>",
          "</th>",
          "<td class='insert_element'>",
          "</td>",
        "</tr>"].join(""));

    $(".article_table").append(_content);
    $(".insert_element").append(title);
    $(".insert_element").append('<br>');
    $(".insert_element").append(url);
    $(".insert_element").removeClass("insert_element");

  } else if ($(this).hasClass("quotation")) {
    var title = document.createElement('textarea');
    title.setAttribute("name", "quotations["+ _num +"][]"); 
    title.setAttribute("placeholder", "引用の内容");
    title.setAttribute("class", "param width-100-percent height-200");
    title.setAttribute("data-id",  _num);
    title.setAttribute("data-name", "quotations");

    var url = document.createElement('input');
    url.setAttribute("name", "quotations["+ _num +"][]"); 
    url.setAttribute("type", "text");
    url.setAttribute("placeholder", "引用元ののURL");
    url.setAttribute("class", "param width-100-percent");
    url.setAttribute("data-id",  _num);
    url.setAttribute("data-name", "quotations");

    var _content = $([
      "<tr>",
          "<th>引用<br>",
          "<button type='button' class='delete_question'>削除する</button><br>",
          "<button type='button' class='btn_up'>↑</button><br>",
          "<button type='button' class='btn_down'>↓</button><br>",
          "</th>",
          "<td class='insert_element'>",
          "</td>",
        "</tr>"].join(""));

    $(".article_table").append(_content);
    $(".insert_element").append(title);
    $(".insert_element").append('<br>');
    $(".insert_element").append(url);
    $(".insert_element").removeClass("insert_element");

  } else if ($(this).hasClass("image")) {
    var image = document.createElement('input');
    image.setAttribute("type", "file");
    image.setAttribute("multiple", "true");
    image.setAttribute("name", "images["+ _num +"]");
    image.setAttribute("required", "required");
    image.setAttribute("class", "param");
    image.setAttribute("data-id",  _num);
    image.setAttribute("data-name", "images");

    var _content = $([
      "<tr>",
          "<th>画像<br>",
          "<button type='button' class='delete_question'>削除する</button><br>",
          "<button type='button' class='btn_up'>↑</button><br>",
          "<button type='button' class='btn_down'>↓</button><br>",
          "</th>",
          "<td class='insert_element'>",
          "</td>",
        "</tr>"].join(""));

    $(".article_table").append(_content);
    $(".insert_element").append(image);
    $(".insert_element").append('<br>');
    $(".insert_element").append(title);
    $(".insert_element").append('<br>');
    $(".insert_element").append(url);
    $(".insert_element").removeClass("insert_element");

  } else if ($(this).hasClass("nametag")) {
    var title = document.createElement('input');
    title.setAttribute("type", "text");
    title.setAttribute("id", "suggest_nametag_"+ _num);
    title.setAttribute("class", "param suggest_nametag");
    title.setAttribute("name", "nametag["+ _num +"][]");
    title.setAttribute("size", "100"); 
    title.setAttribute("placeholder", "社員名を入力してください");
    title.setAttribute("autocomplete", "on");
    title.setAttribute("data-id",  _num);
    title.setAttribute("data-sug-name", "suggest_nametag");
    title.setAttribute("data-name", "nametag");

    var button = document.createElement('input');
    button.setAttribute("value", "追加");
    button.setAttribute("type", "button");
    button.setAttribute("class", "btn_change_nametag");
    button.setAttribute("data-id", num);

    var _content = $([
      "<tr>",
          "<th>登場する社員<br>",
          "<button type='button' class='delete_question'>削除する</button><br>",
          "<button type='button' class='btn_up'>↑</button><br>",
          "<button type='button' class='btn_down'>↓</button><br>",
          "</th>",
          "<td class='insert_element'>",
          "</td>",
        "</tr>"].join(""));

    $(".article_table").append(_content);
    $(".insert_element").append(title);
    $(".insert_element").append('<br>');
    $(".insert_element").append(button);
    $(".insert_element").append('<div data-name="adding_nametag" class="add_nametag" id="adding_nametag_'+ num +'"></div>');
    $(".insert_element").removeClass("insert_element");
    
    for (var i = 0; i < num; i++) {
      $( "#suggest_nametag_" + num ).autocomplete({
        source: user_names
      });
    }
  }
});

//for general tags
var tag_id = 0;
$(".btn_change_password").click(function() {
  var addedname = $(':text[id="suggested_name"]').val();
  $("#adding_member").append("<span class='tag margin-bottom-5 margin-right-5' style='cursor: pointer;font-size: 10px;padding: 3px;border-radius: 3px;border: 1px solid #ff8d07;' data-tag_id=" + tag_id + ">" + addedname + "</span>");

  var target_user_id = user_datas[addedname];
  $("#adding_member").append($("<input id=tag_"+ tag_id + " type='hidden' name='tag_user_ids[]'/>").val(target_user_id));
  $(':text[id="suggested_name"]').val("");
  tag_id ++;
});

//for nametags per title
$(".article_table").on("click", ".btn_change_nametag", function(){
  var dataId = $(this).attr("data-id");
  
  var addednametag = $(':text[id="suggest_nametag_' + dataId + '"]').val();
  $("#adding_nametag_"+ dataId).append("<span class='tag margin-bottom-5 margin-right-5' style='cursor: pointer;font-size: 10px;padding: 3px;border-radius: 3px;border: 1px solid #ff8d07;'>" + addednametag + "</span>");

  var target_user_id = user_datas[addednametag];
  $("#adding_nametag_"+ dataId).append($("<input id=tag_"+ tag_id + " type='hidden' name='nametag_user_ids[" + dataId + "][]' data-name='nametag_user_ids'/>").val(target_user_id));
  $(':text[id="suggest_nametag_' + dataId + '"]').val("");

  tag_id++;
});

$(document).on('click','.tag', function() {
  this_tag_id = $(this).data("tag_id");
  $(this).remove();
  $("#tag_" + this_tag_id).remove();
});

$('.article_table').on('click', '.delete_question', function(){
  $(this).parent().parent().remove();
});
</script>