<div class="time_line_wrapper">
<div id="wrapper">
<div id="contents">
<% if flash[:notice] %><p class="c_align notice" style="color: red;"><b><i><%= flash[:notice] %></i></b></p><% end %>
<div style="text-align:center"><b><i><span class="notice"></span></i></b></div><br>
  <div class="mypage row">
    <% if @banner %>
      <%= image_tag @banner.img_src , class: "width-100-percent"%>
    <% else %>
      <img src="https://btoa-img.s3-ap-northeast-1.amazonaws.com/company/banner_no_image" style="width: 100%;" />
    <% end %>

    <div class="clearfix margin-top-10" style="width: 100%;">
      <div class="rightbox col-4" >
        <div class="title"> 今週、<%= @receiver_ratio[0] %>回「ありがとう」をもらっています！</div>
        <div class="profilebox">
          <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
          <% if @receiver_ratio[1] == "-" %>
            <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b></b></span><span style="font-size: 12px; color: #808080"><br><br>翌週から結果を表示します！</span>
          <% elsif @receiver_ratio[1] > 0 %>
            <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週よりも褒められています！</span>
          <% elsif @receiver_ratio[1] == 0 %>
            <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
          <% else %>
            <span style="color: #2d87e2; font-size: 36px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: blue; font-size: 40px; font-weight: 900"><b>↓</b></span><span style="font-size: 12px; color: #808080"><br><br>先週に比べマイナスになっています><</span>
          <% end %>
        </div>
      </div><br>
      <div class="title"> 今週、<%= @giver_ratio[0] %>回「ありがとう」を伝えています！</div>
        <div class="profilebox">
          <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
            <% if @giver_ratio[1] == "-" %>
              <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b></b></span><span style="font-size: 12px; color: #808080"><br><br>翌週から結果を表示します！</span>
            <% elsif @giver_ratio[1] > 0 %>
              <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週よりも感謝を伝えています！</span>
            <% elsif @giver_ratio[1] == 0 %>
              <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
            <% else %>
              <span style="color: #2d87e2; font-size: 36px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: blue; font-size: 40px; font-weight: 900"><b>↓</b></span><span style="font-size: 12px; color: #808080"><br><br>先週に比べマイナスになっています><</span>
            <% end %>
          </div>
        </div><br>
      </div>

      <div class="leftbox col-8" style="padding-left:0;">
        <div class="margin-bottom-10">
          <%= link_to profile_articles_path, :class => "article_box bkgc_white" do %>
            ニュース<br/>トピック
          <% end %>
          <%= link_to "/profile", :class => "receiving_box" do %>
            もらったメッセージ<br/>を見る
          <% end %>
          <%= link_to "/profile/given", :class => "giving_box" do %>
            贈ったメッセージ<br/>を見る
          <% end %>
          <%= link_to "/rewards/status", :class => "present_box" do %>
            メッセージ<br/>を贈る
          <% end %>
        </div>

        <div class="blog_article_index">
          <br/>
          <div class="blog_article_content">
            <% if @article.is_published == 0 %>
              <h2 class="color-red margin-bottom-5">※この記事は社員には公開されていません</h2>
            <% end %>
            <p class="blog_article_content_time margin-bottom-5"><%= @article.updated_at.strftime("%Y年%m月%d日") %></p>
            <h2 class="blog_article_content_title"><%= @article.title %></h2>
            <p class="blog_article_content_description"><%= @article.description %></p>
              <% @all_contents.each do |item| %>
                <% if item[:data_type] == "title" %>
                  <div class="blog_article_content_head">
                    <h3><%= item[:title] %></h3>
                  </div>
                <% elsif item[:data_type] == "text" %>
                  <div class="blog_article_content_text">
                    <p><%= raw(item[:text].gsub(/\n/, '<br>'))  %></p>
                  </div>
                <% elsif item[:data_type] == "link" %>
                  <div class="blog_article_content_link">
                    <%= link_to "#{item[:link_title]}", "#{:link_url}" %>
                  </div>
                <% elsif item[:data_type] == "quotation" %>
                  <div class="blog_article_content_quotation" >
                    <p><%= item[:quotation_title] %></p>
                  </div>
                  <p class="text_refferal"><span>引用元：<%= link_to "#{item[:quotation_url]}", "#{item[:quotation_url]}", :target => "_blank" %></span></p>
                <% elsif item[:data_type] == "image" %>
                  <div>
                    <%= image_tag item[:img_src], class: "article_image", size: "225x150" %>
                  </div>
                <% end %>
              <% end %>
              <div class="prizy_img">
                <% if @tags.present? && @tags.pluck(:tag_name).include?("Prizy") %>
                  <%= link_to "https://www.prizy.me/" do %>
                    <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/dev-better-engage/banner_pc_02.png" %>
                  <% end %>
                <% end %>
              </div>
              <div class="kudos">
                <% if @article.article_likes.select { |like| like.user_id == @user_id && like.is_liked == 0 }.count > 0 %>
                  <a data-id="<%= @article.id %>" class="a_btn btn_unlike"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_on.png"/></a>
                <% else %>
                  <a data-id="<%= @article.id %>" class="a_btn btn_like"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_off.png"/></a>
                <% end %>
                <span class="kudos_count"><%= @article.article_likes.where(is_liked: 1).count %>件</span>
              </div>
              <div class="article_tag_wrapper">
                <div class="article_tags">
                  <p>この記事に含まれるタグ</p>
                  <ul class="clearfix">
                    <% @tags.each do |tag| %>
                      <%= link_to "/blog/tag/#{tag.id}" do %>
                        <li class="margin-bottom-5"><span><%= tag.tag_name %></span></li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(".btn_like").mouseup(function() {
  var article_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/company/article/like",
    data: {article_id: article_id},
    success: function(data) {
      window.location.reload(); 
    }
  });
});

$(".btn_unlike").mouseup(function() {
  var article_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/company/article/like",
    data: {'article_id': article_id},
    success: function(data) {
      window.location.reload(); 
    }
  });
});
</script>