<div class="time_line_wrapper">
  <div id="wrapper">
    <div id="contents">
      <% if flash[:result] %><p class="c_align notice" style="color: red;"><b><i><%= flash[:result] %></i></b></p><% end %>
      <% if flash[:notice] %><p class="c_align notice" style="color: red;"><b><i><%= flash[:notice] %></i></b></p><% end %>
      <div style="text-align:center"><b><i><span class="notice"></span></i></b></div><br>
      <div class="mypage row">
        <%= render partial: '/users/banner', locals: {banner: @banner} %>
        <div class="clearfix margin-top-10" style="width: 100%;">
          <div class="rightbox col-4" >
            <div class="title"> 今までもらった「ありがとう」</div>
            <div class="profilebox">
              <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
                <% if @user.in_points != 0 %>
                  <span style="color: #ff8d07; font-size: 40px"><b><%= @user.in_points %></b></span><span style="color: red; font-size: 40px; font-weight: 900"></span>
                <% else %>
                  <span style="font-size: 12px; color: #808080">現在集計中です！！</span><br/><br/>
                <% end %>
              </div>
            </div><br>
            <div class="title"> 今週、<%= @receiver_ratio[0] %>回「ありがとう」をもらっています！</div>
              <div class="profilebox">
                <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
                  <% if @receiver_ratio[1] == "-" %>
                    <span class="font-size-40" style="color: #ff8d07;"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span>
                    <span class="font-size-40" style="color: red;font-weight: 900"><b></b></span>
                    <span class="font-size-12" style="color: #808080"><br><br>翌週から結果を表示します！</span>
                  <% elsif @receiver_ratio[1] > 100 %>
                    <span class="font-size-40" style="color: #ff8d07;"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span>
                    <span class="font-size-40" style="color: red;font-weight: 900"><b>↑</b></span>
                    <span class="font-size-12" style="color: #808080"><br><br>先週よりも褒められています！</span>
                  <% elsif @receiver_ratio[1] == 0 %>
                    <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
                  <% else %>
                    <span class="font-size-36" style="color: #2d87e2;"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span>
                    <span class="font-size-40" style="color: blue;font-weight: 900"><b>↓</b></span>
                    <span class="font-size-12" style="color: #808080"><br><br>先週に比べマイナスになっています><</span>
                  <% end %>
                </div>
              </div><br>
              <div class="title"> 今週、<%= @giver_ratio[0] %>回「ありがとう」を伝えています！</div>
              <div class="profilebox">
                <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
                  <% if @giver_ratio[1] == "-" %>
                    <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b></b></span><span style="font-size: 12px; color: #808080"><br><br>翌週から結果を表示します！</span>
                  <% elsif @giver_ratio[1] > 100 %>
                    <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週よりも感謝を伝えています！</span>
                  <% elsif @giver_ratio[1] == 0 %>
                    <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
                  <% else %>
                    <span style="color: #2d87e2; font-size: 36px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: blue; font-size: 40px; font-weight: 900"><b>↓</b></span><span style="font-size: 12px; color: #808080"><br><br>先週に比べマイナスになっています><</span>
                  <% end %>
                </div>
              </div><br>
              <div class="title" style="background-color: #ff8290;">日々の感謝さん</div>
              <div class="user_postbox">
                <% if @user_posted_contents.count > 0 %>
                  <% @user_posted_contents.each do |article| %>
                    <%= link_to "/company/article/#{article.id}" do %>
                      <div class="each_post clearfix" style="padding: 0px;">
                        <div class="each_post_left" style="float: left;">
                          <% if article.images.present? %>
                            <%= image_tag @first_images[article.id], size: "100x70" %>
                          <% else %>
                            <img src="https://btoa-img.s3-ap-northeast-1.amazonaws.com/company/banner_no_image" width="100" height="70" />
                          <% end %>
                        </div>
                        <div class="each_post_right" style="float: left;">
                          <span class="date color-black"><%= article.updated_at.strftime("%Y.%m.%d") %></span>
                          <h3 class="color-black pc_view" style="word-break:break-all;color: black;font-weight: normal;"><%= article.title.truncate(30) %></h3>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <div class="each_article clearfix">
                    <p>記事が投稿されていません</p>
                  </div>
                <% end %>
              </div>
              <div class="title border-radius-5 show-user-post dropbtn width-60-percent" style="margin:0px auto;background-color: #ff8d07;font-size:13px;">視聴者投稿はこちら</div>
              </div>

              <div class="leftbox col-8" style="padding-left:0;">
                <div class="clearfix margin-bottom-10 pc_view width-100-percent">
                  <%= link_to profile_articles_path, :class => "article_box bkgc_white" do %>
                    ニュース<br/>トピック
                  <% end %>
                  <%= link_to "/profile", :class => "receiving_box" do %>
                    もらったメッセージ<br/>を見る
                  <% end %>
                  <%= link_to "/profile/given", :class => "giving_box" do %>
                    贈ったメッセージ<br/>を見る
                  <% end %>
                  <%= link_to "/rewards/status", :class => "present_box show-modal" do %>
                    メッセージ<br/>を贈る
                  <% end %>
                </div>
                <div class="clearfix width-100-percent sp_view">
                  <div class="clearfix width-100-percent">
                    <%= link_to profile_articles_path, :class => "article_box_sp bkgc_white", :style => "font-size:12px;" do %>
                      ニュース<br/>トピック
                    <% end %>
                    <%= link_to "/profile", :class => "receiving_box_sp", :style => "font-size:12px;" do %>
                      もらったメッセージを<br/>見る
                    <% end %>
                  </div>
                  <div class="clearfix width-100-percent">
                    <%= link_to "/profile/given", :class => "giving_box_sp", :style => "font-size:12px;" do %>
                      贈ったメッセージを<br/>見る
                    <% end %>
                    <%= link_to "/rewards/status", :class => "present_box_sp show-modal-sp", :style => "font-size:12px;" do %>
                      メッセージを<br/>贈る
                    <% end %>
                  </div>
                </div>
                <div class="blog_article_index">
                  <div class="blog_article_content_sp">
                    <% if @article.is_published == 0 %>
                      <h2 class="color-red margin-bottom-5">※この記事は社員には公開されていません</h2>
                    <% end %>
                    <p class="blog_article_content_time margin-bottom-5"><%= @article.updated_at.strftime("%Y年%m月%d日") %></p>
                    <p class="blog_article_content_title_sp pc_view" style="font-size: 22px;font-weight: bold;line-height: 1.6em;"><%= @article.title %></p>
                    <p class="blog_article_content_title_sp sp_view"><%= @article.title %></p>
                    <p class="blog_article_content_description" style="line-height: 1.5em;font-size: 13px;"><%= @article.description %></p>
                    <% @all_contents.each do |item| %>
                      <% if item[:data_type] == "title" %>
                        <div class="blog_article_content_head">
                          <h3 style="line-height: 1.5em;"><%= item[:title] %></h3>
                        </div>
                      <% elsif item[:data_type] == "text" %>
                        <div class="blog_article_content_text">
                          <p style="line-height: 1.6em;font-size: 14.5px;"><%= raw(item[:text].gsub(/\n/, '<br>'))  %></p>
                        </div>
                      <% elsif item[:data_type] == "link" %>
                        <div class="blog_article_content_link">
                          <%= link_to "#{item[:link_title]}", "#{:link_url}" %>
                        </div>
                      <% elsif item[:data_type] == "quotation" %>
                        <div class="blog_article_content_quotation" >
                          <p style="line-height: 1.5em;font-size: 13px;"><%= item[:quotation_title] %></p>
                        </div>
                        <p class="text_refferal"><span>引用元：<%= link_to "#{item[:quotation_url]}", "#{item[:quotation_url]}", :target => "_blank" %></span></p>
                      <% elsif item[:data_type] == "image" %>
                        <div>
                          <%= image_tag item[:img_src], class: "article_image", class: "width-70-percent margin-top-10" %>
                        </div>
                      <% elsif item[:data_type] == "nametag" %>
                        <div>
                          <% if item[:tag_count] > 0 %>
                            <div class="">
                              <div class="article_tags clearfix">
                                <div class="margin-top-10">

                                  <% for i in 0...item[:tag_count] %>
                                    <span class="margin-bottom-5 margin-right-5 name_tag pc_view show-message" id=<%= "#{item[:user_ids][i]}" %> name=<%= "#{item[:user_fullnames][i]}" %> data-user-id=<%= "#{item[:user_ids][i]}" %>><%= item[:user_fullnames][i] %></span>
                                    <span class="margin-bottom-5 margin-right-5 name_tag sp_view show-message-sp" id=<%= "#{item[:user_ids][i]}" %> name=<%= "#{item[:user_fullnames][i]}" %> data-user-id=<%= "#{item[:user_ids][i]}" %>><%= item[:user_fullnames][i] %></span>
                                    <p class="fukidashi">クリックしてメッセージを贈る</p>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>

                    <div class="kudos margin-top-20">
                      <% if @article.article_likes.select { |like| like.user_id == @user.id && like.is_liked == 1 }.count > 0 %>
                        <a data-id="<%= @article.id %>" class="a_btn btn_unlike" style="cursor: pointer;"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_on.png"/></a>
                      <% else %>
                        <a data-id="<%= @article.id %>" class="a_btn btn_like" style="cursor: pointer;"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_off.png"/></a>
                      <% end %>

                      <% article_likes = @article.article_likes.where(is_liked: 1) %>
                      <span class="kudos_count"><%= article_likes.count %>件</span>

                      <div class="tooltip">
                        <a class="user_kudos">
                          <% if article_likes.present? %>
                            <% article_likes.each_with_index do | like, i | %>
                              <%= "#{like.user.lastname} #{like.user.firstname}" %>
                              <% unless i == article_likes.count-1 %>,<% end %>
                              <% break if i >= 1 %>
                            <% end %>...
                          <% end %>
                        </a>
                        <span class="tooltiptext">
                          <% article_likes.each do | like | %>
                            <%= "#{like.user.lastname} #{like.user.firstname}" %>
                          <% end %>
                        </span>
                      </div>
                    </div>

                    <% if @article.tags.count > 0 %>
                      <div class="article_tag_wrapper">
                        <div class="article_tags clearfix">
                          <div class="margin-top-10">
                            <p>この記事に登場する社員</p>
                            <% @article.tags.each do |tag| %>
                              <span class="margin-bottom-5 margin-right-5 name_tag pc_view show-message" id=<%= "#{tag.user.id}" %> name=<%= "#{tag.user.lastname + tag.user.firstname}" %> data-user-id=<%= "#{tag.user.id}" %>><%= tag.user.lastname + tag.user.firstname %></span>
                              <span class="margin-bottom-5 margin-right-5 name_tag sp_view show-message-sp" id=<%= "#{tag.user.id}" %> name=<%= "#{tag.user.lastname + tag.user.firstname}" %> data-user-id=<%= "#{tag.user.id}" %>><%= tag.user.lastname + tag.user.firstname %></span>
                              <p class="fukidashi">クリックしてメッセージを贈る</p>
                            <% end %>
                          </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- sp -->
<div class="sp_view sp_footer">
  <div class="title" style="background-color: #ff8290;">日々の感謝さん</div>
  <div class="user_postbox">
    <% if @user_posted_contents.count > 0 %>
      <% @user_posted_contents.each do |article| %>
        <div class="each_post clearfix" style="padding: 10px;background-color: white;min-height: 80px;">
          <div class="each_post_left width-30-percent" style="float: left;">
            <% if article.images.present? %>
              <%= image_tag @first_images[article.id], class: "width-100-percent" %>
            <% else %>
              <img src="https://btoa-img.s3-ap-northeast-1.amazonaws.com/company/banner_no_image" class="width-100-percent" />
            <% end %>
          </div>
          <div class="each_post_right width-70-percent" style="float: left;padding-left: 10px;">
            <p><%= link_to article.title.truncate(30), "/company/article/#{article.id}", style: "word-break:break-all;color: black;font-weight: bold;text-decoration:none;" %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="each_article clearfix">
        <p style="margin-left: 10px;">記事が投稿されていません</p>
      </div>
    <% end %>
  </div>
  <div class="title border-radius-5 show-user-post-sp dropbtn width-60-percent" style="margin:10px auto;background-color: #ff8d07;font-size:13px;text-align: center;">視聴者投稿はこちら</div>
</div>
<!-- end_sp -->

<div id="modalmessage" class="modalwin hide">
  <a herf="#" class="modal-close"></a>
  <h1>メッセージを贈る</h1>
  <div class="modalwin-contents">
    <%= form_tag("/user/give_points", method: "post", id: "login_form" ) do %>
      <div class="description">
        <p class="destination">To:
        </p>
        <p style="float: left;">贈り主：
          <select class="select_giver_user new_post_select" name="new_post[]nickname_id">
            <option value="0"><%= @user.lastname %><%= @user.firstname %></option>
            <% if $allow_nickname.include?(@current_user.company_id) %>
              <% $nicknames.each do |key, value| %>
                <option value="<%= key %>"><%= value %></option>
              <% end %>
            <% else %>
              <option value="4">匿名希望さん</option>
            <% end %>
          </select>
        </p>
        <p>
          <textarea autofocus="autofocus" name="new_post[][description]" id="description" class="taginput" required align="center" rows="5" cols="75" style="font-size: 14px; padding: 8px;" placeholder="メッセージを入力してください。" data-intro="最後にコメントを記入しましょう。相手のどのような行動に感謝しているのか、どのような点を褒めているのか明確にすると相手も嬉しさが高まります。"></textarea>
        </p>
      </div>
      <p align="right"><input type="submit" value="送信する"/></p>
    <% end %>
  </div>
</div>


<div id="modal_user_post" class="modalwin hide">
  <a herf="#" class="modal-close"></a>
  <h1>視聴者投稿を贈る</h1>
  <div class="modalwin-contents">
    <%= form_tag("/company/user_posted_content/create", method: "post", id: "login_form", :multipart => true ) do %>
      <textarea autofocus="autofocus" name="description" id="description" class="taginput" required align="center" rows="5" cols="75" style="font-size: 14px; padding: 8px;" placeholder="メッセージを入力してください。"></textarea>
      <input type="file" name="image" %>
      <p align="right"><input type="submit" value="送信する"/></p>
    <% end %>
  </div>
</div>

<div id="modal_user_post_sp" class="modalwin-sp hide">
  <a herf="#" class="modal-close"></a>
  <h1>視聴者投稿を贈る</h1>
  <div class="modalwin-sp-contents">
    <%= form_tag("/company/user_posted_content/create", method: "post", id: "login_form", :multipart => true ) do %>
      <textarea autofocus="autofocus" name="description" id="description" class="taginput width-100-percent" required align="center" rows="5" style="font-size: 14px; padding: 8px;border: 1px solid gray;" placeholder="メッセージを入力してください。"></textarea>
      <input type="file" name="image" %>
      <p align="right"><input type="submit" value="送信する"/></p>
    <% end %>
  </div>
</div>

<!-- start_post -->
<div id="modalwin" class="modalwin hide">
  <a herf="#" class="modal-close"></a>
  <h1>メッセージを贈る</h1>
  <div class="modalwin-contents">
    <%= form_tag( "/user/give_points", method: "post", id: "login_form" ) do %>
      <div class="pointsbox" id="pointsbox" style="padding: 10px;">
        <div id="new_posts">
          <p style="font-size: 15px;"><b>・名前からメッセージを贈る相手を探す</b><br/>
            <input type="text" id="target_user_name" size="40" autocomplete="on" data-user="<%= @user_fullnames %>" data-user-id="<%= @user_ids %>" style="border: #cccccc 1px solid;padding: 2px;">
            <!-- <input type="button" value="追加" class="btn_change_password" style="width: 50px;"/> -->
          </p>
          <div id="new_post" class="new_post display_hidden" name="new_post" style="margin-bottom:20px;">
            <p align="center">
              <% if $use_select.include?(@user.company_id) %>
                <div class="target_select clearfix">
                  <p class="clearfix">
                    <p style="font-size: 15px;"><b>・所属からメッセージを贈る相手を探す</b></p>
                    <p style="float: left; margin-right: 5px;">会社　：
                      <select class="target_select_department new_post_select">
                        <option>選択してください</option>
                        <% @departments.each do |dep| %>
                          <option value="<%= dep.id %>"><%= dep.dep_name %></option>
                        <% end %>
                      </select>
                    </p>
                    <p style="float: left;">部署　：
                      <select class="target_select_team new_post_select">
                        <option>選択してください</option>
                      </select>
                    </p>
                  </p>
                  <div class="clearfix">
                    <p style="float: left; margin-right: 5px;">贈り先：
                      <select class="target_select_user new_post_select">
                        <option>選択してください</option>
                      </select>
                    </p>
                  </div>
                </div>
                <p style="font-size: 15px;"><b>・贈り主を選択する</b></p>
                <div class="clearfix">
                  <p style="float: left;">贈り主：
                    <select class="select_giver_user new_post_select" name="nickname_id">
                      <option>選択してください</option>
                      <option value="0"><%= @user.lastname %><%= @user.firstname %></option>
                      <% if $allow_nickname.include?(@current_user.company_id) %>
                        <% $nicknames.each do |key, value| %>
                          <option value="<%= key %>"><%= value %></option>
                        <% end %>
                      <% else %>
                        <option value="4">匿名希望さん</option>                    
                      <% end %>
                    </select>
                  </p>
                </div>
              <% end %>
            </p>
            <div class="dropdown">
              <div id="myDropdown" class="dropdown-content"> </div>
            </div><hr>
            <div class="description">
              <span id="suggested_name_span" style="display: none;">To: </span>
              <input type="text" id="suggested_name" value="" style="display:none"/><input id="send_suggested_name" type="button" value="追加" class="email_added" style="display:none; margin-bottom: 5px"/>
              <div id="suggest" style="display:none;"></div>
              <textarea autofocus="autofocus" name="new_post[][description]" id="description" class="taginput" required align="center" rows="5" cols="75" style="font-size: 14px; padding: 8px;" placeholder="メッセージを入力してください。" data-intro="最後にコメントを記入しましょう。相手のどのような行動に感謝しているのか、どのような点を褒めているのか明確にすると相手も嬉しさが高まります。" 
              <% if @company.point_fixed_flag == 0 %> data-step="5" <% else %> data-step="4" <% end %> disabled></textarea><br>
            </div><br>
            <div class="clearfix" style="width: 100%;">
              <div class="tags" style="float:left">
                <p>To &nbsp; &nbsp;: <span class="given_to"></span></p><br>
                <% if $allow_nickname.include?(@user.company_id) %>
                  <p>From: <span class="given_from"></span></p><br>
                <% end %>
              </div>
              <div style="float:right;" class="remove_div">
                <span class="pointsInput"></span>
                <p align="right"><input type="submit" value="送信する" class="radius5 btn_give"/></p>
              </div>
            </div><!--clearfix -->
          </div>
        </div>
      </div>
    <% end %>
  </div> <!-- pointsbox -->  
</div>


<div id="modalwin_sp" class="modalwin-sp hide">
  <a herf="#" class="modal-close"></a>
  <h1>メッセージを贈る</h1>
  <div class="modalwin-sp-contents">
    <%= form_tag( "/user/give_points", method: "post" ) do %>
      <div class="pointsbox" id="pointsbox" style="padding: 10px;">
        <div id="new_posts">
          <p style="font-size: 13px;"><b>・名前からメッセージを贈る相手を探す</b><br/>
            <input type="text" id="target_user_name_sp" class="width-60-percent" autocomplete="on" data-user="<%= @user_fullnames %>" data-user-id="<%= @user_ids %>" style="border: #cccccc 1px solid;padding: 2px;">
            <!-- <input type="button" value="追加" class="btn_change_password_sp" style="width: 50px;border: #cccccc;"/> -->
          </p>
          <div id="new_post" class="new_post" name="new_post">
            <p align="center">
              <% if $use_select.include?(@user.company_id) %>
                <div class="target_select clearfix">
                  <p class="clearfix">
                    <p style="font-size: 13px;"><b>・所属からメッセージを贈る相手を探す</b></p>
                    <p style="float: left; margin-right: 5px;">会社: 
                      <select class="target_select_department new_post_select_sp" style="border: #cccccc 1px solid;">
                        <option>選択してください</option>
                        <% @departments.each do |dep| %>
                          <option value="<%= dep.id %>"><%= dep.dep_name %></option>
                        <% end %>
                      </select>
                    </p>
                    <p style="float: left;">部署: 
                      <select class="target_select_team new_post_select_sp" style="border: #cccccc 1px solid;">
                        <option>選択してください</option>
                      </select>
                    </p>
                  </p>
                  <div class="clearfix">
                    <p style="float: left; margin-right: 5px;">贈り先: 
                      <select class="target_select_user new_post_select_sp" style="border: #cccccc 1px solid;">
                        <option>選択してください</option>
                      </select>
                    </p>
                  </div>
                </div>
                <p style="font-size: 13px;"><b>・贈り主を選択する</b></p>
                <div class="clearfix">
                  <p style="float: left;">贈り主: 
                    <select class="select_giver_user new_post_select_sp" name="nickname_id" style="border: #cccccc 1px solid;">
                      <option>選択してください</option>
                      <option value="0"><%= @user.lastname %><%= @user.firstname %></option>
                      <% if $allow_nickname.include?(@current_user.company_id) %>
                        <% $nicknames.each do |key, value| %>
                          <option value="<%= key %>"><%= value %></option>
                        <% end %>
                      <% else %>
                        <option value="4">匿名希望さん</option>
                      <% end %>
                    </select>
                  </p>
                </div>
              <% end %>
            </p>
            <div class="dropdown">
              <div id="myDropdown" class="dropdown-content"> </div>
            </div><hr>
            <div class="description">
              <span id="suggested_name_span" style="display: none;">To: </span>
              <input type="text" id="suggested_name" value="" style="display:none"/><input id="send_suggested_name" type="button" value="追加" class="email_added" style="display:none; margin-bottom: 5px"/>
              <div id="suggest" style="display:none;"></div>
              <textarea autofocus="autofocus" name="new_post[][description]" id="description" class="taginput width-100-percent" required align="center" rows="3" style="font-size: 14px; padding: 8px;border: 1px solid gray;" placeholder="メッセージを入力してください。"></textarea><br>
            </div><br>
            <div class="clearfix" style="width: 100%;">
              <div class="tags" style="float:left">
                <p>To &nbsp; &nbsp;: <span class="given_to"></span></p><br>
                <% if $allow_nickname.include?(@user.company_id) %>
                  <p>From: <span class="given_from"></span></p><br>
                <% end %>
              </div>
              <div style="float:right;" class="remove_div">
                <span class="pointsInput"></span>
                <p align="right"><input type="submit" value="送信する" class="radius5"/></p>
              </div>
            </div><!--clearfix -->
          </div>
        </div>
      </div>
    <% end %>
  </div> <!-- pointsbox -->  
</div>


<div id="modalmessage-sp" class="modalwin-sp hide">
  <a herf="#" class="modal-close"></a>
  <h1>メッセージを贈る</h1>
  <div class="modalwin-sp-contents">
    <%= form_tag("/user/give_points", method: "post", id: "login_form" ) do %>
      <div class="description">
        <p class="destination">To:
        </p>
        <p style="float: left;">贈り主：
          <select class="select_giver_user new_post_select" name="new_post[]nickname_id">
            <option>選択してください</option>
            <option value="0"><%= @user.lastname %><%= @user.firstname %></option>
            <% if $allow_nickname.include?(@current_user.company_id) %>
              <% $nicknames.each do |key, value| %>
                <option value="<%= key %>"><%= value %></option>
              <% end %>
            <% else %>
              <option value="4">匿名希望さん</option>
            <% end %>
          </select>
        </p>
        <p>
          <textarea autofocus="autofocus" name="new_post[][description]" id="description" class="taginput width-100-percent" required align="center" rows="5" style="font-size: 14px; padding: 8px;border: 1px solid gray" placeholder="メッセージを入力してください。" data-intro="最後にコメントを記入しましょう。相手のどのような行動に感謝しているのか、どのような点を褒めているのか明確にすると相手も嬉しさが高まります。"></textarea>
        </p>
      </div>
      <p align="right"><input type="submit" value="送信する"/></p>
    <% end %>
  </div>
</div>



<script type="text/javascript">
$(".btn_edit").click(function() {
  window.location = '/update';
});

var user_datas = new Array();
var user_names = $('#target_user_name').data('user');
var user_ids = $('#target_user_name').data('user-id');
for (var i=0; i < user_names.length; i++) {
  user_datas[user_names[i]] = user_ids[i];
}


$.urlParam = function(name){
  var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
  if (results != null) {
    return results[1];
  } else {
    return 0;
  }
}

$(".give_comments").bind('keypress',function(e) {
  if(e.keyCode == 13) {
    var post_id = ($(this).attr('data-id')); //get attributes of clicked item
    var comments = ($(this).val()); //get attributes of clicked item

    postComment(post_id, comments);
  }
});

$(".btn_comment").click(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item
  var comments = $(".post_comment_"+post_id).val(); 

  postComment(post_id, comments);
});

function postComment(post_id, comments) {
  $.ajax({
    type: "POST",
    url: "/user/give_comments",
    data: { 'post_id': post_id, 'comments': comments, 'page': $.urlParam('page') },
    success: function(data) {
      $(this).val("");
      window.location.reload(); 
    }
  });
}

$(".btn_like").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/company/article/like",
    data: { 'post_id': post_id, 'kudos': 1 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

$(".btn_unlike").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/company/article/like",
    data: { 'post_id': post_id, 'kudos': 0 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

function getTag () {
  items = [];
  <% if @hashtags.present? %>
    <% @hashtags.each do | tag | %>
      items.push("<%= tag %>");
    <% end %>
  <% end %>
  return items;
}

function getName () {
  items = {};
  <% if @users.present? %>
    <% @users.each do | user | %>
      <% unless user.id == @user.id %> 
        items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
  <% end %>
  return items;
}


$(document).ready(function() {
  $(".time p").each(function() {
    $(this).html(timeSince($(this).html()));
  });
});

function timeSince(time) {
  var currentTime = new Date();
  var time = new Date(time);

  var seconds = Math.floor((currentTime - time)/1000);
  var interval = Math.floor(seconds / 31536000);

  if (interval >= 1) {
      return interval + "年前";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval >= 1) {
      return interval + "月前";
  }
  interval = Math.floor(seconds / 86400);
  if (interval >= 1) {
      return interval + "日前";
  }
  interval = Math.floor(seconds / 3600);
  if (interval >= 1) {
      return interval + "時間前";
  }
  interval = Math.floor(seconds / 60);
  if (interval >= 1) {
      return interval + "分前";
  }
  return Math.floor(seconds) + "秒前";
}

$('.del_comment').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("本当にこのコメントを削除しますか？")) {
    $.post("/user/delete_comment", { 'comment_id': _id }); //send post request
    $(".comment_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

$('.del_post').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("本当にこの投稿を削除しますか？")) {
    $.post("/user/delete_post", { 'post_id': _id }); //send post request
    $(".post_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});
$(window).click(function() {
  $(".editnav .dropdown_content").hide();
});
$("#wrapper").click(function(event) {
  event.stopPropagation();
});

// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalwin');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modalwin')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-modal').on('click', showModal);
    }());

<% if $use_select.include?(@user.company_id) %>
$(function() {
  $(".pointsbox").on("change",".target_select_department", function(){
    $(this).addClass("this_select");
    $(".this_select").parent().parent().find(".target_select_team").empty();
    $(".this_select").parent().parent().find(".target_select_user").empty();
    $.ajax({
      url: "/select_target_department",
      type: "POST",
      data: {id : $(this).val()
    },
    success: function(data) {
      $(".this_select").parent().parent().find(".target_select_team").append('<option>選択してください</option>');
      $(".this_select").parent().parent().find(".target_select_user").append('<option>選択してください</option>');
      $.each(data, function(key, value){
        $(".this_select").parent().parent().find(".target_select_team").append('<option value="'+ value[0] + '">' + value[1] + '</option>');
      });
      $(".this_select").removeClass("this_select");
    },
    error: function(data) {
      alert("部署がありません");
      $(".this_select").removeClass("this_select");
    }
    });
  });
});

$(function() {
  $(".pointsbox").on("change",".target_select_team", function(){
    $(this).addClass("this_select");
    $(".this_select").parent().parent().find(".target_select_user").empty();
    $.ajax({
      url: "/select_target_team",
      type: "POST",
      data: {id : $(this).val()
    },
    success: function(data) {
      $(".this_select").parent().parent().find(".target_select_user").append('<option>選択してください</option>');
      $.each(data, function(key, value){
        $(".this_select").parent().parent().find(".target_select_user").append('<option value="'+ value[0] + '">' + value[1] + '</option>');
      });
      $(".this_select").removeClass("this_select");
    },
    error: function(data) {
      alert("所属する社員がいません");
      $(".this_select").removeClass("this_select");
    }
    });
  });
});

$(function() {
  $(".pointsbox").on("change",".target_select_user", function(){
    var dataId = $(this).find("option:selected").val();
    var content = $(this).find("option:selected").text()
    var $selected = $(this).closest(".new_post");
    $selected.find(".tags .given_to").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + dataId + "'/>").val(content));
    $selected.find(".tags .given_to").append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + dataId + "'/>").val(dataId));
  });
});

  <% if $allow_nickname.include?(@user.company_id) %>
  $(function() {
    $(".pointsbox").on("change",".select_giver_user", function(){
      var dataId = $(this).find("option:selected").val();
      var content = $(this).find("option:selected").text()
      var $selected = $(this).closest(".new_post");
      $selected.find(".tags .given_from").empty();
      $selected.find(".tags .given_from").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + dataId + "'/>").val(content));
      $selected.find(".tags .given_from").append($("<input type='hidden' class='nickname-selected given_user' name='new_post[][nickname_id]' data-id='" + dataId + "'/>").val(dataId));
    });
  });
  <% end %>
<% else %>

function getName () {
  items = {};
  <% if @team_users.present? %>
    <% @team_users.each do | user | %>
    <% unless user.delete_flag == 1 %>
      <% unless user.id == @user.id %> 
  items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
    <% end %>
  return items;

  <% else %>
    <% @users.each do | user | %>
      <% unless user.id == @user.id %> 
  items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
  return items;
  <% end %>
}
<% end %>

function getPoints () {
  return ["10","20","30","40","50"];
}

<% if $allow_nickname.include?(@user.company_id) %>
function getNickname () {
  items = {};
  <% $nicknames.each do |key, value| %>
    items["<%= key %>"] = "<%= value %>";
  <% end %>
  return items;
}
<% end %>


$(".btn_give").click(function() {
  var isValid = true; // validationエラーの場合はfalseを返す

  $(".new_post").not(".display_hidden").each(function(){
    var $this = $(this);
    var input = $this.find(".taginput").val();
    var dataReceive = $this.find(".receiver-selected").val();
    <% if $allow_nickname.include?(@user.company_id) %>
      var dataNickname = $this.find(".nickname-selected").val();
    <% end %>

    // validationエラー表示の初期化
    $(this).find(".dropbtn").removeClass("form_invalid");

    <% if @company.point_fixed_flag == 0 %>
    isPoint = input.match(/\+[^\s|  ]+/);
    <% end %>
    isTag = input.match(/\#[^\s|  ]+/);
    
    <% if $allow_nickname.include?(@user.company_id) %>
      if(dataReceive == null || !isPoint || dataNickname == null) {

                // エラー箇所のスタイルを変更
        if(dataReceive == null) {
          $this.find("#atbtn").addClass("form_invalid");
        }
        if(!isPoint) {
          $this.find("#ptsbtn").addClass("form_invalid");
        }
        if(dataNickname == null) {
          $this.find("#nicknamebtn").addClass("form_invalid");
        }

        <% if @company.point_fixed_flag == 0 %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ニックネーム、ポイント数が必須です。)");
          <% else %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ニックネーム、を入力してください。)");
          <% end %>
      isValid = false;
      } 
    <% else %>
      if(dataReceive == null || !isPoint ) {
        // エラー箇所のスタイルを変更
        if(dataReceive == null) {
          $this.find("#atbtn").addClass("form_invalid");
        }
        if(!isPoint) {
          $this.find("#ptsbtn").addClass("form_invalid");
        }
        <% if @company.point_fixed_flag == 0 %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ポイント数が必須です。)");
        <% else %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか入力してください。)");
        <% end %>
      isValid = false;
    } 
    <% end %>
    });
    return isValid;
});


$(".selDropdown option").click(function() {
  $(".tags span").empty();
  $(".tags span").append($("<input type='button' class='btn radius5'/>").val($(this).text()));
});

$("#new_posts").on("click", "#myDropdown", function(e) {
  var content = e.target.text;
  var className = e.target.classList[1];
  var dataId = e.target.dataset.id;
  var $selected = $(this).closest(".new_post");

  switch (className) {
    case "drpPoints":
      $selected.find(".taginput").val($selected.find(".taginput").val() + "+" + content + " ");
      break;

    case "drpAt":
      //$(".tags span").empty();
      if(!($selected.find(".tags .given_to input[data-id='" + dataId + "']").val())) {
        $selected.find(".tags .given_to").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + dataId + "'/>").val(content));
        $selected.find(".tags .given_to").append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + dataId + "'/>").val(dataId));
      }
      break;

    case "drpTag":
      $selected.find(".taginput").val($selected.find(".taginput").val() + "#" + content + " ");
      break;

    <% if $allow_nickname.include?(@user.company_id) %>
    case "drpNickname":
      $selected.find(".tags .given_from").empty();
      $selected.find(".tags .given_from").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + dataId + "'/>").val(content));
      $selected.find(".tags .given_from").append($("<input type='hidden' class='nickname-selected given_user' name='new_post[][nickname_id]' data-id='" + dataId + "'/>").val(dataId));
      break;
    <% end %>
  }
});

$("#new_posts").on("mouseover", ".dropbtn", function() {
  var symId = $(this).attr("id");
  var className = "";
  var dataId = "";
  var $selected = $(this);
  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = getName();
      className = "drpAt";
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
    <% if $allow_nickname.include?(@user.company_id) %>
    case "nicknamebtn":
      values = getNickname();
      className = "drpNickname";
      break;
    <% end %>
  }

  $("#myDropdown > a").remove();
  if (className == 'drpAt'){
    $selected.siblings("#myDropdown").append("<a id='type_email' class='drpAt'>メールアドレス入力</a>");
  };
  $.each(values, function( index, value ) {
    $selected.siblings("#myDropdown").append($("<a data-id='"+index+"'></a>").addClass("item "+ className).text(value));
  });

  $selected.siblings("#myDropdown").show();
  
  $selected.closest(".new_post").find("#type_email").click(function(){
    var $post = $(this).closest(".new_post");
  });

  $(".item").click(function() {
    $(".taginput").focus();
  });
});

$(document).mouseup(function(e) {
  var subject = $(".pointsbox .dropbtn");
  if(e.target.id != subject.attr("id")){
    $(".dropdown-content").hide();
  }

  $(".tags .given_user").click(function() {
    $(this).next().remove();
    $(this).remove();
  });
});


// email_click
$("#new_posts").on("click", ".email_added", function(){
  var $selected = $(this).closest(".new_post");
  $.ajax({ type: 'GET',
    url: '/user/getname',
    data:{
      email: $selected.find('#suggested_name').val()
    },
    success: function(data){
      var element = document.createElement('input');
      var elem = document.createElement('input');
      element.setAttribute("type", "button");
      element.setAttribute("class", "btn radius5 given_user");
      element.setAttribute("value", data['name']);
      element.setAttribute("data-id", data['id']);
      elem.setAttribute("type", "hidden");
      elem.setAttribute("class", "receiver-selected given_user");
      elem.setAttribute("name", "new_post[][receiver_id][]");
      elem.setAttribute("data-id", data['id']);
      elem.setAttribute("value", data['id']);
      $selected.find(".given_to").append(element);
      $selected.find(".given_to").append(elem);
      $selected.find("#suggested_name").val("");
    },
    error: function(data){
      alert('該当のメールアドレスがありません');
    }
  });
});


$("#new_posts").on("click", ".dropbtn", function() {
  var symId = $(this).attr("id");
  var className = "";
  var dataId = "";
  var $selected = $(this);

  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = getName();
      className = "drpAt";
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
    <% if $allow_nickname.include?(@user.company_id) %>
    case "nicknamebtn":
      values = getNickname();
      className = "drpNickname";
      break;
    <% end %>
  }

  $("#myDropdown > a").remove();
  if (className == 'drpAt'){
    $selected.siblings("#myDropdown").append("<a id='type_email' class='drpAt'>メールアドレス入力</a>");
  };
  $.each(values, function( index, value ) {
    $selected.siblings("#myDropdown").append($("<a data-id='"+index+"'></a>").addClass("item "+ className).text(value));
  });

  $selected.siblings("#myDropdown").show();
  
  $selected.closest(".new_post").find("#type_email").click(function(){
    var $post = $(this).closest(".new_post");
  });

  $(".item").click(function() {
    $(".taginput").focus();
  });
});

// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalmessage');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modalmessage')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-message').on('click', showModal);
    }());

$('.show-message').on('click', function(){
  $('.destination').empty("");
  $('.description #article_user').remove();
  var user_id =  $(this).attr("id");
  var name =  $(this).attr("name");

  // $(".description textarea").attr("placeholder",id);
  $(".destination").append("To: " + name);
  $(".description").append($("<input type='hidden' id='article_user' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + user_id + "'/>").val(user_id));
  // $(".description textarea").val("新しい記事が公開されました！" + "\n" + "\n"  + title + "\n" + url);
});

// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modal_user_post');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modal_user_post')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-user-post').on('click', showModal);
    }());

$(window).on("scroll", function(e) {
    var scrollHeight = $(document).height();
    var scrollPosition = $(window).height() + $(window).scrollTop();
    if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
      <% if @receiver_id.present? %>
        showModal(e);
      <% end %>
    }

    // モーダルウィンドウを開く
    function showModal(event) {
      event.preventDefault();
      var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalmessage');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        }).fadeIn();

      var user_id = "<%= @receiver_id %>";
      var name =  "<%= @receiver_name %>";

      $('.destination').empty("");
      $('.description #article_user').remove();
      $(".destination").append("To: " + name);
      $(".description").append($("<input type='hidden' id='article_user' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + user_id + "'/>").val(user_id));
    }
    function hideModal() {
      $('#shade').remove();
      $('#modalmessage')
        .removeClass('show')
        .addClass('hide');
    }
});


$(window).on("scroll", function(e) {
    var scrollHeight = $(document).height();
    var scrollPosition = $(window).height() + $(window).scrollTop();
    if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
      <% if @receiver_id.present? %>
        showModal(e);
      <% end %>
    }

    function showModal(event) {
      event.preventDefault();
      var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalmessage-sp');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        }).fadeIn();

      var user_id = "<%= @receiver_id %>";
      var name =  "<%= @receiver_name %>";

      $('.destination').empty("");
      $('.description #article_user').remove();
      $(".destination").append("To: " + name);
      $(".description").append($("<input type='hidden' id='article_user' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + user_id + "'/>").val(user_id));
    }

    function hideModal() {
      $('#shade').remove();
      $('#modalmessage-sp')
        .removeClass('show')
        .addClass('hide');
      }
});


// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modal_user_post_sp');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modal_user_post_sp')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-user-post-sp').on('click', showModal);
    }());

  $(function() {
    var target_user_names = $('#target_user_name').data('user');
    $( "#target_user_name" ).autocomplete({
      source: target_user_names,
      select: function(e, ui) {
        var $selected = $(this).parent().siblings('.new_post').not(".display_hidden").find(".tags .given_to");
        $selected.append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + ui.item.value + "'/>").val(ui.item.value));
        var target_user_id = user_datas[ui.item.value];
        $selected.append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]'/>").val(target_user_id));
        this.value = "";
        return false;
      }
    });
  });

  $(function() {
    var target_user_name_sp = $('#target_user_name_sp').data('user');
    $( "#target_user_name_sp" ).autocomplete({
      source: target_user_name_sp,
      select: function(e, ui) {
        var $selected = $(this).parent().siblings('.new_post').not(".display_hidden").find(".tags .given_to");
        $selected.append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + ui.item.value + "'/>").val(ui.item.value));
        var target_user_id = user_datas[ui.item.value];
        $selected.append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]'/>").val(target_user_id));
        this.value = "";
        return false;
      }
    });
  });


// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalwin_sp');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modalwin_sp')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-modal-sp').on('click', showModal);
    }());
// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalmessage-sp');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modalmessage-sp')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-message-sp').on('click', showModal);
    }());
/*
    $('.show-message-sp').on('click', function(){
      $('.destination').empty("");
      $('.description #article_user').remove();
      var user_id =  $(this).attr("id");
      var name =  $(this).attr("name");

      // $(".description textarea").attr("placeholder",id);
    $(".destination").append("To: " + name);
    $(".description").append($("<input type='hidden' id='article_user' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + user_id + "'/>").val(user_id));
      // $(".description textarea").val("新しい記事が公開されました！" + "\n" + "\n"  + title + "\n" + url);
    });
*/
</script>