<div class="landing_signup landing_pc">
  <div class="landing_signup_back"></div>
  <div class="landing_signup_line ta_center">
    <h2><%= link_to "Prizyを1ヶ月無料で試す。", "/company/register" %></h2><%= link_to "/company/register" do %><%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/btn_arrow.jpg") %><% end %>
  </div>
</div>

<div class="landing_signup landing_sp">
  <div class="landing_signup_back"></div>
  <div class="landing_signup_line ta_center">
    <h2><%= link_to "Prizyを1ヶ月無料で試す。", "/company/register" %></h2><%= link_to "/company/register" do %><%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/btn_arrow.jpg") %><% end %>
  </div>
</div>