<div class="landing_top">
  <div class="landing_header landing_pc">
    <div class="landing_header_left">
      <%= link_to "/" do %>
      <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/logo.png") %>
      <% end %>
    </div>
    <div class="landing_header_right">
      <ul>
        <li style="border-bottom: 2px solid white;"><%= link_to "サービス", root_path%></li>
        <li><%= link_to "プランと料金", "/price"%></li>
        <li><%= link_to "ログイン", "/login"%></li>
        <div class="landing_clearfix"></div>
      </ul>
    </div>
    <div class="landing_clearfix"></div>
  </div>
  <div class="landing_top_text landing_pc" >
    <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/pc_finla_fixed_ttl.png") %>
  </div>
  <div class="landing_top_bottom_img landing_pc">
    <%= link_to "#1", data: {no_turbolink: true} do %>
      <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/btn_schorll.png") %>
    <% end %>
  </div>

  <div class="landing_header landing_sp">
    <div class="landing_header_left">
      <%= link_to "/" do %>
      <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/sp.logo.png") %>
      <% end %>
    </div>
    <div class="landing_header_right">
      <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/sp.gnav.png") %>
    </div>
    <div class="landing_clearfix"></div>
    <div class="sp_landing_ul landing_click">
      <ul>
        <li ><%= link_to "サービス", "/"%></li>
        <li><%= link_to "プランと料金", "/price"%></li>
        <li><%= link_to "ログイン", "/login"%></li>
        <div class="landing_clearfix"></div>
      </ul>
    </div>
    <div class="landing_clearfix"></div>
  </div>
</div>

<div id="1" class="landing_sns">
  <div class="landing_sns_text landing_pc">
    <h2>Prizy(プライジー)は、<br>「褒め合う」文化を形成する社内SNSです。</h2>
    <p>上司から部下へ、従業員同士での、「感謝」や「褒め」を見える化することで、<br>会社の文化にスパイスを加え、チームをより強くします。</p>
  </div>
  <div class="landing_sns_text landing_sp">
    <h2>Prizy(プライジー)は<br>「褒め合う」文化を形成する<br>社内SNSです。</h2>
    <p>上司から部下へ、従業員同士での、<br>「感謝」や「褒め」を見える化することで、<br>会社の文化にスパイスを加え、<br>チームをより強くします。</p>
  </div>
  <div class="landing_sns_image">
    <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/opacity_img.png") %>
  </div>
</div>

<div class="landing_bonus_budget">
  <div class="landing_microbonus">
    <div class="landing_microbonus_text landing_pc">
      <h2>社員同士で<span>毎日</span>伝える。みんなの<span>ホメる</span>が見える。<br>だから、ホメるが<span>文化</span>になる。</h2>
      <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/img_toukou.png" %>
    </div>

    <div class="landing_microbonus_text landing_sp">
      <h2>社員同士で<span>毎日</span>伝える。<br>みんなの<span>ホメる</span>が見える。<br>だから、ホメるが<span>文化</span>になる。</h2>
      <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/img_toukou.png") %>
    </div>
  </div>

  <div class="landing_bonus_budget_wrapper landing_pc">
    <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/fixed_text.png") %>
    <div class="landing_bonus_budget_left">
      <div class="budget_left_top">
        <h4>コメント&ハッシュタグ</h4>
        <p>「ホメる」に遊び心を。<br><br>褒める投稿には、ハッシュタグをつけて遊び心満点な投稿に。堅苦しい投稿だけではなく、少し "くだけた" 投稿で「ホメる」を楽しく実現できます。<br><br>もちろん「イイネ」や「コメント」で、社内コミュニケーションをさらに活性化できます。</p>
      </div>
    </div> <!-- landing_bonus_budget_left -->
    <div class="landing_bonus_budget_center">
      <div class="budget_right_top">
        <h4>Prizyポイント</h4>
        <p>「褒める言葉」や「感謝の気持ち」にプラスして贈るのがPrizyポイント。<br><br>貯まったポイントは、様々な商品や、ギフト券、また企業が独自に設定したオリジナルギフトに交換が可能なため、ちょっとしたボーナス気分。<br><br>社員同士がみんなで贈り合う<br>マイクロボーナスです。</p>
      </div>
    </div><!-- landing_bonus_budget_right -->
    <div class="landing_bonus_budget_right">
      <div class="budget_right_top">
        <h4>SlackやLINE連携</h4>
        <p>褒めたいと思った時に褒める。<br><br>Prizyは、SlackやLineなどの普段職場で使うコミュニケーションツールと連携が可能。またスマホアプリも用意されているため、仕事中「ありがとう」と思った瞬間、「頑張ってるな」と感じた瞬間など、いつでも、どこでも、気軽に「ホメる」を実現できます。</p>
      </div>
    </div><!-- landing_bonus_budget_right -->
  </div><!-- landing_bonus_budget_wrapper -->

  <div class="landing_bonus_budget_wrapper landing_sp">
    <div class="landing_bonus_budget_left">
      <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/word_01.png") %>
      <div class="budget_left_top">
        <h4>コメント&ハッシュタグ</h4>
        <p>「ホメる」に遊び心を。<br>褒める投稿には、ハッシュタグをつけて遊び心満点な投稿に。堅苦しい投稿だけではなく、少し"くだけた"投稿で「ホメる」を楽しく実現できます。<br><br>「イイネ」や「コメント」で社内コミュニケーションをさらに活性化できます。</p>
      </div>
    </div> <!-- landing_bonus_budget_left -->
    <div class="landing_bonus_budget_center">
      <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/word_02.png") %>
      <div class="budget_center_top">
        <h4>Prizyポイント</h4>
        <p>「褒める言葉」や「感謝の気持ち」にプラスして贈るのがPrizyポイント。<br><br>貯まったポイントは、様々な商品や、ギフト券、また企業が独自に設定したオリジナルギフトに交換が可能なため、ちょっとしたボーナス気分。社員同士がみんなで贈り合うマイクロボーナスです。</p>
      </div>
    </div><!-- landing_bonus_budget_right -->
    <div class="landing_bonus_budget_right">
      <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/word_03.png") %>
      <div class="budget_bottom_top">
        <h4>SlackやLINE連携</h4>
        <p>褒めたいと思った時に褒める。<br>Prizyは、SlackやLineなどの普段職場で使うコミュニケーションツールと連携が可能。またスマホアプリも用意されているため、仕事中「ありがとう」と思った瞬間、「頑張ってるな」と感じた瞬間など、いつでも、どこでも、気軽に「ホメる」を実現できます。</p>
      </div>
    </div><!-- landing_bonus_budget_right -->
  </div><!-- landing_bonus_budget_wrapper -->
</div><!-- landing_bonus_budget -->

<div class="landing_prizy_catalog">
  <div class="landing_catalog_wrapper landing_pc">
    <div class="prizy_catalog_top">
    <h2>ボーナスで貯まったPrizyポイントは、<br>様々なギフトと交換が可能。</h2>
    <p>ギフトと交換することで、もらった「感謝」や「ありがとう」が本当のボーナスに！</p>
    </div>
    <div class="prizy_catalog_middle">
      <h2 class="prizy_catalog_float"><span>Prizyカタログ</span>とは</h2>
      <p class="prizy_catalog_float">生活によりそった人気のあるギフトをご用意。<br>シンプルかつインパクトのあるインセンティブを実現しています。</p>
      <div class="landing_clearfix"></div>
      <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/fixed_logo_01.png") %>
    </div>
    <div class="prizy_catalog_bottom">
      <h2 class="prizy_catalog_float"><span>オリジナルカタログ</span>とは</h2>
      <p class="prizy_catalog_float">オリジナルカタログは、企業独自で設計が可能。<br>シンプルな操作性のもと、従業員様が最も喜ぶギフトをカスタム可能に。</p>
      <div class="landing_clearfix"></div>
      <div class="landing_original_wrapper">
      <div class="landing_gift_each">
        <div class="landing_gift_each_wrapper">
          <div class="landing_gift_each_image">
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/img_meeting.png" %>
          </div>
          <div class="landing_gift_each_text">
          <p><span>CEOとちょぴり豪華ランチ<span></p>
          <p class="landing_gift_text_align" style="font-size: 12px;">CEOがランチをごちそう！<br>普段は言えない、会社への思い、新しい事業や制度の提案など、想いの丈を直接CEOにぶつけるいい機会！もちろんいつもより、ちょっと豪華なランチも魅力的！？</p>
          </div>
          <div class="landing_gift_each_point">
          <p>1500ポイント</p>
          </div>
        </div>
      </div><!-- landing_gift_each -->
      <div class="landing_gift_each">
        <div class="landing_gift_each_wrapper">
          <div class="landing_gift_each_image">
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/img_pizza.png" %>
          </div>
          <div class="landing_gift_each_text">
            <p><span>チームでピザパーティー券<span></p>
            <p class="landing_gift_text_align" style="font-size: 12px;">
            いつも一緒に頑張っている仲間と過ごす大切な時間。たまには、仕事をちょっと休憩し、仲間とピザパーティーなんていかがでしょうか。ピザとお酒を片手にリフレッシュ♪
            </p>
          </div>
          <div class="landing_gift_each_point">
          <p>2500ポイント</p>
          </div>
        </div>
      </div><!-- landing_gift_each -->
      <div class="landing_gift_each">
        <div class="landing_gift_each_wrapper">
          <div class="landing_gift_each_image">
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/icon_friend.png" %>
          </div>
          <div class="landing_gift_each_text">
          <p><span>今日だけ残業無し券！<span></p>
          <p class="landing_gift_text_align" style="font-size: 12px;">いつも頑張ってるご褒美に、今日だけ残業無し！たまの息抜きも必要です。<br>今日は早く帰って、友達と遊んだり、家族サービスしてみてリフレッシュしましょう！</p>
          </div>
          <div class="landing_gift_each_point">
          <p>1000ポイント</p>
          </div>
        </div>
      </div><!-- landing_gift_each -->
      <div class="landing_gift_each">
        <div class="landing_gift_each_wrapper">
          <div class="landing_gift_each_image">
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/icon_book.png" %>
          </div>
          <div class="landing_gift_each_text">
          <p><span>スキルアップに？お好きな本をプレゼント！<span></p>
          <p class="landing_gift_text_align" style="font-size: 12px;">
            スキルアップは仕事を効率よく進める上でとっても大事。頑張ってる皆さんのスキルアップをサポートします！好きな本を申請してください♪
          </p>
          </div>
          <div class="landing_gift_each_point">
          <p>1500ポイント</p>
          </div>
        </div>
      </div><!-- landing_gift_each -->
      <div class="landing_clearfix"></div>
      </div>
    </div>
  </div>
  <div class="landing_catalog_wrapper landing_sp">
    <div class="prizy_catalog_top">
    <h2>貯まったPrizyポイントは、<br>様々なギフトと交換が可能。</h2>
    </div>
    <div class="prizy_catalog_middle">
      <h2 class="prizy_catalog_float"><span>Prizyカタログ</span>とは</h2>
      <p class="prizy_catalog_float">人気のあるギフトをご用意。<br>シンプルかつインパクトのある<br>インセンティブを実現しています。</p>
      <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/sp_fixed_logo.png") %>
    </div>
    <div class="prizy_catalog_bottom">
      <h2 class="prizy_catalog_float"><span>オリジナルカタログ</span>とは</h2>
      <p class="prizy_catalog_float">企業独自で設計が可能。<br>シンプルな操作性のもと、<br>従業員様が喜ぶギフトをカスタム可能。</p>
      <div class="landing_clearfix"></div>
      <div class="landing_original_wrapper">
      <div class="landing_gift_each">
        <div class="landing_gift_each_wrapper">
          <div class="landing_gift_each_image">
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/img_meeting.png" %>
          </div>
          <div class="landing_gift_each_text">
          <p><span>CEOと<br>ちょぴり豪華ランチ<span></p>
          <p class="landing_gift_text_align" style="font-size: 12px;">CEOがランチをごちそう！新しい事業や制度の提案など、想いの丈を直接CEOにぶつけるいい機会！いつもよりちょっと豪華なランチも魅力的！？</p>
          </div>
          <div class="landing_gift_each_point">
          <p>1500ポイント</p>
          </div>
        </div>
      </div><!-- landing_gift_each -->
      <div class="landing_gift_each">
        <div class="landing_gift_each_wrapper">
          <div class="landing_gift_each_image">
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/img_pizza.png" %>
          </div>
          <div class="landing_gift_each_text">
          <p><span>みんなで<br>ピザパーティー券<span></p>
          <p class="landing_gift_text_align" style="font-size: 12px;">
          いつも一緒に頑張っている仲間と過ごす大切な時間。たまには仲間とピザパーティーなんていかがでしょうか。
          </p>
          </div>
          <div class="landing_gift_each_point">
          <p>2500ポイント</p>
          </div>
        </div>
      </div><!-- landing_gift_each -->
      <div class="landing_gift_each">
        <div class="landing_gift_each_wrapper">
          <div class="landing_gift_each_image">
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/icon_friend.png" %>
          </div>
          <div class="landing_gift_each_text">
          <p><span>今日は<br>残業無し券！<span></p>
          <p class="landing_gift_text_align" style="font-size: 12px;">いつも頑張ってるご褒美に、今日だけ残業無し！早く帰って、友達と遊んだり、家族サービスしてみてはいかがでしょうか。</p>
          </div>
          <div class="landing_gift_each_point">
          <p>1000ポイント</p>
          </div>
        </div>
      </div><!-- landing_gift_each -->
      <div class="landing_gift_each">
        <div class="landing_gift_each_wrapper">
          <div class="landing_gift_each_image">
            <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/icon_book.png" %>
          </div>
          <div class="landing_gift_each_text">
          <p><span>好きな本を<br>プレゼント！<span></p>
          <p class="landing_gift_text_align" style="font-size: 12px;">
            スキルアップは仕事を効率よく進める上でとっても大事。頑張ってる皆さんのスキルアップをサポートします！好きな本を申請してください♪
          </p>
          </div>
          <div class="landing_gift_each_point">
          <p>1500ポイント</p>
          </div>
        </div>
      </div><!-- landing_gift_each -->
      <div class="landing_clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="landing_analytics landing_pc">
  <h2>毎日の360度<span>評価を見える化</span></h2>
  <p>従業員同士の褒め合いから、モチベーションや評価が高い社員・低い社員をデータ把握。マネジメント最適化に。</p>
  <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/content4_img.jpg") %>
</div>
<div class="landing_analytics landing_sp">
  <h2>毎日の360度<span>評価を見える化</span></h2>
  <p>従業員同士の褒め合いから<br>モチベーションや評価が高い社員<br>低い社員を把握。マネジメント最適化に。</p>
  <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/content4_img.jpg") %>
</div>


<div class="landing_workforce landing_pc">
  <div class="landing_workforce_top">
    <h2>「<span>褒め合う文化</span>」<span>の定着</span>で狙う職場改革</h2>
    <p>「褒め合う」文化の定着は、従業員のエンゲージメントの向上、離職率の改善、ひいては生産性の向上や、売上げのアップに。<br>人事戦略こそが最大の経営戦略に。</p>
  </div>
  <div class="landing_workforce_bottom">
    <div class="landing_chart_wrapper">
      <div id="landing_chart1" class="landing_chart"></div>
      <div class="landing_chart_text">
        <p class="landing_chart_text_top"><span style="font-weight:bold;">エンゲージメント60%向上</span></p>
        <p>「褒める文化」が強い企業の従業員エンゲージメントは60%近く高くなる。</p>
        <p class="landing_chart_text_bottom"><span class="landing_chart_refferal">- Towers Watson</span></p>
      </div>
    </div>
    <div class="landing_chart_wrapper">
      <div id="landing_chart2" class="landing_chart"></div>
      <div class="landing_chart_text">
        <p class="landing_chart_text_top"><span style="font-weight:bold;">離職率の25%削減</span></p>
        <p>従業員エンゲージメントの高い企業は、25%近く低い離職率を実現している。</p>
        <p class="landing_chart_text_bottom"><span class="landing_chart_refferal">- Gallup</span></p>
      </div>
    </div>
    <div class="landing_chart_wrapper">
      <div id="landing_chart3" class="landing_chart"></div>
      <div class="landing_chart_text">
      <p class="landing_chart_text_top"><span style="font-weight:bold;">生産性の21%向上</span></p>
      <p>従業員エンゲージメントの高い企業は、21%近く高い生産性を実現している。</p>
      <p class="landing_chart_text_bottom"><span class="landing_chart_refferal">- Gallup</span></p>
      </div>
    </div>
    <div class="landing_chart_wrapper">
      <div id="landing_chart4" class="landing_chart"></div>
      <div class="landing_chart_text">
        <p class="landing_chart_text_top"><span style="font-weight:bold;">利益率6%向上</span></p>
        <p>エンゲージメントが高い社員は低い社員に比べて、6%高い利益率を実現。</p>
        <p class="landing_chart_text_bottom"><span class="landing_chart_refferal">- Towers Watson</span></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="landing_workforce landing_sp">
  <div class="landing_workforce_top">
    <h2>「<span>褒め合う文化</span>」<span>の定着</span>で<br>狙う職場改革</h2>
    <p>「褒め合う」文化の定着は<br>エンゲージメントの向上、<br>離職率の改善、生産性の向上<br>売上げのアップに。<br>人事戦略が最大の経営戦略に。</p>
  </div>
  <div class="landing_workforce_bottom">
    <div class="landing_chart_wrapper">
      <div id="landing_chart1_sp" class="landing_chart"></div>
      <div class="landing_chart_text">
        <p class="landing_chart_text_top"><span>エンゲージメント<br>60%向上</span></p>
        <p>褒める文化が強い企業の従業員エンゲージメントは60%近く高くなる。</p>
        <p class="landing_chart_text_bottom"><span class="landing_chart_refferal">- Towers Watson</span></p>
      </div>
    </div>
    <div class="landing_chart_wrapper">
      <div id="landing_chart2_sp" class="landing_chart"></div>
      <div class="landing_chart_text">
        <p class="landing_chart_text_top"><span>離職率<br>25%削減</span></p>
        <p>従業員エンゲージメントの高い企業は、25%近く低い離職率を実現している。</p>
        <p class="landing_chart_text_bottom"><span class="landing_chart_refferal">- Gallup</span></p>
      </div>
    </div>
    <div class="landing_chart_wrapper">
      <div id="landing_chart3_sp" class="landing_chart"></div>
      <div class="landing_chart_text">
        <p class="landing_chart_text_top"><span>生産性<br>21%向上</span></p>
        <p>従業員エンゲージメントの高い企業は、21%近く高い生産性を実現している。</p>
        <p class="landing_chart_text_bottom"><span class="landing_chart_refferal">- Gallup</span></p>
      </div>
    </div>
    <div class="landing_chart_wrapper">
      <div id="landing_chart4_sp" class="landing_chart"></div>
      <div class="landing_chart_text">
        <p class="landing_chart_text_top"><span>利益率<br>6%向上</span></p>
        <p>エンゲージメントが高い社員は低い社員に比べて、6%高い利益率を実現。</p>
        <p class="landing_chart_text_bottom"><span class="landing_chart_refferal">- Towers Watson</span></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<%= render "signup" %>

<script type="text/javascript">
window.onload = function () {
  CanvasJS.addColorSet("prizyColor",
    [//colorSet Array
      "#ff8d07",
      "#696869",
    ]);

  var chart = new CanvasJS.Chart("landing_chart1", {
    colorSet: "prizyColor",
    backgroundColor: "transparent",
    animationEnabled: true, 
    animationDuration: 1000,
    dataPointWidth: 0.5,
    data: [              
    {
      type: "doughnut",
      startAngle: 270,
      radius:  "90%", 
      innerRadius: "85q%",
      dataPoints: [
        { x: "a",  y: 60, },
        { y: "b",  y: 40, },
      ]
    }
    ]
  });
  chart.render();

  var chart = new CanvasJS.Chart("landing_chart2", {
    colorSet: "prizyColor",
    backgroundColor: "transparent",
    animationEnabled: true, 
    animationDuration: 1000,
    dataPointWidth: 0.5,
    data: [              
    {
      type: "doughnut",
      startAngle: 270,
      radius:  "90%", 
      innerRadius: "85q%",
      dataPoints: [
        { x: "a",  y: 25, },
        { y: "b",  y: 75, },
      ]
    }
    ]
  });
  chart.render();

  var chart = new CanvasJS.Chart("landing_chart3", {
    colorSet: "prizyColor",
    backgroundColor: "transparent",
    animationEnabled: true, 
    animationDuration: 1000,
    dataPointWidth: 0.5,
    data: [              
    {
      type: "doughnut",
      startAngle: 270,
      radius:  "90%", 
      innerRadius: "85q%",
      dataPoints: [
        { x: "a",  y: 21, },
        { y: "b",  y: 79, },
      ]
    }
    ]
  });
  chart.render();

  var chart = new CanvasJS.Chart("landing_chart4", {
    colorSet: "prizyColor",
    backgroundColor: "transparent",
    animationEnabled: true, 
    animationDuration: 1000,
    dataPointWidth: 0.5,
    data: [              
    {
      type: "doughnut",
      startAngle: 270,
      radius:  "90%", 
      innerRadius: "85q%",
      dataPoints: [
        { x: "a",  y: 6, },
        { x: "b",  y: 94, },
      ]
    }
    ]
  });
  chart.render();

   var chart = new CanvasJS.Chart("landing_chart1_sp", {
    colorSet: "prizyColor",
    backgroundColor: "transparent",
    animationEnabled: true, 
    animationDuration: 1000,
    dataPointWidth: 0.5,
    data: [              
    {
      type: "doughnut",
      startAngle: 270,
      radius:  "90%", 
      innerRadius: "85q%",
      dataPoints: [
        { x: "a",  y: 60, },
        { y: "b",  y: 40, },
      ]
    }
    ]
  });
  chart.render();

  var chart = new CanvasJS.Chart("landing_chart2_sp", {
    colorSet: "prizyColor",
    backgroundColor: "transparent",
    animationEnabled: true, 
    animationDuration: 1000,
    dataPointWidth: 0.5,
    data: [              
    {
      type: "doughnut",
      startAngle: 270,
      radius:  "90%", 
      innerRadius: "85q%",
      dataPoints: [
        { x: "a",  y: 25, },
        { y: "b",  y: 75, },
      ]
    }
    ]
  });
  chart.render();

  var chart = new CanvasJS.Chart("landing_chart3_sp", {
    colorSet: "prizyColor",
    backgroundColor: "transparent",
    animationEnabled: true, 
    animationDuration: 1000,
    dataPointWidth: 0.5,
    data: [              
    {
      type: "doughnut",
      startAngle: 270,
      radius:  "90%", 
      innerRadius: "85q%",
      dataPoints: [
        { x: "a",  y: 21, },
        { y: "b",  y: 79, },
      ]
    }
    ]
  });
  chart.render();

  var chart = new CanvasJS.Chart("landing_chart4_sp", {
    colorSet: "prizyColor",
    backgroundColor: "transparent",
    animationEnabled: true, 
    animationDuration: 1000,
    dataPointWidth: 0.5,
    data: [              
    {
      type: "doughnut",
      startAngle: 270,
      radius:  "90%", 
      innerRadius: "85q%",
      dataPoints: [
        { x: "a",  y: 6, },
        { y: "b",  y: 94, },
      ]
    }
    ]
  });
  chart.render();

}
</script>

<script>
  $(document).on("click", ".landing_header_right", function(){
    if($('.sp_landing_ul').hasClass("landing_click")){
      $('.sp_landing_ul').removeClass("landing_click");
      $('.landing_header').addClass("all_landing_click");
    } else {
      $('.sp_landing_ul').addClass("landing_click");
      $('.landing_header').removeClass("all_landing_click");
    }
  });

</script>

<script>
   $(document).on("click", "a[href^='#']", function(){
      // スクロールの速度
      var speed = 500; // ミリ秒
      // アンカーの値取得
      var href= $(this).attr("href");
      // 移動先を取得
      var target = $(href == "#" || href == "" ? 'html' : href);
      // 移動先を数値で取得
      var position = target.offset().top;
      // スムーススクロール
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
   });
</script>