<% if @posts.count > 0 %>
<% @posts.each do | post | %>
  <div id="postsbox" class="post_<%= post[:id] %>">
  <div class="images">
    <% if @company.change_timeline_image_size == 1 %>
    <div class="non_image" style="text-align: left; padding: 5px 10px; ">
      <p><img src="<%= post[:user_img] %>" width="25px" height="25px" class="radius20" style="vertical-align: middle; margin-right: 5px;"/><%= @random_messages.sample %></p>
    </div>
    <% else %>
    <table>
    <tr>
      <td><img src="<%= post[:user_img] %>" class=""/></td>
		  <td>
		    <div>
		    <% if post[:receiver_id].count == 1 %>
		      <img src="<%= post[:receiver_img] %>" class=""/>
		    <% else %>
		      <div class="m_receivers_panel">
			      <img src="https://s3-ap-northeast-1.amazonaws.com/prizy/common/sample_01.png"/>
		      </div>
		      <div class="m_receivers">
			      <div class="m_receivers_left">
			        <% post[:full_receiver_name].each_with_index do | name, i |%>
			          <% if (i+1) % 2 != 0 %>
			            <p><%= truncate(name.upcase, :length=>12) %></p>
			          <% end %>
			        <% end %>
			      </div>
			      <div class="m_receivers_right">
			        <% post[:full_receiver_name].each_with_index do | name, i |%>
			          <% if (i+1) % 2 == 0 %>
			            <p><%= truncate(name.upcase, :length=>12) %></p>
			          <% end %>
			        <% end %>
			     </div>
		      </div>
		    <% end %>
		    </div>
		  </td>
    </tr>
    </table>
    <% end %>
  </div>
  <div class="posts">
  	<div class="r_float">
  	  <div class="time" data-id="<% post[:id] %>">
  		  <p class="time_<% post[:id] %>" align="right"><%= post[:create_time] %></p>
  	  </div>
  	</div>
	  From <span class="user giver"><b>@<% if $allow_nickname.include?(@user.company_id) %><%= post[:nickname] %><% else %><%= post[:full_user_name] %><% end %></b></span><br> 
	  To 
	  <span class="user receiver">
	    <b>@<%= post[:full_receiver_name].join(", ") %>: </b>
	  </span><br>
    <span class="description"><%= raw post[:description].gsub(/\@[^\s|  ]+/,"").gsub(/\+[^\s|  ]+/,"").gsub(/\#[^\s|  ]+/,"<b style='color:#0080ff'>\\0</b>") %></span><br>
  </div>
</div><br>
<% end %> <!-- posts -->

<% else %>
  <div class="each_article clearfix">
    <p>メッセージがありません</p>
  </div>
<% end %>