<% if @posts.count > 0 %>
  <% @posts.each do | post | %>
    <div id="postsbox" class="post_<%= post[:id] %>">
      <div class="images">
        <% if @company.change_timeline_image_size == 1 %>
          <div class="non_image" style="padding: 5px 10px;">
            <div class="clearfix width-100-percent" style="vertical-align: middle;">
              <div style="display: inline;float: left;text-align: left;color: white;">
                <%= @random_messages.sample %>
              </div>
              <div style="display: inline;float: right;text-align: right;color: white;">
                <% if @user.id == post[:user_id] %>
                  <span class="edit_post pc_view" data-post_id=<%= post[:id] %> data-post_username=<%= post[:full_user_name] %> data-post_description=<%= post[:description] %> data-post_full_receiver_name=<%= post[:full_receiver_name].join(",") %>>
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                  <span class="edit_post_sp sp_view" data-post_id=<%= post[:id] %> data-post_username=<%= post[:full_user_name] %> data-post_description=<%= post[:description] %> data-post_full_receiver_name=<%= post[:full_receiver_name].join(",") %>>
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                <% end %>
                <% if @user.id == post[:user_id] || (post[:receiver_id].include?(@user.id.to_s) && post[:receiver_id].count < 2) %>
                  <% unless ((request.env["HTTP_USER_AGENT"].include?('Mobile') || request.env["HTTP_USER_AGENT"].include?('Android'))) %>
                    <span class="delete_post" data-post_id="<%= post[:id] %>" data-before_controller="<%= controller.controller_name %>" data-before_action="<%= controller.action_name %>">
                      <i class="fas fa-trash-alt"></i>
                    </span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <table>
            <tr>
              <td><img src="<%= post[:user_img] %>" class=""/></td>
          	  <td>
		            <div>
		              <% if post[:receiver_id].count == 1 %>
		                <img src="<%= post[:receiver_img] %>" class=""/>
           		    <% else %>
          		      <div class="m_receivers_panel">
          			      <img src="https://s3-ap-northeast-1.amazonaws.com/prizy/common/sample_01.png"/>
		                </div>
          		      <div class="m_receivers">
			                <div class="m_receivers_left">
          			        <% post[:full_receiver_name].each_with_index do | name, i |%>
			                    <% if (i+1) % 2 != 0 %>
          			            <p><%= truncate(name.upcase, :length=>12) %></p>
			                    <% end %>
           	  	        <% end %>
          			      </div>
			                <div class="m_receivers_right">
          			        <% post[:full_receiver_name].each_with_index do | name, i |%>
			                    <% if (i+1) % 2 == 0 %>
          			            <p><%= truncate(name.upcase, :length=>12) %></p>
			                    <% end %>
          			        <% end %>
			                </div>
          		      </div>
          		    <% end %>
        		    </div>
        		  </td>
            </tr>
          </table>
        <% end %>
      </div>
      <div class="posts">
  	    <div class="r_float">
      	  <div class="time" data-id="<% post[:id] %>">
  	    	  <p class="time_<% post[:id] %>" align="right"><%= post[:create_time] %></p>
  	      </div>
      	</div>
	      From <span class="user giver"><b>@<% if $allow_nickname.include?(@user.company_id) && post[:nickname].present? %><%= post[:belonging_team] %><%= post[:nickname] %><% else %><%= post[:belonging_team] %><%= post[:full_user_name] %><% end %></b></span><br> 
    	  To 
	      <span class="user receiver">
    	    <b>@<%= post[:full_receiver_name].join(", ") %></b>
	      </span><br>
        <span class="description pc_view" style="word-break:break-all;"><%= simple_format raw post[:description].gsub(/\@[^\s|  ]+/,"").gsub(/\+[^\s|  ]+/,"").gsub(/\#[^\s|  ]+/,"<b style='color:#0080ff'>\\0</b>") %></span>
        <span class="description sp_view font-size-13half" style="word-break:break-all;line-height: 1.6em;"><%= raw post[:description].gsub(/\@[^\s|  ]+/,"").gsub(/\+[^\s|  ]+/,"").gsub(/\#[^\s|  ]+/,"<b style='color:#0080ff'>\\0</b>") %></span>
      
        <hr style="margin: 20px 2px 5px 2px">

        <div class="kudos" style="margin: 0px -7px 0px -7px;">
          <% kudo_style="" %>
          <% if post[:user_id] == @user.id %> 
            <% kudo_style='style=opacity:0.4;pointer-events:none' %>
          <% end %>

          <% if post[:kudos].find { |item| item[:user_id] == @user.id } %>
            <a data-id="<%= post[:id] %>" class="a_btn btn_unlike" <%= kudo_style %>><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_on.png"/></a>
          <% else %>
            <a data-id="<%= post[:id] %>" class="a_btn btn_like" <%= kudo_style %>><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_off.png"/></a>
          <% end %>

          <span class="kudos_count"><%= post[:kudos].count %>件</span>

          <div class="tooltip">
            <a class="user_kudos">
              <% if post[:kudos].present? %>
                <% post[:kudos].each_with_index do | kudo, i | %>
                  <%= "#{kudo.user.lastname} #{kudo.user.firstname}" %>
                  <% unless i == post[:kudos].count-1 %>,<% end %>
                  <% break if i >= 1 %>
                <% end %>...
              <% end %>
            </a>
            <span class="tooltiptext">
              <% post[:kudos].each do | kudo | %>
                <%= "#{kudo.user.lastname} #{kudo.user.firstname}" %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
      <div class="comments">
        <div class="comment_entry_<%= post[:id] %>">
          <% post[:comments].each do | comment | %>
            <div class="comment_entry comment_<%= comment.id %>">
              <div class="user_comment_img" style="float:left">
                <img src="<%= comment.user.img_src %>" width="25px" height="25px" class="radius20" />
              </div>
              <div class="user_comments">
                <div class="cmt_left" >
                  <span class="user" style="font-weight:normal;">@
                    <% if post[:user_id] == comment.user_id && post[:nickname] %>
                      <%= post[:nickname] %>
                    <% else %>
                      <%= "#{comment.user.lastname} #{comment.user.firstname}" %>
                    <% end %>
                  </span>
                  <span class="comment">
                    <%= raw comment.comments.gsub(/\+[^\s|  ]+|\#[^\s|  ]+/,"<b style='color:#0080ff'>\\0</b>") %>
                  </span>
                </div>
                <div class="cmt_right" >
                  <% if comment.user_id == @user.id || post[:receiver_id].include?(@user.id) %>
                    <div class="r_float">
                      <div class="editnav dropdown">
                        <span class="del_comment" data-id="<%= comment.id %>" data-before_controller="<%= controller.controller_name %>" data-before_action="<%= controller.action_name %>">
                          <i class="fas fa-trash-alt"></i>
                        </span>
                      </div><br>
                    </div>
                  <% end %>
                </div>
              </div>
              <br>
            </div>  
          <% end %>
        </div>
        <%# if post[:receiver_id].include?(@user.id) || post[:user_id] == @user.id %>
          <div>
            <!--
            <input type="text" name="comment" data-id="<%= post[:id] %>" class="give_comments post_comment_<%= post[:id] %>" value="" placeholder="Enterキーでコメント返信 （250文字以内）" autocomplete="off" maxlength="250"/>
            -->
            <textarea name="comment" data-id="<%= post[:id] %>" class="give_comments post_comment_<%= post[:id] %>" id="give_comments"  placeholder="Enterキーでコメント返信, Shift+Enterで改行する" style="resize:none;height:60px;" rows="1" maxlength="2000"/></textarea>
            <p align="right"><input type="button" class="btn_comment" data-id="<%= post[:id] %>" value="送信"/></p>
          </div>
        <%# end %>
      </div>
    </div>

    <!-- edit message -->
    <div id="editmessage" class="modalwin hide" name=<%= post[:id] %>>
      <a herf="#" class="modal-close"></a>
      <h1>メッセージを更新する</h1>
      <div class="modalwin-contents">
        <%= form_tag(post_path(post[:id]), method: "PATCH", id: "login_form" ) do %>
          <div class="description">
            <p class="destination"></p>
            <p class="edit_receiver"></p>
            <p>
              <textarea autofocus="autofocus" class="editmessage_description" name="description" id=<%= post[:id] %> required align="center" rows="5" cols="75" style="font-size: 14px; padding: 8px;border: 1px solid gray;">
              </textarea>
            </p>
            <input type="hidden" value=<%= post[:id] %>>
          </div>
          <p align="right"><input type="submit" value="更新する"/></p>
        <% end %>
      </div>
    </div>

    <div id="editmessage-sp" class="modalwin-sp hide">
      <a herf="#" class="modal-close"></a>
      <h1>メッセージを編集する</h1>
      <div class="modalwin-sp-contents">
        <%= form_tag(post_path(post[:id]), method: "PATCH", id: "login_form" ) do %>
          <div class="description">
            <p class="destination"></p>
            <p class="edit_receiver"></p>
            <p>
              <textarea autofocus="autofocus" class="editmessage_description" name="description" id=<%= post[:id] %> required align="center" rows="5" cols="75" style="font-size: 14px; padding: 8px;border: 1px solid gray;">
              </textarea>
            </p>
            <input type="hidden" value=<%= post[:id] %>>
          </div>
          <p align="right"><input type="submit" value="更新する"/></p>
        <% end %>
      </div>
    </div><br>
    <!-- end edit message -->
  <% end %> <!-- posts -->
<% else %>
  <div class="each_article clearfix">
    <p>メッセージがありません</p>
  </div>
<% end %>


<script type="text/javascript">
$('.delete_post').click(function() {
  var post_id = ($(this).attr('data-post_id')); //get attributes of clicked item
  var before_controller = ($(this).attr('data-before_controller'));
  var before_action = ($(this).attr('data-before_action'));

  if (confirm("本当にこの投稿を削除しますか？")) {
    $.post("/user/delete_post", { 'post_id': post_id, 'before_controller': before_controller, 'before_action': before_action}); //send post request
    location.reload();
  }
  return false; //do nothing
});

// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#editmessage');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#editmessage')
        .removeClass('show')
        .addClass('hide');
      }
      $('.edit_post').on('click', showModal);
    }());

    $('.edit_post').on('click', function(){
      $('.destination').empty("");
      $('.edit_receiver').empty("");
      $('.description #article_user').remove();
      var post_id =  $(this).data("post_id");
      var name =  $(this).data("post_username");
      var description = $(this).data("post_description");
      var receiver = $(this).data("post_full_receiver_name")

      // $(".description textarea").attr("placeholder",id);
    $(".destination").append("From: " + name);
    $(".description").append($("<input type='hidden' id='article_user' class='receiver-selected given_user' name='post_id' data-id='" + post_id + "'/>").val(post_id));
      // $(".description textarea").val("新しい記事が公開されました！" + "\n" + "\n"  + title + "\n" + url);
    $(".edit_receiver").append("To: " + receiver);
    $(".editmessage_description").val(description);
    });


// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#editmessage-sp');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#editmessage-sp')
        .removeClass('show')
        .addClass('hide');
      }
      $('.edit_post_sp').on('click', showModal);
    }());

    $('.edit_post_sp').on('click', function(){
      $('.destination').empty("");
      $('.edit_receiver').empty("");
      $('.description #article_user').remove();
      var post_id =  $(this).data("post_id");
      var name =  $(this).data("post_username");
      var description = $(this).data("post_description");
      var receiver = $(this).data("post_full_receiver_name")

      // $(".description textarea").attr("placeholder",id);
    $(".destination").append("From: " + name);
    $(".description").append($("<input type='hidden' id='article_user' class='receiver-selected given_user' name='post_id' data-id='" + post_id + "'/>").val(post_id));
      // $(".description textarea").val("新しい記事が公開されました！" + "\n" + "\n"  + title + "\n" + url);
    $(".edit_receiver").append("To: " + receiver);
    $(".editmessage_description").val(description);
});

$(".btn_like").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/profile/give_kudos",
    data: { 'post_id': post_id, 'kudos': 1 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

$(".btn_unlike").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/profile/give_kudos",
    data: { 'post_id': post_id, 'kudos': 0 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

$(".give_comments").bind('keydown',function(e) {
  if(!e.shiftKey){
    if(!e.altKey){
      if(e.which == 13) {
        var _this = $(this).parent().children(".give_comments").first();
        var post_id = ($(this).attr('data-id')); //get attributes of clicked item
        var comments = ($(this).val()); //get attributes of clicked item
        postComment(post_id, comments, _this);
      }
    }
  }
});

$(".btn_comment").click(function() {
  var _this = $(this).parent().parent().children(".give_comments").first();
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item
  var comments = $(".post_comment_"+post_id).val(); 

  postComment(post_id, comments, _this);
});

function postComment(post_id, comments, _this) {
  var obj = _this.val();

  $(_this).val("※コメントを送信しています");
  $(_this).empty();

  if (obj.length > 2000 || obj.length < 1) {
    $(_this).val("");
    alert("コメントは1文字以上2000文字以内です");
    return false;
  } else {
    $.ajax({
      type: "POST",
      url: "/profile/give_comments",
      data: { 'post_id': post_id, 'comments': comments, 'page': $.urlParam('page') },
      success: function(data) {
        $(_this).val("※コメントを送信しています");
        window.location.reload(); 
      }
    });
  }
}

$(function() {
  $(".give_comments").autosize();
  $(".give_comments").keypress(function(){
    if ($(this).val().length > 2000) {
      $(this).css("border","2px solid red");
    } else {
      $(this).css("border","");
    }
  });
});


$('.del_comment').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item
  var before_controller = ($(this).attr('data-before_controller'));
  var before_action = ($(this).attr('data-before_action'));

  if (confirm("本当にこのコメントを削除しますか？")) {
    $.post("/profile/delete_comment", { 'comment_id': _id, 'before_controller': before_controller, 'before_action': before_action}); //send post request
    $(".comment_" + _id).remove();
  }
  return false; //do nothing
});

$(".give_comments").bind('keydown',function(e) {
  if(event.altKey){
    if(e.which == 13) {
      var aaaa =$(this).parent().children(".give_comments").first().val();;
      $(".give_comments").val(aaaa + "\n");
    }
  }
});

</script>
