<% @posts.each do | post | %>
  <div id="postsbox" class="post_<%= post[:id] %>">
  <div class="images">
    <% if @company.change_timeline_image_size == 1 %>
    <div class="non_image" style="text-align: left; padding: 5px 10px; ">
      <p><img src="<%= post[:user_img] %>" width="25px" height="25px" class="radius20" style="vertical-align: middle; margin-right: 5px;"/><%= @random_messages.sample %></p>
    </div>
    <% else %>
    <table>
    <tr>
      <td><img src="<%= post[:user_img] %>" class=""/></td>
		  <td>
		    <div>
		    <% if post[:receiver_id].count == 1 %>
		      <img src="<%= post[:receiver_img] %>" class=""/>
		    <% else %>
		      <div class="m_receivers_panel">
			      <img src="https://s3-ap-northeast-1.amazonaws.com/prizy/common/sample_01.png"/>
		      </div>
		      <div class="m_receivers">
			      <div class="m_receivers_left">
			        <% post[:full_receiver_name].each_with_index do | name, i |%>
			          <% if (i+1) % 2 != 0 %>
			            <p><%= truncate(name.upcase, :length=>12) %></p>
			          <% end %>
			        <% end %>
			      </div>
			      <div class="m_receivers_right">
			        <% post[:full_receiver_name].each_with_index do | name, i |%>
			          <% if (i+1) % 2 == 0 %>
			            <p><%= truncate(name.upcase, :length=>12) %></p>
			          <% end %>
			        <% end %>
			     </div>
		      </div>
		    <% end %>
		    </div>
		  </td>
    </tr>
    </table>
    <% end %>
  </div>
  <div class="posts">
	<div class="r_float">
	  <div class="time" data-id="<% post[:id] %>">
		  <p class="time_<% post[:id] %>" align="right"><%= post[:create_time] %></p>
	  </div>
	  <!-- <% if post[:receiver_id].include?(@user.id) || post[:user_id].to_i == @user.id %>
		<div class="editnav dropdown r_float">
		  <div><input type="button" class="dropbtn" value="▽"></div>
		  <div class="dropdown-content">
		      <a><input type="button" class="del del_post" data-id="<%= post[:id] %>" value="削除"/></a>
		     for future 
		    <a><input type="button" class="disabled" value="編集" disabled /></a>
		    
		  </div>
		</div><br>
	  <% end %>-->
	 </div>
	    From <span class="user giver"><b>@<% if $allow_nickname.include?(@user.company_id) %><%= post[:nickname] %><% else %><%= post[:full_user_name] %><% end %></b></span><br> 
	    To 
	    <span class="user receiver">
	      <b>@<%= post[:full_receiver_name].join(", ") %>: </b>
	    </span>
            <span class="points radius5"><%= post[:points] %> pts</span><br>
      
            <span class="description"><%= raw post[:description].gsub(/\@[^\s|  ]+/,"").gsub(/\+[^\s|  ]+/,"").gsub(/\#[^\s|  ]+/,"<b style='color:#0080ff'>\\0</b>") %></span><br>
          </div>
          <hr>
          <div class="kudos">
            <% if post[:kudos].find { |item| item[:user_id] == @user.id } %>
              <a data-id="<%= post[:id] %>" class="a_btn btn_unlike"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_on.png"/></a>
            <% else %>
              <a data-id="<%= post[:id] %>" class="a_btn btn_like"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_off.png"/></a>
            <% end %>

            <span class="kudos_count"><%= post[:kudos].count %>件</span>
            <div class="tooltip">
              <a class="a_btn user_kudos">
              <% if post[:kudos].present? %>
                <% post[:kudos].each_with_index do | kudo, i | %>
                  <% if $allow_nickname.include?(@user.company_id) %>
          <% if kudo.user.id == post[:user_id] %>
            <%= post[:nickname] %>
          <% else %>
            <%= "#{kudo.user.lastname} #{kudo.user.firstname}" %>
          <% end %>
        <% else %>
          <%= "#{kudo.user.lastname} #{kudo.user.firstname}" %>
        <% end %>
                  <% unless i == post[:kudos].count-1 %>,<% end %>
                  <% if i > 3 %><% break %> <% end %>
                <% end %>...
              <% end %>
              </a>
              <span class="tooltiptext">
              <% post[:kudos].each do | kudo | %>
                <% if $allow_nickname.include?(@user.company_id) %>
          <% if kudo.user.id == post[:user_id] %>
            <%= post[:nickname] %>
          <% else %>
            <%= "#{kudo.user.lastname} #{kudo.user.firstname}" %>
          <% end %>
        <% else %>
          <%= "#{kudo.user.lastname} #{kudo.user.firstname}" %>
        <% end %><br>
              <% end %>
              </span>
            </div>
          </div>
    
          <div class="comments">
            <div class="comment_entry_<%= post[:id] %>">
              <% post[:comments].each do | comment | %>
                <div class="comment_entry comment_<%= comment.id %>">
                  <div class="user_comment_img">
                    <img src="<%= comment.user.img_src %>" width="25px" height="25px" class="radius20" />
                  </div>
		  <div class="user_comments">
		    <span class="user" style="font-weight:normal;">@
          <% if $allow_nickname.include?(@user.company_id) %>
            <% if comment.user.id == post[:user_id] %>
              <%= post[:nickname] %>
            <% else %>
              <%= "#{comment.user.lastname} #{comment.user.firstname}" %>
            <% end %>
          <% else %>
            <%= "#{comment.user.lastname} #{comment.user.firstname}" %>
          <% end %>
        </span>
		    <span class="comment"><%= raw comment.comments.gsub(/\+[^\s|  ]+/,"").gsub(/\#[^\s|  ]+/,"<b style='color:#0080ff'>\\0</b>") %></span>
		  </div>
      <% if comment.user_id == @user.id || post[:receiver_id].include?(@user.id) %>
      <div class="r_float">
      <div class="editnav dropdown">
        <input type="button" class="dropbtn" value="▽">
        <div class="dropdown-content">
          <a><input type="button" class="del del_comment" data-id="<%= comment.id %>" value="削除"/></a>
        </div>
      </div><br>
          </div>
        <% end %>  
		  <br>
                </div>
              <% end %>
            </div>
            <input type="text" name="comment" data-id="<%= post[:id] %>" class="give_comments post_comment_<%= post[:id] %>" value="" placeholder="コメントする" autocomplete="off"/>
            <input type="button" class="btn_comment" data-id="<%= post[:id] %>" value="送信"/>
          </div>
        </div><br>
      <% end %> <!-- posts -->
