<% if @posts.count > 0 %>
  <% @posts.each do | post | %>
    <div id="postsbox" class="post_<%= post[:id] %>">
      <div class="images">
        <% if @company.change_timeline_image_size == 1 %>
          <div class="non_image" style="padding: 5px 10px;">
            <div class="clearfix width-100-percent" style="vertical-align: middle;">
              <div style="display: inline;float: left;text-align: left;color: white;">
                <%= @random_messages.sample %>
              </div>
              <div style="display: inline;float: right;text-align: right;color: white;">
                <% if @user.id == post[:user_id] %>
                  <span class="edit_post" data-post_id=<%= post[:id] %> data-post_username=<%= post[:full_user_name] %> data-post_description=<%= post[:description] %>>
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                <% end %>
                <% if @user.id == post[:user_id] || post[:receiver_id].include?(@user.id.to_s) %>
                  <span class="delete_post" data-post_id="<%= post[:id] %>" data-before_controller="<%= controller.controller_name %>" data-before_action="<%= controller.action_name %>">
                    <i class="fas fa-trash-alt"></i>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <table>
            <tr>
              <td><img src="<%= post[:user_img] %>" class=""/></td>
          	  <td>
		            <div>
		              <% if post[:receiver_id].count == 1 %>
		                <img src="<%= post[:receiver_img] %>" class=""/>
           		    <% else %>
          		      <div class="m_receivers_panel">
          			      <img src="https://s3-ap-northeast-1.amazonaws.com/prizy/common/sample_01.png"/>
		                </div>
          		      <div class="m_receivers">
			                <div class="m_receivers_left">
          			        <% post[:full_receiver_name].each_with_index do | name, i |%>
			                    <% if (i+1) % 2 != 0 %>
          			            <p><%= truncate(name.upcase, :length=>12) %></p>
			                    <% end %>
           	  	        <% end %>
          			      </div>
			                <div class="m_receivers_right">
          			        <% post[:full_receiver_name].each_with_index do | name, i |%>
			                    <% if (i+1) % 2 == 0 %>
          			            <p><%= truncate(name.upcase, :length=>12) %></p>
			                    <% end %>
          			        <% end %>
			                </div>
          		      </div>
          		    <% end %>
        		    </div>
        		  </td>
            </tr>
          </table>
        <% end %>
      </div>
      <div class="posts">
  	    <div class="r_float">
      	  <div class="time" data-id="<% post[:id] %>">
  	    	  <p class="time_<% post[:id] %>" align="right"><%= post[:create_time] %></p>
  	      </div>
      	</div>
	      From <span class="user giver"><b>@<% if $allow_nickname.include?(@user.company_id) && post[:nickname].present? %><%= post[:nickname] %><% else %><%= post[:full_user_name] %><% end %></b></span><br> 
    	  To 
	      <span class="user receiver">
    	    <b>@<%= post[:full_receiver_name].join(", ") %></b>
	      </span><br>
        <span class="description pc_view" style="word-break:break-all;"><%= simple_format raw post[:description].gsub(/\@[^\s|  ]+/,"").gsub(/\+[^\s|  ]+/,"").gsub(/\#[^\s|  ]+/,"<b style='color:#0080ff'>\\0</b>") %></span>
        <span class="description sp_view font-size-13half" style="word-break:break-all;line-height: 1.6em;"><%= raw post[:description].gsub(/\@[^\s|  ]+/,"").gsub(/\+[^\s|  ]+/,"").gsub(/\#[^\s|  ]+/,"<b style='color:#0080ff'>\\0</b>") %></span>
      </div>
    </div><br>

    <!-- edit message -->
    <div id="editmessage" class="modalwin hide" name=<%= post[:id] %>>
      <a herf="#" class="modal-close"></a>
      <h1>メッセージを編集する</h1>
      <div class="modalwin-contents">
        <%= form_tag(post_path(post[:id]), method: "PATCH", id: "login_form" ) do %>
          <div class="description">
            <p class="destination">To: <%= post[:full_user_name] %>
            </p>
            <p>
              <textarea autofocus="autofocus" class="editmessage_description" name="description" id=<%= post[:id] %> required align="center" rows="5" cols="75" style="font-size: 14px; padding: 8px;border: 1px solid gray;"></textarea>
            </p>
            <input type="hidden" value=<%= post[:id] %>>
          </div>
          <p align="right"><input type="submit" value="更新する"/></p>
        <% end %>
      </div>
    </div>

    <div id="editmessage-sp" class="modalwin-sp hide">
      <a herf="#" class="modal-close"></a>
      <h1>メッセージを編集する</h1>
      <div class="modalwin-sp-contents">
        <%= form_tag("/user/give_points", method: "post", id: "login_form" ) do %>
          <div class="description">
            <p class="destination">To:
            </p>
            <p>
              <textarea autofocus="autofocus" name="new_post[][description]" id="description" class="taginput width-100-percent" required align="center" rows="5" style="font-size: 14px; padding: 8px;border: 1px solid gray" placeholder="メッセージを入力してください。" data-intro="最後にコメントを記入しましょう。相手のどのような行動に感謝しているのか、どのような点を褒めているのか明確にすると相手も嬉しさが高まります。"></textarea>
            </p>
          </div>
          <p align="right"><input type="submit" value="更新する"/></p>
        <% end %>
      </div>
    </div>
    <!-- end edit message -->
  <% end %> <!-- posts -->
<% else %>
  <div class="each_article clearfix">
    <p>メッセージがありません</p>
  </div>
<% end %>


<script type="text/javascript">
$('.delete_post').click(function() {
  var post_id = ($(this).attr('data-post_id')); //get attributes of clicked item
  var before_controller = ($(this).attr('data-before_controller'));
  var before_action = ($(this).attr('data-before_action'));

  if (confirm("本当にこの投稿を削除しますか？")) {
    $.post("/user/delete_post", { 'post_id': post_id, 'before_controller': before_controller, 'before_action': before_action}); //send post request
    location.reload();
  }
  return false; //do nothing
});

// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#editmessage');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#editmessage')
        .removeClass('show')
        .addClass('hide');
      }
      $('.edit_post').on('click', showModal);
    }());


    $('.edit_post').on('click', function(){
      $('.destination').empty("");
      $('.description #article_user').remove();
      var post_id =  $(this).data("post_id");
      var name =  $(this).data("post_username");
      var discription = $(this).data("post_description");

      // $(".description textarea").attr("placeholder",id);
    $(".destination").append("From: " + name);
    $(".description").append($("<input type='hidden' id='article_user' class='receiver-selected given_user' name='post_id' data-id='" + post_id + "'/>").val(post_id));
      // $(".description textarea").val("新しい記事が公開されました！" + "\n" + "\n"  + title + "\n" + url);
    $(".editmessage_description").text(discription);
    });


// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#editmessage-sp');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#editmessage-sp')
        .removeClass('show')
        .addClass('hide');
      }
      $('.edit_post-sp').on('click', showModal);
    }());
</script>