    <div class="profile">
    <!-- タイムラインを表示するときの処理 -->


    <!-- タイムラインを表示するときの処理 -->
      <div class="profile_pic col-3" style="padding-left: 0px; padding-bottom: 0px;">
       <img src="<%= @user.img_src %>" class="radius10"/>
       <p><input type="button" value="編集する" class="btncmn w100p btn_edit" /></p>
      </div>
      <div class="info col-5">
        <h2 class="name"><%= @user.lastname %> <%= @user.firstname %> (<%= @user.name %>)</h2>
       <h3 class="gray"><%= @user.company.name %></h3>
       <h4 class="gray"><u><%= @user.email %></u></h4><br>
       <h2>獲得したポイント: <%= number_with_delimiter(@user.in_points, :delimiter => ',') %></h2>
       <h2>贈れるポイント: <%= number_with_delimiter(@user.out_points, :delimiter => ',') %></h2> 
      </div>
      <div class="rightbox col-4">
       <div class="title"> 今週、<%= @receiver_ratio[0] %>回「ありがとう」をもらっています！</div>
      <div class="profilebox">
        <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
        <% if @receiver_ratio[1] == "-" %>
          <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b></b></span><span style="font-size: 12px; color: #808080"><br><br>翌週から結果を表示します！</span>
        <% elsif @receiver_ratio[1] > 0 %>
          <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週よりも褒められています！</span>
        <% elsif @receiver_ratio[1] == 0 %>
          <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
        <% else %>
          <span style="color: #2d87e2; font-size: 36px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: blue; font-size: 40px; font-weight: 900"><b>↓</b></span><span style="font-size: 12px; color: #808080"><br><br>先週に比べマイナスになっています><</span>
        <% end %>
        </div>
      </div><br>

      <div class="title"> 今週、<%= @giver_ratio[0] %>回「ありがとう」を伝えています！</div>
      <div class="profilebox">
        <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
        <% if @giver_ratio[1] == "-" %>
          <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b></b></span><span style="font-size: 12px; color: #808080"><br><br>翌週から結果を表示します！</span>
        <% elsif @giver_ratio[1] > 0 %>
          <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週よりも褒められています！</span>
        <% elsif @giver_ratio[1] == 0 %>
          <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
        <% else %>
          <span style="color: #2d87e2; font-size: 36px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: blue; font-size: 40px; font-weight: 900"><b>↓</b></span><span style="font-size: 12px; color: #808080"><br><br>先週に比べマイナスになっています><</span>
        <% end %>
        </div>
      </div><br>

      </div>
      <div class="clearfix"></div>
    </div>