<div id="wrapper">
<div id="contents">
  <h3 align="center">Add New </h3><br>
  <%= form_tag( "/register/company/create_complete", method: "post", id: "new_form" ) do %>
  <div class="register_box">
    <table class="tbl_register">
      <tr>
	<td>Perk Title: </td>
	<td><input type="text" name="name" value=""/></td>
      </tr>
      <tr>
	<td>Category: </td>
	<td>
	  <select name="category_id">
	  <% @categories.each do | id, val | %>
	    <option value="<%= id %>"><%= val %></option>
	  <% end %>
	  </select>
	</td>
      </tr>
      <tr>
	<td>Vendor: </td>
	<td>
	  <select name="vendor_id">
	  <% @vendors.each do | item | %>
	    <option value="<%= item[:id] %>"><%= item[:name] %></option>
	  <% end %>
	  </select>
	</td>
      </tr>
      <tr>
	<td>Image Source: </td>
	<td><input type="text" name="img_src" value="" size="50"/></td>
      </tr>
      <tr>
	<td>Perk URL: </td>
	<td><input type="text" name="url" value=""/></td>
      </tr>
      <tr>
	<td>Description: </td>
	<td><textarea name="description" rows="5" cols="30"></textarea></td>
      </tr>
      <tr>
	<td>Price: </td>
	<td><input type="text" name="price" value=""/></td>
      </tr>
      <tr>
	<td>Discount % : </td>
	<td><input type="text" name="discount" value=""/></td>
      </tr>
      <tr>
	<td>Discount Price: </td>
	<td><input type="text" name="sale_price" value=""/></td>
      </tr>
      <tr>
	<td colspan="2" align="right">
	  <br>
	  <input type="button" value="Back" class="btn_back btn" />
	  <input type="submit" value="Submit" class="btn_submit btn" />
	</td>
      </tr>
    </table>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".btn_back").click(function() {
  window.location = "/tools/items";
});
</script>
