<div class="login_wrapper">
<div class="user_login">
  <div class="login_header">
    <%= link_to "/" do %>
      <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/logo.png") %>
    <% end %>
  </div>

  <div id="wrapper">
  <div id="contents" class="login_contents">
    <% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
    <%= form_tag( "/forgot_password/submit", method: "post", id: "login_form" ) do %>
    <p class="c_align login_reset_password">パスワードをリセットします。<br>メールアドレスを入力してください。</p>
    <div id="loginbox" class="center"><br>
      <p class="c_align"><input type="email" value="" name="email" size="40" required class="login_input_form" placeholder="メールアドレス"/></p>
      <p class="c_align"><input type="submit" value="送信 >" class="btn password_submit" /></p>
    </div>  
    <% end %>
  </div> <!-- contents -->
  </div> <!-- wrapper -->
</div>

<div class="login_footer">
  <%= render "shared/footer"%>
</div>
</div>

