<div class="time_line_wrapper">
  <div id="wrapper">
    <div id="contents">
      <% if flash[:notice] %><p class="c_align notice" style="color: red;"><b><i><%= flash[:notice] %></i></b></p><% end %>
        <div style="text-align:center"><b><i><span class="notice"></span></i></b></div><br>
        <div class="mypage row">
          <% if @banner %>
            <%= image_tag @banner.img_src ,class: "width-100-percent" %>
          <% else %>
            <img src="https://btoa-img.s3-ap-northeast-1.amazonaws.com/company/banner_no_image" class="width-100-percent" />
          <% end %>
          <div class="clearfix margin-top-10 width-100-percent">
            <div class="rightbox col-4" >
              <div class="title"> 今までもらった「ありがとう」</div>
              <div class="profilebox">
                <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
                  <% if @total_receive_message != 0 %>
                    <span style="color: #ff8d07; font-size: 40px"><b><%= @total_receive_message %></b></span><span style="color: red; font-size: 40px; font-weight: 900"></span>
                  <% else %>
                    <span style="font-size: 12px; color: #808080">現在集計中です！！</span><br/><br/>
                  <% end %>
                </div>
            </div><br>
            <div class="title"> 今週、<%= @receiver_ratio[0] %>回「ありがとう」をもらっています！</div>
            <div class="profilebox">
              <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
                <% if @receiver_ratio[1] == "-" %>
                  <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b></b></span><span style="font-size: 12px; color: #808080"><br><br>翌週から結果を表示します！</span>
                <% elsif @receiver_ratio[1] > 0 %>
                  <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週よりも褒められています！</span>
                <% elsif @receiver_ratio[1] == 0 %>
                  <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
                <% else %>
                  <span style="color: #2d87e2; font-size: 36px"><b><%= number_to_percentage(@receiver_ratio[1], precision: 0) %></b></span><span style="color: blue; font-size: 40px; font-weight: 900"><b>↓</b></span><span style="font-size: 12px; color: #808080"><br><br>先週に比べマイナスになっています><</span>
                <% end %>
              </div>
            </div><br>
            <div class="title"> 今週、<%= @giver_ratio[0] %>回「ありがとう」を伝えています！</div>
            <div class="profilebox">
              <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
                <% if @giver_ratio[1] == "-" %>
                  <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b></b></span><span style="font-size: 12px; color: #808080"><br><br>翌週から結果を表示します！</span>
                <% elsif @giver_ratio[1] > 0 %>
                  <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週よりも感謝を伝えています！</span>
                <% elsif @giver_ratio[1] == 0 %>
                  <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
                <% else %>
                  <span style="color: #2d87e2; font-size: 36px"><b><%= number_to_percentage(@giver_ratio[1], precision: 0) %></b></span><span style="color: blue; font-size: 40px; font-weight: 900"><b>↓</b></span><span style="font-size: 12px; color: #808080"><br><br>先週に比べマイナスになっています><</span>
                <% end %>
              </div>
            </div><br>
            <div class="title" style="background-color: #ff8290;">日々の感謝さん</div>
            <div class="user_postbox">
              <% if @user_posted_contents.count > 0 %>
                <% @user_posted_contents.each do |article| %>
                  <%= link_to "/company/article/#{article.id}" do %>
                    <div class="each_post clearfix" style="padding: 0px;">
                      <div class="each_post_left" style="float: left;">
                        <% if article.images.present? %>
                          <%= image_tag article.images.first.img_src, size: "100x70" %>
                        <% else %>
                          <img src="https://btoa-img.s3-ap-northeast-1.amazonaws.com/company/banner_no_image" width="100" height="70" />
                        <% end %>
                      </div>
                      <div class="each_post_right" style="float: left;">
                        <span class="date color-black"><%= article.updated_at.strftime("%Y.%m.%d") %></span>
                        <h3 class="color-black pc_view" style="word-break:break-all;color: black;font-weight: normal;"><%= article.title.truncate(30) %></h3>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <div class="each_article clearfix">
                  <p>記事が投稿されていません</p>
                </div>
              <% end %>
            </div>
            <div class="title border-radius-5 show-user-post dropbtn width-60-percent" style="margin:0px auto;background-color: #ff8d07;font-size:13px;">視聴者投稿はこちら</div>
          </div>
          <div class="leftbox col-8" style="padding-left:0;">
            <div class="clearfix width-100-percent pc_view">
              <%= link_to profile_articles_path, :class => "article_box" do %>
                ニュース<br/>トピック
              <% end %>
              <%= link_to "/profile", :class => "receiving_box" do %>
                もらったメッセージ<br/>を見る
              <% end %>
              <%= link_to "/profile/given", :class => "giving_box bkgc_white" do %>
                贈ったメッセージ<br/>を見る
              <% end %>
              <%= link_to "/rewards/status", :class => "present_box show-modal" do %>
                メッセージ<br/>を贈る
              <% end %>
            </div>
            <div class="clearfix width-100-percent sp_view">
              <div class="clearfix width-100-percent">
                <%= link_to profile_articles_path, :class => "article_box_sp", :style => "font-size:14px;" do %>
                  ニュース<br/>トピック
                <% end %>
                <%= link_to "/profile", :class => "receiving_box_sp", :style => "font-size:14px;" do %>
                  もらったメッセージを<br/>見る
                <% end %>
              </div>
              <div class="clearfix width-100-percent">
                <%= link_to "/profile/given", :class => "giving_box_sp bkgc_white", :style => "font-size:14px;" do %>
                  贈ったメッセージを<br/>見る
                <% end %>
                <%= link_to "/rewards/status", :class => "present_box_sp show-modal-sp", :style => "font-size:14px;" do %>
                  メッセージを<br/>贈る
                <% end %>
              </div>
            </div>

            <div class="timeline">
              <div class="pagination" style="float:right">
                <% if @total_pages > 8 %>
                  <% unless @page_now == 1 %>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=1" %>">最初</a>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=#{@previous_page}" %>">前へ</a>
                  <% end %>
                  <a href="<%= "#{@prizy_url}/profile/given/?page=#{@page_now}" %>"><%= @page_now %></a>
                  <% unless @page_now == @total_pages %>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=#{@next_page}" %>">次へ</a>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=#{@total_pages}" %>">最後</a>
                  <% end %>
                <% else %>
                  <% (1..@total_pages).each do | i | %>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=#{i}" %>"><%= i %></a>
                  <% end %>
                <% end %>
              </div><br>
              <div class="clearfix"></div>
              <%= render 'bottomprofile' %>
              <div class="pagination" style="float:right">
                <% if @total_pages > 8 %>
                  <% unless @page_now == 1 %>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=1" %>">最初</a>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=#{@previous_page}" %>">前へ</a>
                  <% end %>
                  <a href="<%= "#{@prizy_url}/profile/given/?page=#{@page_now}" %>"><%= @page_now %></a>
                  <% unless @page_now == @total_pages %>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=#{@next_page}" %>">次へ</a>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=#{@total_pages}" %>">最後</a>
                  <% end %>
                <% else %>
                  <% (1..@total_pages).each do | i | %>
                    <a href="<%= "#{@prizy_url}/profile/given/?page=#{i}" %>"><%= i %></a>
                  <% end %>
                <% end %>
              </div><br>
              <div class="clearfix"></div>
            </div><!-- timeline -->
          </div>
        </div>
      </div><!-- row -->
    </div> <!-- contents -->
  </div> <!-- wrapper -->
</div>


<!-- sp -->
<div class="sp_view sp_footer">
  <div class="title" style="background-color: #ff8290;">日々の感謝さん</div>
  <div class="user_postbox">
    <% if @user_posted_contents.count > 0 %>
      <% @user_posted_contents.each do |article| %>

          <div class="each_post clearfix" style="padding: 10px;background-color: white;min-height: 80px;">
            <div class="each_post_left width-30-percent" style="float: left;">
              <% if article.images.present? %>
                <%= image_tag article.images.first.img_src, class: "width-100-percent" %>
              <% else %>
                <img src="https://btoa-img.s3-ap-northeast-1.amazonaws.com/company/banner_no_image" class="width-100-percent" />
              <% end %>
            </div>
            <div class="each_post_right width-70-percent" style="float: left;padding-left: 10px;">
              <h3><%= link_to article.title.truncate(30), "/company/article/#{article.id}", style: "word-break:break-all;color: black;font-weight: normal;text-decoration:none;" %></h3>
            </div>
          </div>

      <% end %>
    <% else %>
      <div class="each_article clearfix">
        <p style="margin-left: 10px;">記事が投稿されていません</p>
      </div>
    <% end %>
  </div>
  <div class="title border-radius-5 show-user-post-sp dropbtn width-60-percent" style="margin:10px auto;background-color: #ff8d07;font-size:13px;text-align: center;">視聴者投稿はこちら</div>
</div>
<!-- end_sp -->

<!-- start_post -->
<div id="modalwin" class="modalwin hide">
  <a herf="#" class="modal-close"></a>
  <h1>メッセージを贈る</h1>
  <div class="modalwin-contents">
    <%= form_tag( "/user/give_points", method: "post", id: "login_form" ) do %>
      <div class="pointsbox" id="pointsbox" style="padding: 10px;">
        <div id="new_posts">
          <p style="font-size: 15px;"><b>・名前からメッセージを贈る相手を探す</b><br/>
            <input type="text" id="target_user_name" size="40" autocomplete="on" data-user="<%= @user_fullnames %>" data-user-id="<%= @user_ids %>" style="border: #cccccc 1px solid;padding: 2px;">
            <input type="button" value="追加" class="btn_change_password" style="width: 50px;"/>
          </p>
          <div id="new_post" class="new_post display_hidden" name="new_post" style="margin-bottom:20px;">
            <p align="center">
            <% if $use_select.include?(@user.company_id) %>
              <div class="target_select clearfix">
                <p class="clearfix">
                  <p style="font-size: 15px;"><b>・所属からメッセージを贈る相手を探す</b></p>
                  <p style="float: left; margin-right: 5px;">会社　：
                    <select class="target_select_department new_post_select">
                      <option>選択してください</option>
                      <% @departments.each do |dep| %>
                        <option value="<%= dep.id %>"><%= dep.dep_name %></option>
                     <% end %>
                    </select>
                  </p>
                  <p style="float: left;">部署　：
                    <select class="target_select_team new_post_select">
                      <option>選択してください</option>
                    </select>
                  </p>
                </p>
                <div class="clearfix">
                  <p style="float: left; margin-right: 5px;">贈り先：
                    <select class="target_select_user new_post_select">
                      <option>選択してください</option>
                    </select>
                  </p>
                </div>
              </div>
              <p style="font-size: 15px;"><b>・贈り主を選択する</b></p>
              <div class="clearfix">
                <p style="float: left;">贈り主：
                  <select class="select_giver_user new_post_select">
                    <option>選択してください</option>
                    <option value="0"><%= @user.lastname %><%= @user.firstname %></option>
                    <% $nicknames.each do |key, value| %>
                      <option value="<%= key %>"><%= value %></option>
                    <% end %>
                  </select>
                </p>
              </div>
            <% end %>
          <div class="dropdown">
          <div id="myDropdown" class="dropdown-content"> </div>
        </div><hr>
        <div class="description">
          <span id="suggested_name_span" style="display: none;">To: </span>
          <input type="text" id="suggested_name" value="" style="display:none"/><input id="send_suggested_name" type="button" value="追加" class="email_added" style="display:none; margin-bottom: 5px"/>
          <div id="suggest" style="display:none;"></div>
          <textarea autofocus="autofocus" name="new_post[][description]" id="description" class="taginput" required align="center" rows="5" cols="75" style="font-size: 14px; padding: 8px;" placeholder="メッセージを入力してください。" data-intro="最後にコメントを記入しましょう。相手のどのような行動に感謝しているのか、どのような点を褒めているのか明確にすると相手も嬉しさが高まります。" 
          <% if @company.point_fixed_flag == 0 %> data-step="5" <% else %> data-step="4" <% end %> disabled></textarea><br>
        </div><br>
        <div class="clearfix" style="width: 100%;">
          <div class="tags" style="float:left">
            <p>To &nbsp; &nbsp;: <span class="given_to"></span></p><br>
            <% if $allow_nickname.include?(@user.company_id) %>
            <p>From: <span class="given_from"></span></p><br>
            <% end %>
          </div>
          <div style="float:right;" class="remove_div">
            <span class="pointsInput"></span>
            <p align="right"><input type="submit" value="送信する" class="radius5 btn_give"/></p>
          </div>
        </div><!--clearfix -->
      </div>
    <% end %>
  </div> <!-- pointsbox -->  
</div>


<!--         <img src="img/nomad_surfing_nangoku.png">
        <p>テキスト</p>
        <button>閉じる</button> -->
    </div>
</div></div>
<!-- end_post -->

<div id="modal_user_post" class="modalwin hide">
  <a herf="#" class="modal-close"></a>
  <h1>視聴者投稿を贈る</h1>
  <div class="modalwin-contents">
    <%= form_tag("/company/user_posted_content/create", method: "post", id: "login_form", :multipart => true ) do %>
      <textarea autofocus="autofocus" name="description" id="description" class="taginput" required align="center" rows="5" cols="75" style="font-size: 14px; padding: 8px;" placeholder="メッセージを入力してください。"></textarea>
      <input type="file" name="image" %>
      <p align="right"><input type="submit" value="送信する"/></p>
    <% end %>
  </div>
</div>

<div id="modalwin_sp" class="modalwin-sp hide">
  <a herf="#" class="modal-close"></a>
  <h1>メッセージを贈る</h1>
  <div class="modalwin-sp-contents">
    <%= form_tag( "/user/give_points", method: "post" ) do %>
      <div class="pointsbox" id="pointsbox" style="padding: 10px;">
        <div id="new_posts">
          <p style="font-size: 13px;"><b>・名前からメッセージを贈る相手を探す</b><br/>
            <input type="text" id="target_user_name_sp" class="width-60-percent" autocomplete="on" data-user="<%= @user_fullnames %>" data-user-id="<%= @user_ids %>" style="border: #cccccc 1px solid;padding: 2px;">
            <input type="button" value="追加" class="btn_change_password_sp" style="width: 50px;border: #cccccc;"/>
          </p>
          <div id="new_post" class="new_post" name="new_post">
            <p align="center">
              <% if $use_select.include?(@user.company_id) %>
                <div class="target_select clearfix">
                  <p class="clearfix">
                    <p style="font-size: 13px;"><b>・所属からメッセージを贈る相手を探す</b></p>
                    <p style="float: left; margin-right: 5px;">会社: 
                      <select class="target_select_department new_post_select_sp" style="border: #cccccc 1px solid;">
                        <option>選択してください</option>
                        <% @departments.each do |dep| %>
                          <option value="<%= dep.id %>"><%= dep.dep_name %></option>
                        <% end %>
                      </select>
                    </p>
                    <p style="float: left;">部署: 
                      <select class="target_select_team new_post_select_sp" style="border: #cccccc 1px solid;">
                        <option>選択してください</option>
                      </select>
                    </p>
                  </p>
                  <div class="clearfix">
                    <p style="float: left; margin-right: 5px;">贈り先: 
                      <select class="target_select_user new_post_select_sp" style="border: #cccccc 1px solid;">
                        <option>選択してください</option>
                      </select>
                    </p>
                  </div>
                </div>
                <p style="font-size: 13px;"><b>・贈り主を選択する</b></p>
                <div class="clearfix">
                  <p style="float: left;">贈り主: 
                    <select class="select_giver_user new_post_select_sp" style="border: #cccccc 1px solid;">
                      <option>選択してください</option>
                      <option value="0"><%= @user.lastname %><%= @user.firstname %></option>
                      <% $nicknames.each do |key, value| %>
                        <option value="<%= key %>"><%= value %></option>
                      <% end %>
                    </select>
                  </p>
                </div>
              <% end %>
            </p>
            <div class="dropdown">
              <div id="myDropdown" class="dropdown-content"> </div>
            </div><hr>
            <div class="description">
              <span id="suggested_name_span" style="display: none;">To: </span>
              <input type="text" id="suggested_name" value="" style="display:none"/><input id="send_suggested_name" type="button" value="追加" class="email_added" style="display:none; margin-bottom: 5px"/>
              <div id="suggest" style="display:none;"></div>
              <textarea autofocus="autofocus" name="new_post[][description]" id="description" class="taginput width-100-percent" required align="center" rows="3" style="font-size: 14px; padding: 8px;border: 1px solid gray;" placeholder="メッセージを入力してください。"></textarea><br>
            </div><br>
            <div class="clearfix" style="width: 100%;">
              <div class="tags" style="float:left">
                <p>To &nbsp; &nbsp;: <span class="given_to"></span></p><br>
                <% if $allow_nickname.include?(@user.company_id) %>
                  <p>From: <span class="given_from"></span></p><br>
                <% end %>
              </div>
              <div style="float:right;" class="remove_div">
                <span class="pointsInput"></span>
                <p align="right"><input type="submit" value="送信する" class="radius5"/></p>
              </div>
            </div><!--clearfix -->
          </div>
        </div>
      </div>
    <% end %>
  </div> <!-- pointsbox -->  
</div>

<div id="modal_user_post_sp" class="modalwin-sp hide">
  <a herf="#" class="modal-close"></a>
  <h1>視聴者投稿を贈る</h1>
  <div class="modalwin-sp-contents">
    <%= form_tag("/company/user_posted_content/create", method: "post", id: "login_form", :multipart => true ) do %>
      <textarea autofocus="autofocus" name="description" id="description" class="taginput width-100-percent" required align="center" rows="5" style="font-size: 14px; padding: 8px;border: 1px solid gray" placeholder="メッセージを入力してください。"></textarea>
      <input type="file" name="image" %>
      <p align="right"><input type="submit" value="送信する"/></p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var user_datas = new Array();
  var user_names = $('#target_user_name').data('user');
  var user_ids = $('#target_user_name').data('user-id');
  for (var i=0; i < user_names.length; i++) {
    user_datas[user_names[i]] = user_ids[i];
  }
  var user_datas = new Array();
  var user_names = $('#target_user_name_sp').data('user');
  var user_ids = $('#target_user_name_sp').data('user-id');
  for (var i=0; i < user_names.length; i++) {
    user_datas[user_names[i]] = user_ids[i];
  }


$(".btn_edit").click(function() {
  window.location = '/update';
});

$.urlParam = function(name){
  var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
  if (results != null) {
    return results[1];
  } else {
    return 0;
  }
}

$(".give_comments").bind('keypress',function(e) {
  if(e.keyCode == 13) {
    var post_id = ($(this).attr('data-id')); //get attributes of clicked item
    var comments = ($(this).val()); //get attributes of clicked item

    postComment(post_id, comments);
  }
});

$(".btn_comment").click(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item
  var comments = $(".post_comment_"+post_id).val(); 

  postComment(post_id, comments);
});

function postComment(post_id, comments) {
  $.ajax({
    type: "POST",
    url: "/user/give_comments",
    data: { 'post_id': post_id, 'comments': comments, 'page': $.urlParam('page') },
    success: function(data) {
      $(this).val("");
      window.location.reload(); 
    }
  });
}

$(".btn_like").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/user/give_kudos",
    data: { 'post_id': post_id, 'kudos': 1 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

$(".btn_unlike").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/user/give_kudos",
    data: { 'post_id': post_id, 'kudos': 0 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

function getTag () {
  items = [];
  <% if @hashtags.present? %>
    <% @hashtags.each do | tag | %>
      items.push("<%= tag %>");
    <% end %>
  <% end %>
  return items;
}

function getName () {
  items = {};
  <% if @users.present? %>
    <% @users.each do | user | %>
      <% unless user.id == @user.id %> 
  items["<%= user.id %>"] = "<%= user.name %>";
      <% end %>
    <% end %>
  <% end %>
  return items;
}


$(document).ready(function() {
  $(".time p").each(function() {
    $(this).html(timeSince($(this).html()));
  });
});

function timeSince(time) {
  var currentTime = new Date();
  var time = new Date(time);

  var seconds = Math.floor((currentTime - time)/1000);
  var interval = Math.floor(seconds / 31536000);

  if (interval >= 1) {
      return interval + "年前";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval >= 1) {
      return interval + "月前";
  }
  interval = Math.floor(seconds / 86400);
  if (interval >= 1) {
      return interval + "日前";
  }
  interval = Math.floor(seconds / 3600);
  if (interval >= 1) {
      return interval + "時間前";
  }
  interval = Math.floor(seconds / 60);
  if (interval >= 1) {
      return interval + "分前";
  }
  return Math.floor(seconds) + "秒前";
}
$('.del_comment').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("本当にこのコメントを削除しますか？")) {
    $.post("/user/delete_comment", { 'comment_id': _id }); //send post request
    $(".comment_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

$('.del_post').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("本当にこの投稿を削除しますか？")) {
    $.post("/user/delete_post", { 'post_id': _id }); //send post request
    $(".post_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});
$(window).click(function() {
  $(".editnav .dropdown_content").hide();
});
$("#wrapper").click(function(event) {
  event.stopPropagation();
});

// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalwin');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modalwin')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-modal').on('click', showModal);
    }());

// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modalwin_sp');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modalwin_sp')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-modal-sp').on('click', showModal);
    }());

<% if $use_select.include?(@user.company_id) %>
$(function() {
  $(".pointsbox").on("change",".target_select_department", function(){
    $(this).addClass("this_select");
    $(".this_select").parent().parent().find(".target_select_team").empty();
    $(".this_select").parent().parent().find(".target_select_user").empty();
    $.ajax({
      url: "/select_target_department",
      type: "POST",
      data: {id : $(this).val()
    },
    success: function(data) {
      $(".this_select").parent().parent().find(".target_select_team").append('<option>選択してください</option>');
      $(".this_select").parent().parent().find(".target_select_user").append('<option>選択してください</option>');
      $.each(data, function(key, value){
        $(".this_select").parent().parent().find(".target_select_team").append('<option value="'+ value[0] + '">' + value[1] + '</option>');
      });
      $(".this_select").removeClass("this_select");
    },
    error: function(data) {
      alert("errror");
      $(".this_select").removeClass("this_select");
    }
    });
  });
});

$(function() {
  $(".pointsbox").on("change",".target_select_team", function(){
    $(this).addClass("this_select");
    $(".this_select").parent().parent().find(".target_select_user").empty();
    $.ajax({
      url: "/select_target_team",
      type: "POST",
      data: {id : $(this).val()
    },
    success: function(data) {
      $(".this_select").parent().parent().find(".target_select_user").append('<option>選択してください</option>');
      $.each(data, function(key, value){
        $(".this_select").parent().parent().find(".target_select_user").append('<option value="'+ value[0] + '">' + value[1] + '</option>');
      });
      $(".this_select").removeClass("this_select");
    },
    error: function(data) {
      alert("errror");
      $(".this_select").removeClass("this_select");
    }
    });
  });
});

$(function() {
  $(".pointsbox").on("change",".target_select_user", function(){
    var dataId = $(this).find("option:selected").val();
    var content = $(this).find("option:selected").text()
    var $selected = $(this).closest(".new_post");
    $selected.find(".tags .given_to").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + dataId + "'/>").val(content));
    $selected.find(".tags .given_to").append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + dataId + "'/>").val(dataId));
  });
});

  $(".btn_change_password").click(function() {
    var content = $('#target_user_name').val();
    $('#target_user_name').val("");
    $(".tags .given_to").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + content + "'/>").val(content));
    var target_user_id = user_datas[content];
    $(".tags .given_to").append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]'/>").val(target_user_id));
  });

  $(".btn_change_password_sp").click(function() {
    var content = $('#target_user_name_sp').val();
    $('#target_user_name_sp').val("");
    $(".tags .given_to").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + content + "'/>").val(content));
    var target_user_id = user_datas[content];
    $(".tags .given_to").append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]'/>").val(target_user_id));
  });



  <% if $allow_nickname.include?(@user.company_id) %>
  $(function() {
    $(".pointsbox").on("change",".select_giver_user", function(){
      var dataId = $(this).find("option:selected").val();
      var content = $(this).find("option:selected").text()
      var $selected = $(this).closest(".new_post");
      $selected.find(".tags .given_from").empty();
      $selected.find(".tags .given_from").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + dataId + "'/>").val(content));
      $selected.find(".tags .given_from").append($("<input type='hidden' class='nickname-selected given_user' name='new_post[][nickname_id]' data-id='" + dataId + "'/>").val(dataId));
    });
  });
  <% end %>
<% else %>

function getName () {
  items = {};
  <% if @team_users.present? %>
    <% @team_users.each do | user | %>
    <% unless user.delete_flag == 1 %>
      <% unless user.id == @user.id %> 
  items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
    <% end %>
  return items;

  <% else %>
    <% @users.each do | user | %>
      <% unless user.id == @user.id %> 
  items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
  return items;
  <% end %>
}
<% end %>

function getPoints () {
  return ["10","20","30","40","50"];
}

<% if $allow_nickname.include?(@user.company_id) %>
function getNickname () {
  items = {};
  <% $nicknames.each do |key, value| %>
    items["<%= key %>"] = "<%= value %>";
  <% end %>
  return items;
}
<% end %>


$(".btn_give").click(function() {
  var isValid = true; // validationエラーの場合はfalseを返す

  $(".new_post").not(".display_hidden").each(function(){
    var $this = $(this);
    var input = $this.find(".taginput").val();
    var dataReceive = $this.find(".receiver-selected").val();
    <% if $allow_nickname.include?(@user.company_id) %>
      var dataNickname = $this.find(".nickname-selected").val();
    <% end %>

    // validationエラー表示の初期化
    $(this).find(".dropbtn").removeClass("form_invalid");

    <% if @company.point_fixed_flag == 0 %>
    isPoint = input.match(/\+[^\s|  ]+/);
    <% end %>
    isTag = input.match(/\#[^\s|  ]+/);
    
    <% if $allow_nickname.include?(@user.company_id) %>
      if(dataReceive == null || !isPoint || dataNickname == null) {

                // エラー箇所のスタイルを変更
        if(dataReceive == null) {
          $this.find("#atbtn").addClass("form_invalid");
        }
        if(!isPoint) {
          $this.find("#ptsbtn").addClass("form_invalid");
        }
        if(dataNickname == null) {
          $this.find("#nicknamebtn").addClass("form_invalid");
        }

        <% if @company.point_fixed_flag == 0 %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ニックネーム、ポイント数が必須です。)");
          <% else %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ニックネーム、を入力してください。)");
          <% end %>
      isValid = false;
      } 
    <% else %>
      if(dataReceive == null || !isPoint ) {
        // エラー箇所のスタイルを変更
        if(dataReceive == null) {
          $this.find("#atbtn").addClass("form_invalid");
        }
        if(!isPoint) {
          $this.find("#ptsbtn").addClass("form_invalid");
        }
        <% if @company.point_fixed_flag == 0 %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ポイント数が必須です。)");
        <% else %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか入力してください。)");
        <% end %>
      isValid = false;
    } 
    <% end %>
    });
    return isValid;
});


$(".selDropdown option").click(function() {
  $(".tags span").empty();
  $(".tags span").append($("<input type='button' class='btn radius5'/>").val($(this).text()));
});

$("#new_posts").on("click", "#myDropdown", function(e) {
  var content = e.target.text;
  var className = e.target.classList[1];
  var dataId = e.target.dataset.id;
  var $selected = $(this).closest(".new_post");

  switch (className) {
    case "drpPoints":
      $selected.find(".taginput").val($selected.find(".taginput").val() + "+" + content + " ");
      break;

    case "drpAt":
      //$(".tags span").empty();
      if(!($selected.find(".tags .given_to input[data-id='" + dataId + "']").val())) {
  $selected.find(".tags .given_to").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + dataId + "'/>").val(content));
  $selected.find(".tags .given_to").append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + dataId + "'/>").val(dataId));
      }
      break;

    case "drpTag":
      $selected.find(".taginput").val($selected.find(".taginput").val() + "#" + content + " ");
      break;

    <% if $allow_nickname.include?(@user.company_id) %>
    case "drpNickname":
      $selected.find(".tags .given_from").empty();
      $selected.find(".tags .given_from").append($("<input type='button' class='btn radius5 given_user' style='font-size:11px;' data-id='" + dataId + "'/>").val(content));
      $selected.find(".tags .given_from").append($("<input type='hidden' class='nickname-selected given_user' name='new_post[][nickname_id]' data-id='" + dataId + "'/>").val(dataId));
      break;
    <% end %>
  }
});

$("#new_posts").on("mouseover", ".dropbtn", function() {
  var symId = $(this).attr("id");
  var className = "";
  var dataId = "";
  var $selected = $(this);
  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = getName();
      className = "drpAt";
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
    <% if $allow_nickname.include?(@user.company_id) %>
    case "nicknamebtn":
      values = getNickname();
      className = "drpNickname";
      break;
    <% end %>
  }

  $("#myDropdown > a").remove();
  if (className == 'drpAt'){
    $selected.siblings("#myDropdown").append("<a id='type_email' class='drpAt'>メールアドレス入力</a>");
  };
  $.each(values, function( index, value ) {
    $selected.siblings("#myDropdown").append($("<a data-id='"+index+"'></a>").addClass("item "+ className).text(value));
  });

  $selected.siblings("#myDropdown").show();
  
  $selected.closest(".new_post").find("#type_email").click(function(){
    var $post = $(this).closest(".new_post");
  });

  $(".item").click(function() {
    $(".taginput").focus();
  });
});

$(document).mouseup(function(e) {
  var subject = $(".pointsbox .dropbtn");
  if(e.target.id != subject.attr("id")){
    $(".dropdown-content").hide();
  }

  $(".tags .given_user").click(function() {
    $(this).next().remove();
    $(this).remove();
  });
});


// email_click
$("#new_posts").on("click", ".email_added", function(){
  var $selected = $(this).closest(".new_post");
  $.ajax({ type: 'GET',
    url: '/user/getname',
    data:{
      email: $selected.find('#suggested_name').val()
    },
    success: function(data){
      var element = document.createElement('input');
      var elem = document.createElement('input');
      element.setAttribute("type", "button");
      element.setAttribute("class", "btn radius5 given_user");
      element.setAttribute("value", data['name']);
      element.setAttribute("data-id", data['id']);
      elem.setAttribute("type", "hidden");
      elem.setAttribute("class", "receiver-selected given_user");
      elem.setAttribute("name", "new_post[][receiver_id][]");
      elem.setAttribute("data-id", data['id']);
      elem.setAttribute("value", data['id']);
      $selected.find(".given_to").append(element);
      $selected.find(".given_to").append(elem);
      $selected.find("#suggested_name").val("");
    },
    error: function(data){
      alert('該当のメールアドレスがありません');
    }
  });
});


$("#new_posts").on("click", ".dropbtn", function() {
  var symId = $(this).attr("id");
  var className = "";
  var dataId = "";
  var $selected = $(this);

  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = getName();
      className = "drpAt";
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
    <% if $allow_nickname.include?(@user.company_id) %>
    case "nicknamebtn":
      values = getNickname();
      className = "drpNickname";
      break;
    <% end %>
  }

  $("#myDropdown > a").remove();
  if (className == 'drpAt'){
    $selected.siblings("#myDropdown").append("<a id='type_email' class='drpAt'>メールアドレス入力</a>");
  };
  $.each(values, function( index, value ) {
    $selected.siblings("#myDropdown").append($("<a data-id='"+index+"'></a>").addClass("item "+ className).text(value));
  });

  $selected.siblings("#myDropdown").show();
  
  $selected.closest(".new_post").find("#type_email").click(function(){
    var $post = $(this).closest(".new_post");
  });

  $(".item").click(function() {
    $(".taginput").focus();
  });
});
  $(function() {
    var target_user_name_sp = $('#target_user_name_sp').data('user');
    $( "#target_user_name_sp" ).autocomplete({
      source: target_user_name_sp
    });
  });
// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modal_user_post');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modal_user_post')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-user-post').on('click', showModal);
    }());

// show_modal
$(function () {
  // モーダルウィンドウを開く
  function showModal(event) {
    event.preventDefault();
    var $shade = $('<div></div>');
      $shade
        .attr('id', 'shade')
        .on('click', hideModal);
      var $modalWin = $('#modal_user_post_sp');
      var $window = $(window);
      var posX = ($window.width() - $modalWin.outerWidth()) / 2;
      var posY = ($window.height() - $modalWin.outerHeight()) / 2;
      $modalWin
        .before($shade)
        .css({left: posX, top: posY})
        .removeClass('hide')
        .addClass('show')
        .on('click', 'button', function () {
          hideModal();
        });
      }
    function hideModal() {
      $('#shade').remove();
      $('#modal_user_post_sp')
        .removeClass('show')
        .addClass('hide');
      }
      $('.show-user-post-sp').on('click', showModal);
    }());


  $(function() {
    var target_user_names = $('#target_user_name').data('user');
    $( "#target_user_name" ).autocomplete({
      source: target_user_names
    });
  });
</script>