<div id="wrapper">
<div id="contents" class="timeline">
<% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>

<%= form_tag( "/user/give_points", method: "post", id: "login_form" ) do %>
<div class="mypage row">
  <div class="outofboxmsg col-12">
    <p>You have <b><span class="font20"><%= @user.out_points %></span> points</b> to give away</p><br>
  </div>
  <div class="rightbox col-4">
    <div class="title">プロフィール</div>
    
    <div class="profilebox">
      <div class="pic">
	<%= image_tag "pic1.jpg" %>
      </div>
      <p>@<%= @user.name %></p>
      <hr>
      <p><b><span class="font32"><%= @user.in_points %></span> points</b></p><br>
      <p><a href="/rewards" class="btn_reward">ポイントを交換する</a></p>
    </div>
  </div>

  <div class="leftbox col-8">
    <div class="pointsbox">
      <p align="center">
	<div class="dropdown">
	  <input type="button" id="ptsbtn" class="dropbtn" value="+" />
	  <input type="button" id="atbtn" class="dropbtn" value="@" />
	  <input type="button" id="tagbtn" class="dropbtn" value="#" />
	  <div id="myDropdown" class="dropdown-content"> </div>
	</div><br><hr>

	<div class="description">
	  <textarea name="description" class="taginput" align="center" rows="3" cols="80" placeholder="Type here"></textarea><br>
	</div><br>

	<div class="tags" style="float:left">
	  To: <span></span> 
	</div>
	<p align="right"><input type="submit" value="送信する" class="radius5 btn_give"/></p>
      </p>
    </div> <!-- pointsbox -->  
    <br>

    <div class="timeline">
    <% @posts.each do | post | %>
      <div id="postsbox">
	<div class="images">
	  <%= image_tag "pic1.jpg", class: "pic l_img" %><%= image_tag "pic2.jpg", class: "pic r_img" %>
	</div>
	<div class="posts">
	  <span class="user giver"><b>@<%= post.user.name %></b></span><br> 
	  <span class="user receiver"><b>@<%= post.receiver.name %>: </b></span>
	  <span class="points radius5"><%= post.points %> pts</span><br>
	  <span class="description"><%= post.description %></span><br>
	  <% (post.hashtags).each do | tag | %>
	    <span class="hashtag"><%= tag.hashtag %></span>
	  <% end %>
	</div>
	<hr>
	<div class="kudos">
	  <a href="#" class="a_btn btn_like">いいね！</a>
	  <a href="#" class="a_btn btn_like_count"></a>
	</div>
	
	<div class="comments">
	  <input type="text" name="comment" value="" placeholder="コメントする"/>
	</div>
      </div><br>
    <% end %>
    </div>
  </div> <!-- leftbox -->
</div><!-- row -->
<% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
function getTag () {
  items = [];
  <% @hashtags.each do | tag | %>
    items.push("<%= tag %>");
  <% end %>
  return items;
}

function getName () {
  items = {};
  <% @users.each do | user | %>
    items["<%= user.id %>"] = "<%= user.name %>";
  <% end %>
  return items;
}

function getPoints () {
  return ["10","20","30","40","50"];
}

$(".selDropdown option").click(function() {
  $(".tags span").empty();
  $(".tags span").append($("<input type='button' class='btn radius5'/>").val($(this).text()));
});

$("#myDropdown").click(function(e) {
  content = e.target.text;
  className = e.target.classList[1];
  dataId = e.target.dataset.id;

  switch (className) {
    case "drpPoints":
      $(".taginput").val($(".taginput").val() + "+" + content + " ");
      break;
    case "drpAt":
      $(".tags span").empty();
      $(".tags span").append($("<input type='button' class='btn radius5'/>").val(content));
      $(".tags span").append($("<input type='hidden' name='receiver_id'/>").val(dataId));
      break;
    case "drpTag":
      $(".taginput").val($(".taginput").val() + "#" + content + " ");
      break;
  }
});

$(".dropbtn").click(function() {
  var symId = $(this).attr("id");
  var className = "";
  var dataId = "";

  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = getName();
      className = "drpAt";
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
  }

  $("#myDropdown > a").remove();
  $.each(values, function( index, value ) {
    $("#myDropdown").append($("<a data-id='"+index+"'></a>").addClass("item "+ className).text(value));
  });

  $("#myDropdown").show();
  
  $(".item").click(function() {
    $(".taginput").focus();
  });
});

$(document).mouseup(function(e) {
  var subject = $(".dropbtn");
  if(e.target.id != subject.attr("id")){
    $("#myDropdown").hide();
  }
});
</script>
