<div id="wrapper">
<div id="contents" class="timeline">
<% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>

<%= form_tag( "/user/give_points", method: "post", id: "login_form" ) do %>
<div class="mypage row">
  <div class="outofboxmsg col-12">
    <p>You have <b><span class="font20"><%= @user.out_points %></span> points</b> to give away</p><br>
  </div>
  <div class="rightbox col-4">
    <div class="title">プロフィール</div>
    
    <div class="profilebox">
      <div class="pic">
	<%= image_tag "nopic.png" %>
      </div>
      <p>@<%= @user.name %></p>
      <hr>
      <p>You have <b><span class="font32"><%= @user.in_points %></span> points</b> to redeem</p><br>
      <p><a href="/rewards" class="btn_reward">Pick a reward</a></p>
    </div>
  </div>

  <div class="leftbox col-8">
    <div class="pointsbox">
      <p align="center">
	<div class="dropdown">
	  <input type="button" id="ptsbtn" class="dropbtn" value="+" />
	  <input type="button" id="atbtn" class="dropbtn" value="@" />
	  <input type="button" id="tagbtn" class="dropbtn" value="#" />
	  <div class="selDropdown"><br>
	    <select class="" name="receiver[]" multiple>
	      <% @users.each do | user | %>
	       <option value="<%= user.id %>">@<%= user.name %></option> 
	      <% end %>
	    </select>
	  </div>
	  <div id="myDropdown" class="dropdown-content"> </div>
	</div><br>

	<div class="tags">
	</div>
	<hr>

	<div class="comments">
	  <textarea name="comment" class="taginput" align="center" rows="3" cols="80" placeholder="Type here"></textarea><br>
	</div><br>

	<p align="right"><input type="submit" value="Give" class="radius5 btn_give"/></p>
      </p>
    </div> <!-- pointsbox -->  
    <br>

    <div class="timeline">
    <% @posts.each do | post | %>
      <div class="posts">
	<span class="user giver"><b><%= post.user.name %>:</b></span> 
	<span class="points">+<%= post.points %></span>
	<span class="user receiver">@<%= post.receiver.name %></span>
	<span class="description"><%= post.description %></span>
	<br><br>

	<% (post.hashtags).each do | tag | %>
	  <span class="hashtag"><%= tag.hashtag %></span>
	<% end %>
      </div><br>
    <% end %>
    </div>
  </div> <!-- leftbox -->
</div><!-- row -->
<% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
function getTag () {
  return ["cool", "leader", "wow"];
}

function getName () {
  var names = {}

  <% @users.each do | user | %>
  names = {
    id: "<%= user.id %>",
    name: "<%= user.name %>"
  };
  <% end %>

  return names;
}

function getPoints () {
  return ["10","20","30","40","50"];
}

$("#myDropdown").click(function(e) {
  content = e.target.text;
  className = e.target.classList[1];
  switch (className) {
    case "drpPoints":
      $(".taginput").val($(".taginput").val() + "+" + content + " ");
      break;
    case "drpAt":
      $(".tags").append().val(content);
      break;
    case "drpTag":
      $(".taginput").val($(".taginput").val() + "#" + content + " ");
      break;
  }

});

$(".dropbtn").click(function() {
  symId = $(this).attr("id");
  className = "";

  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = [];
      $(".selDropdown").show();
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
  }

  $("#myDropdown > a").remove();
  $.each(values, function( index, value ) {
    $("#myDropdown").append($("<a></a>").addClass("item "+ className).text(value));
  });

  $("#myDropdown").toggle();
  
  $(".item").click(function() {
    $(".taginput").focus();
  });
});

$(document).ready(function(e) {
  $(".selDropdown").hide();
});

$(document).mouseup(function(e) {
  var subject = $(".dropbtn");
  if(e.target.id != subject.attr("id")){
    $(".selDropdown").hide();
    $("#myDropdown > a").remove();
    $("#myDropdown").hide();
  }
});
</script>
