<div id="wrapper">
<div id="contents" class="timeline">
<% if flash[:notice] %><p class="c_align notice"><b><i><%= flash[:notice] %></i></b></p><% end %>
<div style="text-align:center"><b><i><span class="notice"></span></i></b></div><br>

<div class="mypage row">
  <div class="outofboxmsg col-12">
    <% if @birthday_users.present? %>
      <p>今日は
      <% @birthday_users.each do |user| %>
        <b><span class="font14"><%= user.firstname %>さん </span></b>
      <% end %>
      の<span style="color:red;">お誕生日</span>です。お祝いを贈ってみませんか？</p>
    <% else %>
      <p data-intro="あなたが持っているポイント数です。誰かを褒める時にポイントの一部をボーナス贈ることができます。" data-step="1"><b><span class="font16"><%= @user.out_points %></span> ポイント</b> 持っています。誰かにボーナスを贈ってみましょう。</p>
    <% end %>
  </div>
  <div class="rightbox col-4">
    <div class="title youtube_none"> Prizyイントロダクション </div>
    <div class="youtube youtube_none" style="margin: 5px 0 10px 0;">
      <iframe width="293px" src="https://www.youtube.com/embed/WFzYfWVXV94" frameborder="0"></iframe>
    </div>
    <div class="title youtube_none"> SlackでPrizyを使おう！ </div>
    <div class="youtube youtube_none" style="margin: 5px 0 10px 0;">
      <iframe width="293px" src="https://www.youtube.com/embed/V8dj4OdiQTI" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="title">
      <img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/icon_profile.png"/>
      プロフィール
    </div>
    
    <div class="profilebox">
      <div class="pic">
	<a href="/profile"><img src="<%= @user.img_src %>" class="radius10"/></a>
      </div>
      <p>@<%= "#{@user.lastname} #{@user.firstname}" %></p>
      <hr><br>
      <p data-intro="あなたがもらったポイント数です。もらったポイントは、様々なギフトに交換することができます。" data-step="6"><b><span class="font24"><%= @user.in_points %></span> ポイント</b></p><br>
      <p><a href="/rewards" class="btn_reward">ポイントを交換する</a></p>
    </div><br>

    <% if @b_users.present? %>
    <div class="title"> もうすぐ誕生日の人 </div>
    <div class="profilebox">
      <% @b_users.each do | item | %>
  <div class="ranking">
    <div class="left">
      <img src="<%= item[:img_src] %>" width="28" height="28" class="radius5"/>
    </div>
    <div class="right">
      <%= item[:lastname] %> <%= item[:firstname] %>
      <div class="score"><%= item[:birthday].strftime('%m月%d日') %></div>
    </div>
    <div class="clearfix"></div>
  </div>
      <% end %>
    </div><br>
    <% end %>

    <div class="title"> 「褒められ」アナリティクス </div>
    <div class="profilebox">
      <div class="user_stats" style="text-align: center; padding: 20px 10px 5px 10px;">
        <% if @ratio > 0 %>
          <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@ratio, precision: 0) %></b></span><span style="color: red; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週よりも褒められています！</span>
        <% elsif @ratio == 0 %>
          <span style="color: #ff8d07; font-size: 40px"><b><%= number_to_percentage(@ratio, precision: 0) %></b></span><span style="font-size: 12px; color: #808080"><br><br>先週比アップを狙いましょう！</span>
        <% else %>
          <span style="color: #2d87e2; font-size: 36px"><b><%= number_to_percentage(@ratio, precision: 0) %></b></span><span style="color: blue; font-size: 40px; font-weight: 900"><b>↑</b></span><span style="font-size: 12px; color: #808080"><br><br>先週に比べマイナスになっています><</span>
        <% end %>
      </div>
    </div><br>

    <% unless @popular_rewards.blank? %>
    <div class="title"> 人気のギフト </div>
    <div class="gift_ranking">
    <% @num = 0 %>
    <% @popular_rewards.first(4).each do | item | %>
    <% if item.img_src.present? %>
    <%= link_to "/rewards" do %>
    <% if @num.even? %>
      <div class="each_gift_ranking f_left">
    <% else %>
      <div class="each_gift_ranking f_right">
    <% end %>
        <div class="gift_ranking_img">
          <img src="<%= item[:img_src] %>" />
        </div>
        <div class="gift_ranking_title center">
          <p><%= item[:title].truncate(20) %></p>
        </div>
      </div>
    <% @num = @num + 1 %>
    <% end %>
    <% end %>
    <% end %>
    <div class="landing_clearfix"></div>
    </div><br>
    <% end %>

    <div class="title"> 褒められMVP </div>
    <div class="profilebox">
      <% @top_receivers.each do | item | %>
	<div class="ranking">
	  <div class="left">
	    <img src="<%= item[:img_src] %>" width="28" height="28" class="radius5"/>
	  </div>
	  <div class="right">
	    <%= item[:name] %>
	    <div class="score"><%= item[:count] %></div>
	  </div>
	  <div class="clearfix"></div>
	</div>
      <% end %>
    </div><br>

    <div class="title"> 褒め上手 </div>
    <div class="profilebox">
      <% @top_givers.each do | item | %>
	<div class="ranking">
	  <div class="left">
	    <img src="<%= item[:img_src] %>" width="28" height="28" class="radius5"/>
	  </div>
	  <div class="right">
	    <%= item[:name] %>
	    <div class="score"><%= item[:count] %></div>
	  </div>
	  <div class="clearfix"></div>
	</div>
      <% end %>
    </div><br>

    <div class="title"> 褒めポイント・トレンド </div>
    <div class="profilebox">
      <% @top_hashtags.each do | k, v | %>
	<div class="ranking">
	  <div class="left"><%= k %> </div>
	  <div class="right"> 
	    <div class="score"><%= v %></div>
	  </div>
	  <div class="clearfix"></div>
	</div>
      <% end %>
    </div><br>
  </div><br>
  

  <div class="leftbox col-8">
    <% if @user.admin == 1 %>
      <%= form_tag( "/user/give_bonus", method: "post", id: "login_form" ) do %>
	<div id="modal">
	  <div id="modal-ct">
	    <div id="modal-header">
	      <h3>ボーナスチャレンジ</h4><br>
	      <h4>今月・残り：<%= @user.company.bonus_points %> ボーナスチャレンジポイント</h4>
	    </div>
	    <div class="txt-fld">
	      <table>
		<tr>
		  <th>公開設定： </th>
		  <td>
		    <label><input type="radio" name="privacy" value="0" style="width:auto" checked>全員に公開</label><br>
		    <label><input type="radio" name="privacy" value="1" style="width:auto">あなたと受賞者にのみ公開</label>
		  </td>
		</tr>
		<tr>
		  <th>受賞者： </th>
		  <td>
		    <select name="bonus_receiver_id">
		    <% if @users.present? %>
		      <% @users.each do | user | %>
			<% unless user.id == @user.id %> 
			    <option value="<%= user.id %>"><%="#{user.lastname} #{user.firstname}" %></option>
			<% end %>
		      <% end %>
		    <% end %>
		    </select>
		  </td>
		</tr>
		<tr>
		  <th>カテゴリー： </th>
		  <td>
		    <select id="sel_bonus" name="bonus_title">
		      <% @bonuses.each do | bonus| %>
			<option value="<%= bonus.title %>_<%= bonus.points %>" data-id="<%= bonus.id %>"><%= bonus.title %> - (<%= bonus.points %> pts)</option>
		      <% end %>
		      <option class="special_bonus" value="SpecialBonus_0" data-id="0">特別ボーナス(ご自由に設定できます。)</option>
		    </select>
		  </td>
		</tr>
		<tr class="bonus_points">
		  <th>ポイント: </th>
		  <td><input type="number" name="bonus_points" value="" min="1" max="<%= @user.company.bonus_points %>" required /></td>
		</tr>
		<tr>
		  <th colspan="2" align="left">コメント: </th>
		</tr>
		<tr>
		  <td colspan="2"><textarea rows="2" cols="36" name="bonus_comments"></textarea></td>
		</tr>
	      </table>
	    </div>
	    <div class="btn-fld">
	      <input type="submit" class="button r_float" value="贈る" />
	    </div>
	  </div>
	</div> <!-- bonus modal -->
      <% end %>  
    <% end %>  


    <%= form_tag( "/user/give_points", method: "post", id: "login_form" ) do %>

    <div class="pointsbox">
      <p align="center">
	<div class="dropdown">
	  <input type="image" id="atbtn" class="dropbtn" src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_icon_02.png" onClick="return false;" title="褒める相手を選んでください。" data-intro="ボタンをクリックし、ボーナスを贈る相手を選びましょう。" data-step="2"/>
    <% if @company.point_fixed_flag == 0 %>
	  <input type="image" id="ptsbtn" class="dropbtn" src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_icon_01.png" onClick="return false;" title="贈るポイント数を選んでください。" data-intro="贈るポイント数を選ぶことができます。<br>選択肢にないポイント数も、投稿欄に「+」と記入することで、贈ることができます。" data-step="3"/>
    <% end %>
	  <input type="image" id="tagbtn" class="dropbtn" src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_icon_03.png" onClick="return false;" title="コアバリューを選択できます。" data-intro="相手の良いところをハッシュタグにして、褒めてあげましょう。<br>ボタンをクリックすると会社のコアバリューが選択できます。選択肢にないハッシュタグはコメント欄で「#」と記入することで贈ることができます。" data-step="4"/>
	  
	  <% if @user.admin == 1 %>
	    <a id="bonus_trigger_id" rel="leanModal" name="modal" href="#modal"><img class="dropbtn" src="https://s3-ap-northeast-1.amazonaws.com/prizy/common/btn_icon_04.png" title="特別ボーナスを贈ります。" data-intro="<管理者様限定><br>ここでは、会社から従業員に特別ボーナスを贈ることができます。<br>①設定したボーナスチャレンジからポイントを贈る<br>②設定していないものの、特別に表彰したい時<br>などにご利用いただけます。" <%if @user.admin == 1 %>data-step="7"<% end %> /></a>
	  <% end %>  
	  <div id="myDropdown" class="dropdown-content"> </div>
	</div><br><hr>

	<div class="description">
	  <textarea name="description" class="taginput" align="center" rows="5" cols="80" placeholder="<%= @placeholder %>" data-intro="最後にコメントを記入しましょう。相手のどのような行動に感謝しているのか、どのような点を褒めているのか明確にすると相手も嬉しさが高まります。" data-step="5"></textarea><br>
	</div><br>

	<div class="tags" style="float:left">
	  To: <span></span> 
	</div>
	<span class="pointsInput"></span>
	<p align="right"><input type="submit" value="送信する" class="radius5 btn_give"/></p>
    </div> <!-- pointsbox -->  
    <% end %>
    <br>

    <div class="timeline">
      <div class="pagination" style="float:right">
        <% if @total_pages > 8 %>
          <% unless @page_now == 1 %>
            <a href="<%= "#{@prizy_url}/user?page=1" %>">最初</a>
            <a href="<%= "#{@prizy_url}/user?page=#{@previous_page}" %>">前へ</a>
          <% end %>
          <a href="<%= "#{@prizy_url}/user?page=#{@page_now}" %>"><%= @page_now %></a>
          <% unless @page_now == @total_pages %>
            <a href="<%= "#{@prizy_url}/user?page=#{@next_page}" %>">次へ</a>
            <a href="<%= "#{@prizy_url}/user?page=#{@total_pages}" %>">最後</a>
          <% end %>
        <% else %>
          <% (1..@total_pages).each do | i | %>
            <a href="<%= "#{@prizy_url}/user?page=#{i}" %>"><%= i %></a>
          <% end %>
        <% end %>
      </div><br>

      <div class="clearfix"></div>
      <% @posts.each do | post | %>
	<div id="postsbox" class="post_<%= post[:id] %>">
	  <div class="images">
	    <table>
	      <tr>
		<td><img src="<%= post[:user_img] %>" class=""/></td>
		<td>
		  <div>
		    <% if post[:receiver_id].count == 1 %>
		      <img src="<%= post[:receiver_img] %>" class=""/>
		    <% else %>
		      <div class="m_receivers_panel">
			<img src="https://s3-ap-northeast-1.amazonaws.com/prizy/common/sample_01.png"/>
		      </div>

		      <div class="m_receivers" style="z-index:99;position:relative">
			<div style="float:left;padding-left:40px;">
			  <% post[:full_receiver_name].each_with_index do | name, i |%>
			    <% if (i+1) % 2 != 0 %>
			      <p style="font-weight:bold"><%= truncate(name.upcase, :length=>10) %></p>
			    <% end %>
			  <% end %>
			  </div>

			  <div style="float:right;padding-right:40px;">
			  <% post[:full_receiver_name].each_with_index do | name, i |%>
			    <% if (i+1) % 2 == 0 %>
			      <p style="font-weight:bold"><%= truncate(name.upcase, :length=>10) %></p>
			    <% end %>
			  <% end %>
			</div>
		      </div>
		    <% end %>
		  </div>
		</td>
	      </tr>
	    </table>
	  </div>

	  <div class="posts">
	    <div class="r_float">
	      <div class="time" data-id="<% post[:id] %>">
		<p class="time_<% post[:id] %>" align="right"><%= post[:create_time] %></p>
	      </div>
	      <% if post[:receiver_id].include?(@user.id) || post[:user_id].to_i == @user.id %> 
		<div class="editnav dropdown r_float">
		  <div><input type="button" class="dropbtn" value="▽"></div>
		  <div class="dropdown-content">
		      <a><input type="button" class="del del_post" data-id="<%= post[:id] %>" value="削除"/></a>
		    <!-- for future 
		    <a><input type="button" class="disabled" value="編集" disabled /></a>
		    -->
		  </div>
		</div><br>
	      <% end %>
	    </div>
	    From <span class="user giver"><b>@<%= post[:full_user_name] %></b></span><br> 
	    To 
	    <span class="user receiver">
	      <b>@<%= post[:full_receiver_name].join(", ") %>: </b>
	    </span>
	    <span class="points radius5"><%= post[:points] %> pts</span><br>
	    
	    <span class="description"><%= raw post[:description].gsub(/\@[^\s|　]+/,"").gsub(/\+[^\s|　]+/,"").gsub(/\#[^\s|　]+/,"<b style='color:#0080ff'>\\0</b>") %></span><br>
	  </div>
	  <hr>
	  <div class="kudos">
	    <% if post[:kudos].find { |item| item[:user_id] == @user.id } %>
	      <a data-id="<%= post[:id] %>" class="a_btn btn_unlike"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_on.png"/></a>
	    <% else %>
	      <a data-id="<%= post[:id] %>" class="a_btn btn_like"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_off.png"/></a>
	    <% end %>

	    <span class="kudos_count"><%= post[:kudos].count %>件</span>
	    <div class="tooltip">
	      <a class="a_btn user_kudos">
		<% if post[:kudos].present? %>
		  <% post[:kudos].each_with_index do | kudo, i | %>
		    <%= "#{kudo.user.lastname} #{kudo.user.firstname}" %>
		    <% unless i == post[:kudos].count-1 %>,<% end %>
		    <% if i > 3 %><% break %> <% end %>
		  <% end %>...
		<% end %>
	      </a>
	      <span class="tooltiptext">
		<% post[:kudos].each do | kudo | %>
		  <%= "#{kudo.user.lastname} #{kudo.user.firstname}" %><br>
		<% end %>
	      </span>
	    </div>
	  </div>
	  
	  <div class="comments">
	    <div class="comment_entry_<%= post[:id] %>">
	      <% post[:comments].each do | comment | %>
		<div class="comment_entry comment_<%= comment.id %>">
		  <div class="user_comment_img">
		    <img src="<%= comment.user.img_src %>" width="25px" height="25px" class="radius20" />
		  </div>
		  <div class="user_comments">
		    <span class="user" style="font-weight:normal;">@<%= "#{comment.user.lastname} #{comment.user.firstname}" %></span>
		    <span class="comment"><%= raw comment.comments.gsub(/\+[^\s|　]+|\#[^\s|　]+/,"<b style='color:#0080ff'>\\0</b>") %></span>
		    <% if comment.user_id == @user.id || post[:receiver_id].include?(@user.id) %>
		      <div class="r_float">
			<div class="editnav dropdown">
			  <input type="button" class="dropbtn" value="▽">
			  <div class="dropdown-content">
			    <a><input type="button" class="del del_comment" data-id="<%= comment.id %>" value="削除"/></a>
			  </div>
			</div><br>
		      </div>
		    <% end %>  
		  </div>

		  <br>
		</div>  
	      <% end %>
	    </div>
	    <input type="text" name="comment" data-id="<%= post[:id] %>" class="give_comments post_comment_<%= post[:id] %>" value="" placeholder="コメントする" autocomplete="off"/>
	    <p align="right"><input type="button" class="btn_comment" data-id="<%= post[:id] %>" value="送信"/></p>
	  </div>
	</div><br>
      <% end %> <!-- posts -->
      <div class="pagination" style="float:right">
        <% if @total_pages > 8 %>
          <% unless @page_now == 1 %>
            <a href="<%= "#{@prizy_url}/user?page=1" %>">最初</a>
            <a href="<%= "#{@prizy_url}/user?page=#{@previous_page}" %>">前へ</a>
          <% end %>
          <a href="<%= "#{@prizy_url}/user?page=#{@page_now}" %>"><%= @page_now %></a>
          <% unless @page_now == @total_pages %>
            <a href="<%= "#{@prizy_url}/user?page=#{@next_page}" %>">次へ</a>
            <a href="<%= "#{@prizy_url}/user?page=#{@total_pages}" %>">最後</a>
          <% end %>
        <% else %>
          <% (1..@total_pages).each do | i | %>
            <a href="<%= "#{@prizy_url}/user?page=#{i}" %>"><%= i %></a>
          <% end %>
        <% end %>
      </div><br>
    </div>
  </div> <!-- leftbox -->
</div><!-- row -->
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
// for modal dialog box
$("#bonus_trigger_id").leanModal({ top: 200, overlay: 0.4, closeButton: ".modal_close"});

$.urlParam = function(name){
  var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
  if (results != null) {
    return results[1];
  } else {
    return 0;
  }
}

$(".give_comments").bind('keypress',function(e) {
  if(e.keyCode == 13) {
    var post_id = ($(this).attr('data-id')); //get attributes of clicked item
    var comments = ($(this).val()); //get attributes of clicked item

    postComment(post_id, comments);
  }
});

$(".btn_comment").click(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item
  var comments = $(".post_comment_"+post_id).val(); 

  postComment(post_id, comments);
});

function postComment(post_id, comments) {
  $.ajax({
    type: "POST",
    url: "/user/give_comments",
    data: { 'post_id': post_id, 'comments': comments, 'page': $.urlParam('page') },
    success: function(data) {
      $(this).val("");
      window.location.reload(); 
    }
  });
}

$(".btn_like").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/user/give_kudos",
    data: { 'post_id': post_id, 'kudos': 1 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

$(".btn_unlike").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/user/give_kudos",
    data: { 'post_id': post_id, 'kudos': 0 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

function getTag () {
  items = [];
  <% if @hashtags.present? %>
    <% @hashtags.each do | tag | %>
      items.push("<%= tag %>");
    <% end %>
  <% end %>
  return items;
}

function getName () {
  items = {};
  <% if @team_users.present? %>
    <% @team_users.each do | user | %>
      <% unless user.id == @user.id %> 
	items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
  return items;

  <% else %>
    <% @users.each do | user | %>
      <% unless user.id == @user.id %> 
  items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
  return items;
  <% end %>
}

function getPoints () {
  return ["10","20","30","40","50"];
}

$(".btn_give").click(function() {
  dataReceive = $(".receiver-selected").val();
  input = $(".taginput").val();
  <% if @company.point_fixed_flag == 0 %>
  isPoint = input.match(/\+[^\s|　]+/);
  <% end %>
  isTag = input.match(/\#[^\s|　]+/);
  
  if(dataReceive == null || !isPoint ) {
    <% if @company.point_fixed_flag == 0 %>
    $("span.notice").text("投稿に不備があります。(誰に贈るのか、ポイント数が必須です。)");
    <% else %>
    $("span.notice").text("投稿に不備があります。(誰に贈るのか入力してください。)");
    <% end %>
    return false;
  } 
});

$(".selDropdown option").click(function() {
  $(".tags span").empty();
  $(".tags span").append($("<input type='button' class='btn radius5'/>").val($(this).text()));
});

$("#myDropdown").click(function(e) {
  content = e.target.text;
  className = e.target.classList[1];
  dataId = e.target.dataset.id;

  switch (className) {
    case "drpPoints":
      $(".taginput").val($(".taginput").val() + "+" + content + " ");
      break;
    case "drpAt":
      //$(".tags span").empty();
      if(!($(".tags span input[data-id='" + dataId + "']").val())) {
	$(".tags span").append($("<input type='button' class='btn radius5' data-id='" + dataId + "'/>").val(content));
	$(".tags span").append($("<input type='hidden' class='receiver-selected' name='receiver_id[]' data-id='" + dataId + "'/>").val(dataId));
      }

      break;
    case "drpTag":
      $(".taginput").val($(".taginput").val() + "#" + content + " ");
      break;
  }
});

$(".pointsbox .dropbtn").click(function() {
  var symId = $(this).attr("id");
  var className = "";
  var dataId = "";

  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = getName();
      className = "drpAt";
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
  }

  $("#myDropdown > a").remove();
  $.each(values, function( index, value ) {
    $("#myDropdown").append($("<a data-id='"+index+"'></a>").addClass("item "+ className).text(value));
  });

  $("#myDropdown").show();
  
  $(".item").click(function() {
    $(".taginput").focus();
  });
});

$(document).mouseup(function(e) {
  var subject = $(".pointsbox .dropbtn");
  if(e.target.id != subject.attr("id")){
    $("#myDropdown").hide();
  }

  $(".tags input").click(function() {
    $(this).next().remove();
    $(this).remove();
  });

});

$(document).ready(function() {
  var bonusId = $("#sel_bonus").find(':selected').attr('data-id');
  if(bonusId == 0) {
    $(".bonus_points").show();
    $(".bonus_points input").prop('disabled', false);
  } else {
    $(".bonus_points").hide();
    $(".bonus_points input").prop('disabled', true);
  }
  $(".time p").each(function() {
    $(this).html(timeSince($(this).html()));
  });
});

function timeSince(time) {
  var currentTime = new Date();
  var time = new Date(time);

  var seconds = Math.floor((currentTime - time)/1000);
  var interval = Math.floor(seconds / 31536000);

  if (interval >= 1) {
      return interval + "年前";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval >= 1) {
      return interval + "月前";
  }
  interval = Math.floor(seconds / 86400);
  if (interval >= 1) {
      return interval + "日前";
  }
  interval = Math.floor(seconds / 3600);
  if (interval >= 1) {
      return interval + "時間前";
  }
  interval = Math.floor(seconds / 60);
  if (interval >= 1) {
      return interval + "分前";
  }
  return Math.floor(seconds) + "秒前";
}

$("#sel_bonus").change(function() {
  var bonusId = $(this).find(':selected').attr('data-id');
  if(bonusId == 0) {
    $(".bonus_points").show();
    $(".bonus_points input").prop('disabled', false);
  } else {
    $(".bonus_points").hide();
    $(".bonus_points input").prop('disabled', true);
  }
});
</script>


<script type="text/javascript">
$(document).ready(function() {
  var delaytime = 0;
  var firstTime = localStorage.getItem("first_time");
  if(!firstTime) {
    delaytime = 15000;
    localStorage.setItem("first_time", "1");
    introJs().start();
    setTimeout(function(){
      pNotifyTexts();
    }, delaytime);
    $('.youtube').removeClass("youtube_none");
    $('.title').removeClass("youtube_none");
  }
  /*
  setTimeout(function(){
    pNotifyTexts();
  }, delaytime);
*/
});

function pNotifyTexts(){
  <% if @current_user.admin == 1 %>
    <% if @users.count < 2 %>
      title = '社員を登録しましょう。';
      text = 'Prizyをご利用になる社員の方を登録してください。登録は<%= link_to "コチラ", "/company/employees"%>から。';
      pNotify(title, text);

    <% elsif @num_bonus < 1 %>
      title = 'ボーナスチャレンジを設定しましょう！';
      text = 'オリジナルのボーナスチャレンジを設定できます。<br>・勤務継続半年：1000 points<br>・初受注：5000 points<br>などオリジナルのボーナスチャレンジを登録しましょう。登録は<%= link_to "コチラ", "company/bonus"%>から。';
      pNotify(title, text);

    <% else @num_rewards < 3 %>
      title = 'オリジナルギフトを登録しましょう。';
      text = 'Prizyポイントを交換できるギフトは社員のインセンティブに！もらってうれしい、オリジナルのギフトを登録しましょう♪<br>登録は<%= link_to "コチラ", "company/rewards"%>から。';
      pNotify(title, text);
    <% end %>
  <% end %>

  <% if @user.firstname.blank? %>
    title = '名前を登録しましょう。';
    text = '本名もしくは、会社の人が、あなたのことだと分かる名前を登録しましょう。登録は<%= link_to "コチラ", "/update"%>から。';
    pNotify(title, text);

  <% elsif @user.img_src.include?("noimg_pc") %>
    title = 'あなたのアバター(写真)を登録しましょう。';
    text = 'あなたの写真を登録してください。みんながあなただと分かる写真にしましょう♪<br>登録は<%= link_to "コチラ", "/update"%>から。';
    pNotify(title, text);

  <% elsif @user.birthday.to_s == @default_birthday %>
    title = '誕生日を登録しましょう。';
    text = '誕生日にはPrizy運営事務局から素敵なプレゼントが届きます。是非ご登録ください♪<br>登録は<%= link_to "コチラ", "/update"%>から。';
    pNotify(title, text);
  <% end %>
}

function pNotify(pTitle, pText) {
  new PNotify({
    title: pTitle,
    text: pText,
    animate_speed: 'fast',
    <% if @current_user.admin == 1 %>
    mobile: {
      swipe_dismiss: false
    },
    <% end %>
    buttons: {
        sticker: false
    },
    animate: {
      animate: true,
      in_class: 'slideInDown',
      out_class: 'slideOutUp'
    },
  });
}

$('.del_comment').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("本当にこのコメントを削除しますか？")) {
    $.post("/user/delete_comment", { 'comment_id': _id }); //send post request
    $(".comment_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

$('.del_post').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("本当にこの投稿を削除しますか？")) {
    $.post("/user/delete_post", { 'post_id': _id }); //send post request
    $(".post_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});
$(window).click(function() {
  $(".editnav .dropdown_content").hide();
});
$("#wrapper").click(function(event) {
  event.stopPropagation();
});
</script>

<script>
$(function() {
  $('.dropbtn').balloon({
  minLifetime: 0, showDuration: 0, hideDuration: 0
});
});
</script>
