<div id="wrapper">
<div id="contents">
  <h3 class="c_align">ユーザー情報編集</h3><br>
  <%= form_tag( "/invite/complete", method: "post", id: "login_form", multipart: true ) do %>

  <div class="toolbox center">
    <input type="hidden" name="fb_data" value="<%= @fb_data %>"/>
    <input type="hidden" name="company_id" value="<%= @company_id %>"/>
    <table class="center tbl_tools">
      <tr>
	<td>会社: </td>
	<td><%= @company_name %></td>
      </tr>
      <tr>
	<td>メールアドレス: </td>
	<td><input type="email" name="email" value=""/></td>
      </tr>
      <tr class="password">
	<td>新しいパスワード: </td>
	<td><input type="password" name="password" value="" id="passwd1"/></td>
      </tr>
      <tr class="password">
	<td>パスワード確認: </td>
	<td>
	  <input type="password" name="password" value="" id="passwd2"/><br>
	  <span class="notice"></span>
	</td>
      </tr>
      <tr>
	<td>役職: </td>
	<td><input type="text" name="job_title" value=""/></td>
      </tr>

      <tr><td colspan="2"><hr style="margin:0px"></td></tr>
      <% if @fb_data == 0 %>
	<tr>
	  <td colspan="2" align="right"><input type="button" value="Facebookで簡単登録" class="btn_fb"/></td>
	</tr>
	<tr>
	  <td>プロフィール写真: </td>
	  <td><%= file_field_tag :img_src %></td>
	</tr>
	<tr>
	  <td>ユーザー名: </td>
	  <td>
	    <input type="text" name="name" value=""/><br>
	    <span class="instructions">好きなユーザーネームに変更できます</span>
	  </td>
	</tr>
	<tr>
	  <td>苗字: </td>
	  <td><input type="text" name="lastname" value=""/></td>
	</tr>
	<tr>
	  <td>名前: </td>
	  <td><input type="text" name="firstname" value=""/></td>
	</tr>
	<tr>
	  <td>性別: </td>
	  <td>
	    <label><input type="radio" name="gender" value="0" checked />男</label>
	    <label><input type="radio" name="gender" value="1" />女</label>
	  </td>
	</tr>
      <% else %>
	<tr>
	  <td>プロフィール写真: </td>
	  <td>
	    <%= image_tag params[:fb_pic], width: 48, height: 48 %>
	    <input type="hidden" name="img_src" value="<%= params[:fb_pic] %>"/>
	  </td>
	</tr>
	<tr>
	  <td>ユーザー名: </td>
	  <td>
	    <input type="text" name="name" value="<%= params[:fb_name] %>"/><br>
	    <span class="instructions">好きなユーザーネームに変更できます</span>
	  </td>
	</tr>
	<tr>
	  <td>苗字: </td>
	  <td><input type="text" name="lastname" value="<%= params[:fb_lname] %>"/></td>
	</tr>
	<tr>
	  <td>名前: </td>
	  <td><input type="text" name="firstname" value="<%= params[:fb_fname] %>"/></td>
	</tr>
	<tr>
	  <td>性別: </td>
	  <td>
	    <label><input type="radio" name="gender" value="0" <% if params[:fb_gender]=="male" %> checked <% end %>/>男</label>
	    <label><input type="radio" name="gender" value="1" <% if params[:fb_gender]=="female" %> checked <% end %>/>女</label>
	  </td>
	</tr>
      <% end %>

      <tr>
	<td>生年月日: </td>
	<td>
	  <select name="b_year">
	  <% @years.reverse_each do | val | %>
	    <option value="<%= val %>" <% if @b_year==val %> selected <% end %>><%= val %></option>
	  <% end %>
	  </select> 年 
	  <select name="b_month">
	  <% (1..12).each do | val | %>
	    <option value="<%= val %>" <% if @b_month==val %> selected <% end %>><%= val %></option>
	  <% end %>
	  </select> 月 
	  <select name="b_day">
	  <% (1..31).each do | val | %>
	    <option value="<%= val %>" <% if @b_day==val %> selected <% end %>><%= val %></option>
	  <% end %>
	  </select> 日
	</td>
      </tr>
    </table><br>
    <p align="center">
      <input type="button" value="戻る" class="btn btn_back" />
      <input type="submit" value="送信" class="btn"/>
    </p>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
var passwd1 = document.getElementById("passwd1");
var passwd2 = document.getElementById("passwd2");

function validatePassword(){
  if(passwd1.value != passwd2.value) {
    $(".notice").text("パスワードに誤りがあります");
  } else {
    $(".notice").text("");
  }
}
passwd1.onchange = validatePassword;
passwd2.onkeyup = validatePassword;

$(".btn_back").click(function() {
  window.location = "/profile";
});
$(".btn_fb").click(function() {
  window.location = '/auth/facebook';
});
</script>
