<div class="login_wrapper">
<div class="user_login">
  <div class="login_header">
    <%= link_to "/" do %>
      <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/logo.png") %>
    <% end %>
  </div><!-- login_header-->

  <div id="wrapper">
  <div id="contents" class="login_contents">
  <% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
  <%= form_tag( "/login/complete", method: "post", id: "login_form" ) do %>
  <h3 class="c_align">Prizyにログインする</h3>
  <div id="loginbox" class="center">
    <p class="c_align"><input type="text" value="" name="email" placeholder=" メールアドレス" required class="login_input_form"/></p>
    <p class="c_align"><input type="password" value="" name="password" placeholder=" パスワード" required class="login_input_form login_input_password"/></p>
    <div class="keep_loggedin">
      <p class="login_bottom"><input type="checkbox" name="remember" value="1" checked <% if cookies[:user_id] %> checked <% end %>> ログイン状態を保持する</p>
    </div>
    <p class="c_align"><input type="submit" value="ログイン" class="btn login_submit" /></p>
    <div class="keep_loggedin">
      <p align="right" class="login_forget_password"><a href="/forgot_password">パスワードを忘れた場合</a></p>
    </div>
  </div>
  <% end %>
  </div> <!-- contents -->
  </div> <!-- wrapper -->
</div><!-- user_login-->

<div class="login_footer">
  <%= render "shared/footer"%>
</div>
</div>

