<div class="time_line_wrapper">
<div id="wrapper">
<div id="contents">
  <div class="mypage row">
    
    <%= render 'topprofile' %>

    <div class="col-4 chose_box">
      <%= link_to "もらった投稿", "/profile", :class => "receiving_box", :style => "background-color:white;" %>
      <%= link_to "贈った投稿", "/profile/given", :class => "giving_box" %>
      <%= link_to "ギフト交換履歴", "/rewards/status", :class => "present_box" %>
    </div>
    <div class="analytics_clearfix"></div>
    
    <div class="mypage row">
    <div class="rightbox col-4">
      <div class="title"> 最も褒めてくれる人 </div>
      <div class="profilebox">
        <% @top_receivers.each do | item | %>
          <div class="ranking">
            <div class="left">
              <img src="<%= item[:img_src] %>" width="28" height="28" class="radius5"/>
            </div>
            <div class="right">
              <%= item[:name] %>
              <div class="score"><%= item[:count] %></div>
            </div>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div><br>

      <div class="title"> 褒められポイント </div>
      <div class="profilebox">
        <% @top_hashtags.each do | k, v | %>
        <div class="ranking">
          <div class="left"><%= k %> </div>
          <div class="right"> 
            <div class="score"><%= v %></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <% end %>
      </div><br>
    </div>

    <div class="leftbox col-8">
    <div class="timeline">
      <div class="pagination" style="float:right">
        <% if @total_pages > 8 %>
          <% unless @page_now == 1 %>
            <a href="<%= "#{@prizy_url}/profile/?page=1" %>">最初</a>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@previous_page}" %>">前へ</a>
          <% end %>
          <a href="<%= "#{@prizy_url}/profile/?page=#{@page_now}" %>"><%= @page_now %></a>
          <% unless @page_now == @total_pages %>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@next_page}" %>">次へ</a>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@total_pages}" %>">最後</a>
          <% end %>
        <% else %>
          <% (1..@total_pages).each do | i | %>
            <a href="<%= "#{@prizy_url}/profile/?page=#{i}" %>"><%= i %></a>
          <% end %>
        <% end %>
      </div><br>
      <div class="clearfix"></div>
      <%= render 'bottomprofile' %>
      <div class="pagination" style="float:right">
        <% if @total_pages > 8 %>
          <% unless @page_now == 1 %>
            <a href="<%= "#{@prizy_url}/profile/?page=1" %>">最初</a>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@previous_page}" %>">前へ</a>
          <% end %>
          <a href="<%= "#{@prizy_url}/profile/?page=#{@page_now}" %>"><%= @page_now %></a>
          <% unless @page_now == @total_pages %>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@next_page}" %>">次へ</a>
            <a href="<%= "#{@prizy_url}/profile/?page=#{@total_pages}" %>">最後</a>
          <% end %>
        <% else %>
          <% (1..@total_pages).each do | i | %>
            <a href="<%= "#{@prizy_url}/profile/?page=#{i}" %>"><%= i %></a>
          <% end %>
        <% end %>
      </div><br>
      <div class="clearfix"></div>
    </div><!-- timeline -->
    </div>
    
    </div>
  </div><!-- row -->
</div> <!-- contents -->
</div> <!-- wrapper -->
</div>

<script type="text/javascript">
$(".btn_edit").click(function() {
  window.location = '/update';
});
</script>

<script type="text/javascript">
$.urlParam = function(name){
  var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
  if (results != null) {
    return results[1];
  } else {
    return 0;
  }
}

$(".give_comments").bind('keypress',function(e) {
  if(e.keyCode == 13) {
    var post_id = ($(this).attr('data-id')); //get attributes of clicked item
    var comments = ($(this).val()); //get attributes of clicked item

    postComment(post_id, comments);
  }
});

$(".btn_comment").click(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item
  var comments = $(".post_comment_"+post_id).val(); 

  postComment(post_id, comments);
});

function postComment(post_id, comments) {
  $.ajax({
    type: "POST",
    url: "/user/give_comments",
    data: { 'post_id': post_id, 'comments': comments, 'page': $.urlParam('page') },
    success: function(data) {
      $(this).val("");
      window.location.reload(); 
    }
  });
}

$(".btn_like").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/user/give_kudos",
    data: { 'post_id': post_id, 'kudos': 1 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

$(".btn_unlike").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/user/give_kudos",
    data: { 'post_id': post_id, 'kudos': 0 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

function getTag () {
  items = [];
  <% if @hashtags.present? %>
    <% @hashtags.each do | tag | %>
      items.push("<%= tag %>");
    <% end %>
  <% end %>
  return items;
}

function getName () {
  items = {};
  <% if @users.present? %>
    <% @users.each do | user | %>
      <% unless user.id == @user.id %> 
	items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
  <% end %>
  return items;
}


$(document).ready(function() {
  $(".time p").each(function() {
    $(this).html(timeSince($(this).html()));
  });
});

function timeSince(time) {
  var currentTime = new Date();
  var time = new Date(time);

  var seconds = Math.floor((currentTime - time)/1000);
  var interval = Math.floor(seconds / 31536000);

  if (interval >= 1) {
      return interval + "年前";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval >= 1) {
      return interval + "月前";
  }
  interval = Math.floor(seconds / 86400);
  if (interval >= 1) {
      return interval + "日前";
  }
  interval = Math.floor(seconds / 3600);
  if (interval >= 1) {
      return interval + "時間前";
  }
  interval = Math.floor(seconds / 60);
  if (interval >= 1) {
      return interval + "分前";
  }
  return Math.floor(seconds) + "秒前";
}

$('.del_comment').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("本当にこのコメントを削除しますか？")) {
    $.post("/user/delete_comment", { 'comment_id': _id }); //send post request
    $(".comment_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

$('.del_post').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("本当にこの投稿を削除しますか？")) {
    $.post("/user/delete_post", { 'post_id': _id }); //send post request
    $(".post_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});
$(window).click(function() {
  $(".editnav .dropdown_content").hide();
});
$("#wrapper").click(function(event) {
  event.stopPropagation();
});

function getName () {
  items = {};
  <% if @team_users.present? %>
    <% @team_users.each do | user | %>
    <% unless user.delete_flag == 1 %>
      <% unless user.id == @user.id %> 
  items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
    <% end %>
  return items;

  <% else %>
    <% @users.each do | user | %>
      <% unless user.id == @user.id %> 
  items["<%= user.id %>"] = "<%= user.lastname %> <%= user.firstname %>";
      <% end %>
    <% end %>
  return items;
  <% end %>
}

function getPoints () {
  return ["10","20","30","40","50"];
}

<% if $allow_nickname.include?(@user.company_id) %>
function getNickname () {
  items = {};
  <% $nicknames.each do |key, value| %>
    items["<%= key %>"] = "<%= value %>";
  <% end %>
  return items;
}
<% end %>


$(".btn_give").click(function() {
  var isValid = true; // validationエラーの場合はfalseを返す

  $(".new_post").not(".display_hidden").each(function(){
    var $this = $(this);
    var input = $this.find(".taginput").val();
    var dataReceive = $this.find(".receiver-selected").val();
    <% if $allow_nickname.include?(@user.company_id) %>
      var dataNickname = $this.find(".nickname-selected").val();
    <% end %>

    // validationエラー表示の初期化
    $(this).find(".dropbtn").removeClass("form_invalid");

    <% if @company.point_fixed_flag == 0 %>
    isPoint = input.match(/\+[^\s|  ]+/);
    <% end %>
    isTag = input.match(/\#[^\s|  ]+/);
    
    <% if $allow_nickname.include?(@user.company_id) %>
      if(dataReceive == null || !isPoint || dataNickname == null) {

                // エラー箇所のスタイルを変更
        if(dataReceive == null) {
          $this.find("#atbtn").addClass("form_invalid");
        }
        if(!isPoint) {
          $this.find("#ptsbtn").addClass("form_invalid");
        }
        if(dataNickname == null) {
          $this.find("#nicknamebtn").addClass("form_invalid");
        }

        <% if @company.point_fixed_flag == 0 %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ニックネーム、ポイント数が必須です。)");
          <% else %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ニックネーム、を入力してください。)");
          <% end %>
      isValid = false;
      } 
    <% else %>
      if(dataReceive == null || !isPoint ) {
        // エラー箇所のスタイルを変更
        if(dataReceive == null) {
          $this.find("#atbtn").addClass("form_invalid");
        }
        if(!isPoint) {
          $this.find("#ptsbtn").addClass("form_invalid");
        }
        <% if @company.point_fixed_flag == 0 %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか、ポイント数が必須です。)");
        <% else %>
          $("span.notice").text("投稿に不備があります。(誰に贈るのか入力してください。)");
        <% end %>
      isValid = false;
    } 
    <% end %>
    });
    return isValid;
});


$(".selDropdown option").click(function() {
  $(".tags span").empty();
  $(".tags span").append($("<input type='button' class='btn radius5'/>").val($(this).text()));
});

$("#new_posts").on("click", "#myDropdown", function(e) {
  var content = e.target.text;
  var className = e.target.classList[1];
  var dataId = e.target.dataset.id;
  var $selected = $(this).closest(".new_post");

  switch (className) {
    case "drpPoints":
      $selected.find(".taginput").val($selected.find(".taginput").val() + "+" + content + " ");
      break;

    case "drpAt":
      //$(".tags span").empty();
      if(!($selected.find(".tags .given_to input[data-id='" + dataId + "']").val())) {
  $selected.find(".tags .given_to").append($("<input type='button' class='btn radius5 given_user' data-id='" + dataId + "'/>").val(content));
  $selected.find(".tags .given_to").append($("<input type='hidden' class='receiver-selected given_user' name='new_post[]receiver_id[]' data-id='" + dataId + "'/>").val(dataId));
      }
      break;

    case "drpTag":
      $selected.find(".taginput").val($selected.find(".taginput").val() + "#" + content + " ");
      break;

    <% if $allow_nickname.include?(@user.company_id) %>
    case "drpNickname":
      $selected.find(".tags .given_from").empty();
      $selected.find(".tags .given_from").append($("<input type='button' class='btn radius5 given_user' data-id='" + dataId + "'/>").val(content));
      $selected.find(".tags .given_from").append($("<input type='hidden' class='nickname-selected given_user' name='new_post[][nickname_id]' data-id='" + dataId + "'/>").val(dataId));
      break;
    <% end %>
  }
});

$("#new_posts").on("click", ".dropbtn", function() {
  var symId = $(this).attr("id");
  var className = "";
  var dataId = "";
  var $selected = $(this);
  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = getName();
      className = "drpAt";
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
    <% if $allow_nickname.include?(@user.company_id) %>
    case "nicknamebtn":
      values = getNickname();
      className = "drpNickname";
      break;
    <% end %>
  }

  $("#myDropdown > a").remove();
  if (className == 'drpAt'){
    $selected.siblings("#myDropdown").append("<a id='type_email' class='drpAt'>メールアドレス入力</a>");
  };
  $.each(values, function( index, value ) {
    $selected.siblings("#myDropdown").append($("<a data-id='"+index+"'></a>").addClass("item "+ className).text(value));
  });

  $selected.siblings("#myDropdown").show();
  
  $selected.closest(".new_post").find("#type_email").click(function(){
    var $post = $(this).closest(".new_post");

    // init suggest
    new Suggest.LocalMulti(
       $post.find("#suggested_name")[0],    // 入力のエレメント
      $post.find("#suggest")[0], // 補完候補を表示するエリア
      <%= raw @emails %>,
      {dispMax: 10, interval: 1000, prefix: true} // オプション
    );

    var $post = $(this).closest(".new_post");
    $post.find("#suggested_name_span").show();
    $post.find("#suggested_name").show();
    $post.find("#send_suggested_name").show();
  });

  $(".item").click(function() {
    $(".taginput").focus();
  });
});

$(document).mouseup(function(e) {
  var subject = $(".pointsbox .dropbtn");
  if(e.target.id != subject.attr("id")){
    $("#myDropdown").hide();
  }

  $(".tags .given_user").click(function() {
    $(this).next().remove();
    $(this).remove();
  });

});


// email_click
$("#new_posts").on("click", ".email_added", function(){
  var $selected = $(this).closest(".new_post");
  $.ajax({ type: 'GET',
    url: '/user/getname',
    data:{
      email: $selected.find('#suggested_name').val()
    },
    success: function(data){
      var element = document.createElement('input');
      var elem = document.createElement('input');
      element.setAttribute("type", "button");
      element.setAttribute("class", "btn radius5 given_user");
      element.setAttribute("value", data['name']);
      element.setAttribute("data-id", data['id']);
      elem.setAttribute("type", "hidden");
      elem.setAttribute("class", "receiver-selected given_user");
      elem.setAttribute("name", "new_post[][receiver_id][]");
      elem.setAttribute("data-id", data['id']);
      elem.setAttribute("value", data['id']);
      $selected.find(".given_to").append(element);
      $selected.find(".given_to").append(elem);
      $selected.find("#suggested_name").val("");
    },
    error: function(data){
      alert('該当のメールアドレスがありません');
    }
  });
});





</script>
