<div id="wrapper">
<div id="contents">
  <div class="row">
    <div id="item_list">
      <% @rewards.each_with_index do | item, i | %>
	<div class="item <% if @user.in_points < item[:points] %>grayscale<% else %>colored<% end %>">
	  <%= image_tag "gift.png" %><br>
	  <div class="details">
	    <p class="name" align="left"><b><%= item[:title] %></b></p>
	    <p align="left"><%= item[:description] %></p>
	  </div>
	  <div class="buy">
	    <% if @user.in_points < item[:points] %>
	      <p><%= number_with_delimiter(item[:points], :delimiter => ',') %> pts</p> 
	    <% else %>
	      <a href="#" class="btn_buy" data-id="<%= item[:id] %>">Buy - <%= number_with_delimiter(item[:points], :delimiter => ',') %> pts</a> 
	    <% end %>
	  </div>
	</div>
      <% end %>
    </div>
  </div> <!-- row -->
</div> <!-- contents -->
</div> <!-- wrapper -->


<script type="text/javascript">
$('.btn_buy').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("このアイテムを買いますか?")) {
    $.post("/rewards/request", { 'reward_id': _id }); //send post request
  }
  return false; //do nothing
});
</script>
