<div class="time_line_wrapper">
<div id="rewards_wrapper">
<div id="contents">
  <div class="row">
    <div class="rewards_top">
    <% if @rewards_prizy.count == 0 && @rewards.count == 0 %>
      <p class="font12" style="padding-top: 20px;">ギフトはまだ設定されていません。人事の方にお願いしてみてください！</p>
    <% else %>
      <p class="font12">ポイント：<b class="font14"><%= @user.in_points %></b><br>ギフトと交換できます。<br><a href="/rewards/status" class="a_btncmn radius5">ステータスを確認する</a></p>
    <% end %>
    </div>
    
    <div id="item_list">
      <% if @user.company.plan > 0 %>
	<% unless @rewards_prizy.count == 0 %>
	  <div class="rewards_box">
	    
	    <% @rewards_prizy.each do | item | %>
	      <div class="item <% if @user.in_points < item[:points] %>grayscale<% else %>colored<% end %>">
		<% if item.img_src.present? %>
		  <img src="<%= item.img_src %>"/>
		<% end %>
		
		<div class="details">
		  <p class="name" align="left"><b><%= item[:title] %></b></p>
		  <p align="left" class="rewards_description"><%= item[:description] %></p>
		</div>
		
		<div class="buy">
		  <% if @user.in_points < item[:points] %>
		    <p><%= number_with_delimiter(item[:points], :delimiter => ',') %> ポイント</p> 
		  <% else %>
		    <a href="#" class="btn_buy" data-id="<%= item[:id] %>" data-type="prizy">Buy - <%= number_with_delimiter(item[:points], :delimiter => ',') %> ポイント</a> 
		  <% end %>
		</div>
	      </div>
	    <% end %>
	  </div>
	<% end %>
      <% end %>
	
      <% unless @rewards.count == 0 %> 
	<div class="rewards_box">
	  
	  <% @rewards.each_with_index do | item, i | %>
	    <div class="item <% if @user.in_points < item[:points] %>grayscale<% else %>colored<% end %>">
	      <% if item.img_src.present? %>
		<img src="<%= item.img_src %>"/><br>
	      <% end %>

	      <div class="details">
		<p class="name" align="left"><b><%= item[:title] %></b></p>
		<p align="left" class="rewards_description"><%= item[:description] %></p>
	      </div>
	      
	      <div class="buy">
		<% if @user.in_points < item[:points] %>
		  <p><%= number_with_delimiter(item[:points], :delimiter => ',') %> ポイント</p> 
		<% else %>
		  <a href="#" class="btn_buy" data-id="<%= item[:id] %>" data-type="company"><%= number_with_delimiter(item[:points], :delimiter => ',') %> ポイントで交換</a> 
		<% end %>
	      </div>
	    </div>
	  <% end %>
	</div>
      <% end %>
    </div>
  </div> <!-- row -->
</div> <!-- contents -->
</div> <!-- wrapper -->
</div>


<script type="text/javascript">
$('.btn_buy').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item
  var _type = ($(this).attr('data-type')); //get attributes of clicked item

  if (confirm("本当に交換しますか？")) {
    $.ajax({
      type: "POST",
      url: "/rewards/request",
      data: { 'reward_id': _id, 'type': _type },
      success: function(data){
        alert("ギフト交換の申請をしました。メールをお待ちください。");
        window.location.reload(); 
      }
    });
  }
  return false; //do nothing
});
</script>
