<%= render "shared/header"%>
<div class="user_update">
	<div class="user_update_top">
	  <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/prizy_userprofile/pc_profile_ttl.png") %>
	  <p>ユーザー情報編集</p>>
	</div>

	<div class="user_update_wrapper">
		<div id="wrapper">
			<div id="contents" class="clearfix width-100-percent">
				<div class="user_update_left width-40-percent">
  				<h3>Prizyなら好きなときに、<br>好きな方法で。</h3>
  				<p>Slack連携なら、いつものコミュニケーションで<br>感謝を伝えよう。</p>
  				<%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/prizy_userprofile/pc_profile_img.png", class: "width-100-percent") %>
				</div>

				<div class="user_update_right width-50-percent" style="margin-top: 80px;">
  				<% if flash[:notice] %><p class="c_align notice" style="padding:20px 0px 0px 0px;color: red;"><%= flash[:notice] %></p><% end %>
					<%= form_tag( "/update/complete", method: "post", id: "login_form", multipart: true ) do %>
					  <div class="toolbox">
					    <input type="hidden" name="fb_data" value="<%= @fb_data %>"/>
					    <table class="center tbl_tools width-80-percent">
					      <tr>
									<td class="user_update_table_td">会社名</td>
									<td><%= @user.company.name %></td>
					      </tr>
					      <tr>
									<td class="user_update_table_td">メールアドレス</td>
									<td><%= @user.email %></td>
					      </tr>
                <tr>
                  <td class="user_update_table_td">会社</td>
                  <td>
                    <select class="target_select_department width-50-percent" name="department_id">
                      <% @departments.each do |dep| %>
                        <% if @team && @team.department.id == dep.id %>
                          <option value="<%= dep.id %>" selected><%= dep.dep_name %></option>                    
                        <% else %>
                          <option value="<%= dep.id %>"><%= dep.dep_name %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="user_update_table_td">部署</td>
                  <td>
                    <select class="target_select_team width-50-percent" name="team_id">
                      <% if @teams && @teams.count > 0 %>
                        <% @teams.each do |team| %>
                          <% if team.member_ids.present? && team.member_ids.split(',').include?(@user.id.to_s) %>
                            <option value="<%= team.id %>" selected=""><%= team.team_name %></option>
                          <% else %>
                            <option value="<%= team.id %>"><%= team.team_name %></option>
                          <% end %>
                        <% end %>
                      <% end %>
                    </select>
                  </td>
                </tr>
					      <tr>
									<td class="user_update_table_td">パスワード</td>
									<td><input type="button" value="パスワード変更" class="btn_change_password"/></td>
					      </tr>
					      <tr class="password">
									<td class="user_update_table_td">新しいパスワード</td>
									<td><input type="password" name="password" value="" id="passwd1" class="user_update_input"/></td>
					      </tr>
					      <tr class="password">
									<td class="user_update_table_td">パスワード確認</td>
									<td>
									  <input type="password" name="password" value="" id="passwd2" class="user_update_input"/><br>
									  <span class="notice"></span>
									</td>
					      </tr>
					    </table><br>
							<p align="center">
					      <input type="submit" value="" class="user_update_submit"/>
					    </p>
						</div><br><br>
				  <% end %>
				</div> <!-- user_update_right -->
			</div> <!-- contents -->
		</div> <!-- wrapper -->
	</div>
	<%= render "shared/footer"%>
</div>

<script type="text/javascript">
var passwd1 = document.getElementById("passwd1");
var passwd2 = document.getElementById("passwd2");

function validatePassword(){
  if(passwd1.value != passwd2.value) {
    $(".notice").text("パスワードに誤りがあります");
  } else {
    $(".notice").text("");
  }
}
passwd1.onchange = validatePassword;
passwd2.onkeyup = validatePassword;

$(document).ready(function() {
  $(".password").hide();
});

$(".btn_change_password").click(function() {
  $(".password input").val("");
  $(".notice").text("");
  $(".password").toggle();
});

$(".btn_back").click(function() {
  window.location = "/profile";
});
$(".btn_fb").click(function() {
  window.location = '/auth/facebook';
});


$(".target_select_department").change(function(){
  $(".target_select_team").empty();
  $.ajax({
    url: "/select_target_department",
    type: "POST",
    data: {id : $(this).val()
  },
  success: function(data) {
    $.each(data, function(key, value){
      $(".target_select_team").append('<option value="'+ value[0] + '">' + value[1] + '</option>');
    });
  },
  error: function(data) {
    alert("チームが見つかりませんでした");
  }
  });
});
</script>
