<%= render "shared/header"%>
<div class="user_update">
	<div class="user_update_top">
	  <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/prizy_userprofile/pc_profile_ttl.png") %>
	  <p>ユーザー情報編集</p>>
	</div>

	<div class="user_update_wrapper">
		<div id="wrapper">
			<div id="contents" class="clearfix">
				<div class="user_update_left width-40-percent">
  				<h3>Prizyなら好きなときに、<br>好きな方法で。</h3>
  				<p>Slack連携なら、いつものコミュニケーションで<br>感謝を伝えよう。</p>
  				<%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/prizy_userprofile/pc_profile_img.png", class: "width-100-percent") %>
				</div>

				<div class="user_update_right" style="margin-top: 100px;">
  				<% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
					<%= form_tag( "/update/complete", method: "post", id: "login_form", multipart: true ) do %>
					  <div class="toolbox">
					    <input type="hidden" name="fb_data" value="<%= @fb_data %>"/>
					    <table class="center tbl_tools">
					      <tr>
									<td class="user_update_table_td">会社名</td>
									<td><%= @user.company.name %></td>
					      </tr>
					      <tr>
									<td class="user_update_table_td">メールアドレス</td>
									<td><%= @user.email %></td>
					      </tr>
					      <tr>
									<td class="user_update_table_td">パスワード</td>
									<td><input type="button" value="パスワード変更" class="btn_change_password"/></td>
					      </tr>
					      <tr class="password">
									<td class="user_update_table_td">新しいパスワード</td>
									<td><input type="password" name="password" value="" id="passwd1" class="user_update_input"/></td>
					      </tr>
					      <tr class="password">
									<td class="user_update_table_td">パスワード確認</td>
									<td>
									  <input type="password" name="password" value="" id="passwd2" class="user_update_input"/><br>
									  <span class="notice"></span>
									</td>
					      </tr>

	      				<% if @fb_data == 0 %>
								  <% unless $ban_edit_name.include?(@user.company_id) %>
										<tr>
										  <td colspan="2" align="right"><input type="button" value="Facebookで簡単登録" class="btn_fb"/></td>
										</tr>
										<tr>
										  <td class="user_update_table_td">プロフィール写真</td>
										  <td><%= file_field_tag :img_src %></td>
										</tr>
								  <% end %>
								  <% unless $ban_edit_name.include?(@user.company_id) %>
										<tr>
										  <td class="user_update_table_td update_name">姓 <input type="text" name="lastname" value="<%= @user.lastname %>" required />  名 <input type="text" name="firstname" value="<%= @user.firstname %>" required /></td>
										</tr>
								  <% end %>
					      <% else %>
	  							<% unless $ban_edit_name.include?(@user.company_id) %>
										<tr>
										  <td class="user_update_table_td">プロフィール写真</td>
										  <td>
										    <%= image_tag params[:fb_pic], width: 48, height: 48 %>
										    <input type="hidden" name="img_src" value="<%= params[:fb_pic] %>"/>
										  </td>
										</tr>
									<% end %>
							  	<tr>
									  <td class="user_update_table_td">ユーザー名</td>
									  <td>
									    <input type="text" name="name" value="<%= params[:fb_name] %>", class="user_update_input"/><br>
									    <span class="instructions">好きなユーザーネームに変更できます</span>
									  </td>
									</tr>
								  <% unless $ban_edit_name.include?(@user.company_id) %>
										<tr>
										  <td class="user_update_table_td update_name">姓 <input type="text" name="lastname" value="<%= params[:fb_lname] %>"/>  名 <input type="text" name="firstname" value="<%= params[:fb_fname] %>"/></td>
										</tr>
									<% end %>
									<tr>
									  <td class="user_update_table_td">性  <label><input type="radio" name="gender" value="0" <% if params[:fb_gender]=="male" %> checked <% end %>/>男</label>
							      <label><input type="radio" name="gender" value="1" <% if params[:fb_gender]=="female" %> checked <% end %>/>女</label></td>
									</tr>
						    <% end %>
					    </table><br>
							<p align="center">
					      <input type="submit" value="" class="user_update_submit"/>
					    </p>
						</div><br><br>
				  <% end %>
				</div> <!-- user_update_right -->
			</div> <!-- contents -->
		</div> <!-- wrapper -->
	</div>
	<%= render "shared/footer"%>
</div>

<script type="text/javascript">
var passwd1 = document.getElementById("passwd1");
var passwd2 = document.getElementById("passwd2");

function validatePassword(){
  if(passwd1.value != passwd2.value) {
    $(".notice").text("パスワードに誤りがあります");
  } else {
    $(".notice").text("");
  }
}
passwd1.onchange = validatePassword;
passwd2.onkeyup = validatePassword;

$(document).ready(function() {
  $(".password").hide();
});

$(".btn_change_password").click(function() {
  $(".password input").val("");
  $(".notice").text("");
  $(".password").toggle();
});

$(".btn_back").click(function() {
  window.location = "/profile";
});
$(".btn_fb").click(function() {
  window.location = '/auth/facebook';
});
</script>
