<% if session[:id] || cookies[:id] %>
  <div class="landing_footer landing_pc">
    <div class="landing_footer_wrapper">
      <div class="landing_footer_left">
        <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_pc.png") %>
      </div>
      <div class="landing_footer_right">
        <ul>
          <li><%= link_to "ニューストピック", profile_articles_path %></li>
          <li><%= link_to "もらったメッセージを見る", "/profile"%></li>
          <li><%= link_to "贈ったメッセージを見る", "/profile/given"%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="landing_footer landing_sp">
    <div class="landing_footer_bottom">
      <ul>
        <li><%= link_to "ニューストピック", profile_articles_path, class: "font-size-10" %></li>
        <li><%= link_to "もらったメッセージ", "/profile", class: "font-size-10" %></li>
        <li><%= link_to "贈ったメッセージ", "/profile/given", class: "font-size-10" %></li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="landing_footer landing_pc">
    <div class="landing_footer_wrapper">
      <div class="landing_footer_left">
        <%= link_to "/" do %>
        <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_pc.png") %>
        <% end %>
      </div>
      <div class="landing_footer_right">
        <ul>
          <li><%= link_to "Slack連携", "/integration/slack" %></li>
          <li><%= link_to "利用規約", "/terms"%></li>
          <li><%= link_to "プライバシー", "/privacy"%></li>
          <li><%= link_to "お問い合わせ", "/contact"%></li>
          <li><%= link_to "運営会社", "http://www.btoa-company.co.jp/", :target => "_blank"%></li>
        </ul>
      </div>
      <div class="landing_clearfix"></div>
      <div class="footer_bottom">
        <ul>
          <li class="pc_footer_fb">
            <%= link_to "https://www.facebook.com/prizy.official/", :target => "_blank" do %>
              <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/sp.icon_facebook.png") %>
            <% end %>
          </li>
          <li class="pc_footer_tw">
            <%= link_to "https://twitter.com/BtoACompany", :target => "_blank" do %>
              <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/sp.icon_twitter.png") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="landing_footer landing_sp">
    <div class="landing_footer_top">
      <div class="landing_footer_top_left">
        <%= link_to "/" do%>
        <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/sp.logo.png") %>
        <% end %>
      </div>
      <div class="landing_footer_top_right">
        <ul>
          <li class="landing_footer_facebook">
            <%= link_to "https://www.facebook.com/prizy.official/", :target => "_blank" do %>
              <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/sp.icon_facebook.png") %>
            <% end %>
          </li>
          <li class="landing_footer_twitter">
            <%= link_to "https://twitter.com/BtoACompany", :target => "_blank" do %>
            <%= image_tag ("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/sp.icon_twitter.png") %>
            <% end %>
          </li>
        <div class="landing_clearfix"></div>
        </ul>
      </div>
      <div class="landing_clearfix"></div>
    </div>
    <div class="landing_footer_bottom">
      <ul>
        <li><%= link_to "サービス", "/"%></li>
        <li><%= link_to "Slack連携", "/integration/slack" %></li>
        <li><%= link_to "利用規約", "/terms"%></li>
        <li><%= link_to "プライバシー", "/privacy"%></li>
        <li><%= link_to "お問い合わせ", "/contact"%></li>
        <li><%= link_to "運営会社", "http://www.btoa-company.co.jp/", :target => "_blank"%></li>
        <div class="landing_clearfix"></div>
      </ul>
    </div>
  </div>
<% end %>