#admin_wrapper
  = render "/company/admin_subheader"
  .width-100-percent#admin_contents
    .width-40-percent{ style: "margin: 0 auto;" }
      .l_align.padding-top-20=link_to "配信予定の投票一覧", admin_votes_path
      .c_align.font-size-16{ style: "font-weight: bold;" } 投票詳細
      %table.mail_form.width-100-percent.l_align{ style: "margin: 20px auto 0px;" }
        %tr
          %td 配信予定日
          %td{ style: "height: 35px;border: none;border:none;border-bottom: 1px solid #e5e5e5;font-size: 16px;padding: 7px;" }= @vote.date
        %tr
          %td 件名
          %td{ style: "height: 35px;border: none;border:none;border-bottom: 1px solid #e5e5e5;font-size: 16px;padding: 7px;" }= @vote.title
        %tr
          %td ヘッダー画像
          %td= @vote.try(:header_image_url).present? ? image_tag(@vote.try(:header_image_url), size: "200") : "ヘッダー画像はありません";
        %tr
          %td{ style: "vertical-align:top;" }質問内容
          %td{ style: "border: none;resize: none;border: 1px solid #e5e5e5;font-size: 16px;color:black;padding: 7px;margin-top: 10px;" }= @vote.question
