<div id="admin_wrapper">
  <%= render "/company/admin_subheader" %>

  <div id="admin_contents" class="toolbox c_align width-100-percent" style="padding: 20px;">
    <!-- <h3 style="margin: 10px;">メッセージを出力する</h3> -->

    <h3 style="margin: 10px;">メッセージ一覧</h3>
    <table class="tbl_tools width-70-percent" border="1">
      <tr>
        <th>日時</th>
        <th>送信者</th>
        <th>受信者</th>
        <th>内容</th>
      </tr>
      <% @posts.each do |post| %>
        <tr>
          <td class="width-10-percent"><%= post.create_time.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td class="width-10-percent"><%= post.user.fullname %></td>
          <td class="width-10-percent"><%= post.receiver.fullname %></td>
          <td class="width-70-percent"><%= post.description %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @posts, class: "c_align", style: "margin: 20px;font-size: 16px;" %>
  </div>
</div>
