<div class="analytics_holder">
  <%= render '/analytics/analytics'%>

  <div class="analytics_container c_align" style="float: left; width: 80%; background-color: white; margin-bottom: 30px;">
    <div id="admin_contents" class="analytics_holder toolbox width-100-percent" >
      <h3 style="margin: 10px;">メッセージを出力する</h3>

      <%= form_tag export_all_posts_admin_posts_path(format: 'csv') do%>
        <select name="period">
          <option value="three_month">直近 3ヶ月分</option>
          <option value="six_month">直近 6ヶ月分</option>
          <option value="twelve_month">直近 1年分</option>
        </select>
        <input type="submit" value="出力">
      <% end %>

      <h3 style="margin: 10px;">メッセージ一覧</h3>
      <table class="tbl_tools width-80-percent" border="1">
        <tr>
          <th>日時</th>
          <th>所属</th>
          <th>送信者</th>
          <th>所属</th>
          <th>受信者</th>
          <th>内容</th>
        </tr>
        <% @posts.each do |post| %>
          <% if post.receiver_id.present? && post.receiver_id.include?(",") %>

          <% else %>
            <tr>
              <td class="width-10-percent"><%= post.create_time.strftime("%Y/%m/%d %H:%M:%S") %></td>
              <td class="width-10-percent">
                <% @teams.each do |team| %>
                  <% if team.member_ids.present? && team.member_ids.include?(post.user_id.to_s) %>
                    <% department = Department.find(team.department_id) %>
                    <%= department.try(:dep_name) %> / 
                    <%= team.team_name %>
                  <% end %>
                <% end %>
              </td>
              <td class="width-10-percent"><%= "#{post.user.lastname} #{post.user.firstname}" %></td>
              <td>
                <% @teams.each do |team| %>
                  <% if team.member_ids.present? && team.member_ids.include?(post.receiver_id.to_s) %>
                    <% department = Department.find(team.department_id) %>
                    <%= department.try(:dep_name) %> / 
                    <%= team.team_name %>
                  <% end %>
                <% end %>
              </td>
              <td class="width-10-percent"><%= "#{post.receiver.lastname} #{post.receiver.firstname}" %></td>
              <td style="max-width: 600px;word-break: break-all;"><%= post.description %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <%= will_paginate @posts, class: "c_align", style: "margin: 20px;font-size: 16px;" %>
    </div>
  </div>
</div>


