<p>お疲れさまです。<br>
Prizy運営事務局です<br><br>

<%= @name %>様より<br>
下記の内容、お問い合わせいただきました。<br>

-------------------------------------------------------------------------<br>
会社名：<%= @company %><br>
お名前：<%= @name %><br>
メールアドレス：:<%= @email %><br>
お問い合わせ内容：<%= @text %><br>
-------------------------------------------------------------------------<br><br>

担当より、3営業日以内にご連絡いたします。<br><br>

引き続き、何とぞよろしくお願いいたします。<br>
Prizy運営事務局</p>