<div class="width-100-percent" style="margin: 0 auto; width: 70%;">
  <h3 class="c_align" style="text-align: center;"><%= @vote.question %></h3>
  <div class="" style="margin: 0 auto; width: 100%;">
    <div class="width-100-percent" style="margin: 20px auto; width: 100%; text-align: center;">
      <%= @vote.try(:header_image_url).present? ? image_tag(@vote.try(:header_image_url), size: "500", style: "text-align: center;") : "" %>
    </div>
    <div class="width-100-percent clearfix" style="width: 100%; margin: 0 auto; text-align: center;">
      <% if @info[1][:candidate_ids].present? %>
        <% @info[1][:candidate_ids].each do |id| %>
          <div class="width-30-percent float_left"  style="float: left; margin: 0 20px;">
            <img src="https://s3-ap-northeast-1.amazonaws.com/prizy/common/noimg_pc.png" />
            <br/>
            <div class="width-100-percent c_align" style="margin: 0 auto;">
              <% if @info[1][:department].present? %>
                <div class="c_align" style="margin: 0 auto;text-align: center;">
                  <%= @info[1][:department].try(:dep_name) %>
                  <br/>
                </div>
              <% end %>
              <h4 class="c_align" style="margin: 0 auto; text-align: center;">
                <%= "#{@ref_users[id.to_i].try(:lastname)}" "#{@ref_users[id.to_i].try(:firstname)}" %>
              </h4>
              <span class="color-white c_align" style="text-align: center; background-color: #009DBF; padding: 5px; display: inline-block;margin: 0 auto; text-align: center;" >
                <%= link_to "投票する", post_vote_admin_vote_results_url(user_id: @info[0].id, company_id: @info[0].company_id, team_id: @info[1][:team_id], department_id: @info[1][:department].try(:id), vote_id: @vote.id , result: id.to_i ), style: "text-align: center; color: white; text-decoration: none;" %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
