<div id="wrapper">
<div id="contents">
  <div id="nav" class="center">
    <ul>
      <li><a href="/">TOP</a> > </li>
      <li><a href="/items">Items</a> > </li>
      <li><a href="/items?cat=<%= @item[:category_id] %>"><%= @categories[@item[:category_id]] %></a> > </li>
      <li><a><%= @item[:name] %></a></li>
    </ul>
  </div><br><br>

  <div class="row">
    <div class="details">
      <div class="main_img col-7">
	<a href="<%= @item[:img_src] %>" target="_blank"><img src="<%= @item[:img_src] %>"/></a>
      </div>
      <div class="info col-5">
	<h3 class="name"><%= @item[:name] %></h3>
	<p class="price"><%= number_with_delimiter(@item[:price], :delimiter => ',') %> 円</p><br>
	<p class="desc"><%= @item[:description] %></p><br>
	<input type="button" class="btn_coupon" value="GET COUPON"/>
      </div>
    </div>
  </div><!-- row -->
</div> <!-- contents -->
</div> <!-- wrapper -->
