<div id="wrapper">
<div id="contents">
  <h3 align="center">Add New Perk</h3>
  <%= form_tag( "/tools/items/edit_complete", method: "post", id: "new_form" ) do %>
  <input type="hidden" name="id" value="<%= @item[:id] %>"/>
  <div class="toolbox">
    <table class="tbl_tools">
      <tr>
	<td>Perk Title: </td>
	<td><input type="text" name="name" value="<%= @item[:name] %>"/></td>
      </tr>
      <tr>
	<td>Category: </td>
	<td>
	  <select name="category_id">
	  <% @categories.each do | id, val | %>
	    <option value="<%= id %>" <% if id.to_i == @item[:category_id] %> selected <% end %>><%= val %></option>
	  <% end %>
	  </select>
	</td>
      </tr>
      <tr>
	<td>Supplier: </td>
	<td>
	  <select name="supplier_id">
	  <% @suppliers.each do | item | %>
	    <option value="<%= item[:id] %>" <% if item[:id] == @item[:supplier_id] %> selected <% end %>><%= item[:name] %></option>
	  <% end %>
	  </select>
	</td>
      </tr>
      <tr>
	<td>Image Source: </td>
	<td><input type="text" name="img_src" value="<%= @item[:img_src] %>" size="50"/></td>
      </tr>
      <tr>
	<td>Perk URL: </td>
	<td><input type="text" name="url" value="<%= @item[:url] %>"/></td>
      </tr>
      <tr>
	<td>Description: </td>
	<td><textarea name="description" rows="5" cols="30"><%= @item[:description] %></textarea></td>
      </tr>
      <tr>
	<td>Price: </td>
	<td><input type="text" name="price" value="<%= @item[:price] %>"/></td>
      </tr>
      <tr>
	<td>Discount % : </td>
	<td><input type="text" name="discount" value="<%= @item[:discount] %>"/></td>
      </tr>
      <tr>
	<td>Discount Price: </td>
	<td><input type="text" name="sale_price" value="<%= @item[:sale_price] %>"/></td>
      </tr>
      <tr>
	<td align="right" colspan="2">
	  <br>
	  <input type="button" value="Back" class="btn_back btn" />
	  <input type="submit" value="Submit" class="btn_submit btn" />
	</td>
      </tr>
    </table>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".btn_back").click(function() {
  window.location = "/tools/items";
});
</script>
