<div id="wrapper">
<div id="contents">
  <div class="row">
    <div id="menu" class="col-3">
      <h2 class="cat"><a href="/items">Categories</a></h2>
      <ul> 
	<% @categories.each do | id, val | %>
	<li> 
	  <a href="/items/?cat=<%= id %>"> <img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/perks/icons/cat<%= id %>_icon.png" width="16" height="16"/> <%= val %></a> </li>
	<% end %>
      </ul>
    </div>

    <div id="item_list" class="col-9">
      <% @items.each_with_index do | item, i | %>
      <a href="/items/<%= item[:id] %>">
	<div class="item">
	  <img src="<%= item[:img_src] %>"/><br>
	  <div class="details">
	    <p class="name" align="left"><b><%= item[:name] %></b></p>
	    <p align="right"><b><%= item[:discount] %>% DISCOUNT</b></p>
	    <p align="right"><b><%= number_with_delimiter(item[:sale_price], :delimiter => ',') %> 円</b></p>
	    <p align="right">From <del><%= number_with_delimiter(item[:price], :delimiter => ',') %> 円</del></p>
	  </div>
	</div>
      </a>
      <% end %>
    </div>
  </div> <!-- row -->
</div> <!-- contents -->
</div> <!-- wrapper -->
