<div id="wrapper">
<div id="container">
  <div class="toolbox">
    <div class="toolmenu clearfix">
      <ul>
	<li><a href="/tools/items">ITEM TOOLS</a></li>
	<li><a href="/tools/vendors">VENDOR TOOLS</a></li>
      </ul>
    </div><br><br>

    <div class="c_align">
      <h2>Item Tools</h2><br>
      <a href="/tools/items/create" class="a_btn" style="font-size:14pt">Add New Item</a>
    </div><br>

    <table class="tbl_tools center" border="1">
      <tr>
	<th>ID</th>
	<th>Img Source</th>
	<th>Details</th>
	<th>Description</th>
	<th class="c_align">Actions</th>
      </tr>
      <% @items.each do | item | %>
      <tr class="item_<%= item[:id] %>">
	<td><%= item[:id] %></td>
	<td style="width:150px">
	  <a href="/tools/items/edit/<%= item[:id] %>"><img src="<%= item[:img_src] %>" width="150" height="100"/></a><br>
	  <span style="font-size:9pt"><a href="<%= item[:img_src] %>"><%= item[:img_src] %></a></span><br>
	</td>
	<td style="width:240px">
	  <b>Title: </b><br><%= item[:name] %><br><br>
	  <b>Category: </b><br><%= @categories[item[:category_id]] %><br><br>
	  <b>Price:</b> <%= item[:price] %>円<br>
	  <b>Discount:</b> <%= item[:discount] %>%<br>
	  <b>Sale Price:</b> <%= item[:sale_price] %>円
	</td>
	<td style="width:280px;"><%= item[:description] %></td>
	<td class="c_align">
	  <input type="button" class="btn edit_item" data-id="<%= item[:id] %>" value="edit" /> | 
	  <input type="button" class="btn delete_item" data-id="<%= item[:id] %>" value="del" />
	</td>
      </tr>
      <% end %>
    </table>
  </div> <!-- content_vendor -->
</div> <!-- container -->
</div> <!-- wrapper -->

<script type="text/javascript">

$('.delete_item').click(function() {
  var item_id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("Are you sure you want to delete this item?")) {
    $.post("/tools/items/delete_complete", { 'id': item_id }); //send post request
    $(".item_" + id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

$('.edit_item').click(function() {
  var item_id = ($(this).attr('data-id'));
  window.location.href = "/tools/items/edit/"+item_id; //redirect to assigned url
});

</script>
