<tr class="item_<%= item[:id] %>">
  <td><%= "#{item[:lastname]} #{item[:firstname]}" %></td>
  <td><%= item[:email] %></td>
  <td align="center">
    <% if item[:verified] == 0 %>保留 
    <% else %>登録済 
    <% end %>
  </td>
  <td><%= item[:in_points] %></td>
  <td><%= item[:out_points] %></td>
  <td align="center">
    <input type="checkbox" class="chk_admin" data-id="<%= item[:id] %>" value="1" <% if item[:admin] == 1 %> checked <% end %> <% if (item[:id] == @user_id) %> disabled readonly <% end %>/>
  </td>
  <td align="center">
    <input type="checkbox" class="chk_manager" data-id="<%= item[:id] %>" value="1" <% if item[:manager_flag] == 1 %> checked <% end %> />
  </td>
  <td align="center">
    <input type="button" class="btn delete_item" data-id="<%= item[:id] %>" value="削除" <% if (item[:id] == @user_id) %> disabled readonly style="background-color:#fff;color:#a4a4a4"<% end %>/>
  </td>
  <td align="center">
    <!-- button -->
    <button data-id="<%= item[:id] %>" class="btn btn-sm modal-btn btn-primary" type="button">編集</button>

<!-- Modal -->
    <div id="my-modal" title="メールアドレス変更" style="display:none;">
      <%= form_tag ({controller: :company , action: :update_email}) do %>
        <div class="modal-header">
          <h5 class="modal-title" id="modal-label" />
        </div>
        <%= text_field :user , :email ,size: 25 , id: "modal-body" , :required => true %>
        <%= hidden_field_tag :user_id , "" , id: "modal-hidden" %>
        <%= submit_tag "更新" %>
      <% end %>
    </div>
  </td>
</tr>

