<tr class="item_<%= item[:id] %>">
  <td style="width: 200px;"><%= "#{item[:lastname]} #{item[:firstname]}" %></td>
  <td style="width: 300px;"><%= item[:email] %></td>
  <td align="center">
    <% if item[:verified] == 0 %>保留 
    <% else %>登録済 
    <% end %>
  </td>
  <% unless controller.controller_name == "company" && controller.action_name == "team_show" %>
  <td align="center">
    <input type="checkbox" class="chk_admin" data-id="<%= item[:id] %>" value="1" <% if item[:admin] == 1 %> checked <% end %> <% if (item[:id] == @user_id) %> disabled readonly <% end %>/>
  </td>
  <td align="center">
    <!-- <button data-id="<%= item[:id] %>" class="btn btn-sm modal-btn btn-primary" type="button"> -->
    <%= link_to "編集", edit_admin_employee_path(item[:id]), class: "btn" ,style: "text-decoration: none;color:white;padding: 8px;" %>
    <!-- </button> -->
  </td>
  <td align="center">
    <input type="button" class="btn delete_item" data-id="<%= item[:id] %>" mgr-id="non_mgr" value="削除" <% if (item[:id] == @user_id) %> disabled readonly style="background-color:#fff;color:#a4a4a4"<% end %>/>
  </td>
  <% end %>
</tr>

