<div id="admin_wrapper">
<%= render "admin_subheader" %>

<div id="admin_contents" class="c_align">
  <h3 class="c_align">招待状をリンクで送る</h3><br>
  <p>下記、招待リンクをシェアしてください。</p>
  <p class="c_align"><a href="<%= @company[:invite_link] %>"><%= @company[:invite_link] %></a></p><br>
  
  <%= form_tag( "/company/employees/add/complete", method: "post", id: "login_form" ) do %>
    <div class="toolbox center">
      <h3 class="c_align">招待状をメールで送る</h3><br>
      <p>招待状を送る社員のメールアドレスを記入してください。</p>
      <p class="instructions">(1行ごとにメールアドレスを入力してください。)</p>
      <% if flash[:notice] %><p class="c_align notice"><b><i><%= flash[:notice] %></i></b></p><% end %><br>
      <textarea name="emails" rows="10" cols="40"></textarea>
      <br><br>
      <p>
	<input type="button" class="btn btn_back" value="戻る" style="width:80px;height:30px"/>
	<input type="submit" class="btn btn_submit" value="送信" style="width:80px;height:30px"/>
      </p>
    </div><br><br>
  <% end %>
</div>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".btn_back").click(function() {
  window.location = "/company/employees";
});
$('.setting_color').css('color','gray');
</script>
