<div class="company_create_wrapper">
<div class="user_login">
  <div class="login_header">
    <%= link_to "/" do %>
      <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/btoa-img/landingpage/logo.png") %>
    <% end %>
  </div>

  <div id="wrapper">
  <div id="contents" class="company_create_contents">
    <%= form_tag( "/company/register/complete", method: "post", id: "login_form" ) do %>
    <% if flash[:notice] %><p class="c_align notice"><b><i><%= flash[:notice] %></i></b></p><% end %>
    <div id="createbox" class="center">
    <table class="company_create_table">
      <tr>
        <th class="createbox_th">会社名</th>
        <td class="c_align"><input type="text" name="name" value="" placeholder="　株式会社Prizy"required class="login_input_form company_create_form"/></td>
      </tr>
      <tr>
        <th class="createbox_th">会社URL</th>
        <td class="c_align"><input type="text" name="url" value="" placeholder="　http://prizy.me/" class="login_input_form company_create_form"/></td>
      </tr>
      <tr>
        <th class="createbox_th">担当者</th>
        <td class="c_align"><input type="text" name="owner" value="" required placeholder="　山田太郎" class="login_input_form company_create_form"/></td>
      </tr>
      <tr>
        <th class="createbox_th">メールアドレス</th>
        <td class="c_align"><input type="email" name="email" value="" required placeholder="　taro.yamada@mail.com" class="login_input_form company_create_form"/></td>
      </tr>
      <tr>
        <th class="createbox_th">パスワード</th>
        <td class="c_align"><input type="password" name="password" id="passwd1" value="" required placeholder="　パスワード" class="login_input_form company_create_form"/></td>
      </tr>
      <tr>
        <th class="createbox_th">確認用パスワード</th>
        <td><p class="c_align"><input type="password" name="password" id="passwd2" value="" required placeholder="　パスワード確認" class="login_input_form company_create_form"/><br><span class="notice"></span></td>
      </tr>
      <tr>
        <th class="createbox_th">電話番号</th>
        <td class="c_align"><input type="text" name="phone" value="" placeholder="　03-XXXX-XXXX" class="login_input_form company_create_form"/></td>
      </tr>
      <tr>
        <th class="createbox_th">会社住所</th>
        <td class="c_align"><input type="text" name="address" value="" required placeholder="　東京都XXXXXXXXXXXX" class="login_input_form company_create_form"/></td>
      </tr>
      <tr>
        <th class="createbox_th">コアバリュー</th>
        <td class="c_align"><textarea name="hashtags" value="" class="company_create_form company_create_textarea" placeholder="　leadership, hardwork, creativity...&#13;&#10;　(カンマ「,」で区切ってください。)"></textarea></td>
      </tr>
    </table>
    <p align="center" class="company_create_terms">ご登録になる前に<a href="/terms">利用規約</a>をよくご確認ください</p>
    <p class="c_align" colspan="2"><input type="submit" value="送信" class="btn login_submit company_create_submit" /></p>
    
    </div>
    <% end %>
  </div>
  </div>
</div>

<div class="login_footer">
  <%= render "shared/footer"%>
</div>
</div>

<script type="text/javascript">
var passwd1 = document.getElementById("passwd1");
var passwd2 = document.getElementById("passwd2");

function validatePassword(){
  if(passwd1.value != passwd2.value) {
    $(".notice").text("パスワードに誤りがあります");
  } else {
    $(".notice").text("");
  }
}
passwd1.onchange = validatePassword;
passwd2.onkeyup = validatePassword;
</script>
