<div id="admin_wrapper">
<div class="admin_subheader">
  <ul class="admin_list">
    <li><%= link_to "会社情報", "/company/details" %></li>
    <li class="admin_li_checked"><%= link_to "カスタマイズ","/company/customize" %></li>
    <li><%= link_to "部署・チーム情報","/company/teams" %></li>
    <li class="admin_li"><%= link_to "社員情報","/company/employees" %></li>
    <li><%= link_to "ギフト","/company/rewards" %></li>
    <li><%= link_to "ギフト申請一覧","/company/rewards/request" %></li>
<!--     <li><%= link_to "特別ボーナス","/company/bonus" %></li> -->
    <li><%= link_to "Slack連携", "/integration/slack"%></li>
    <div class="clearfix"></div>
  </ul>
</div>


<div id="admin_contents" style="padding-left: 40px">
<h3>カスタマイズ</h3>
<% if flash[:notice] %>
  <p class="notice"><b><i><%= flash[:notice] %></i></b></p>
<% end %>

<%= form_tag( "/company/customize/update", method: "post") do %>
  <dl class="customize_box">
  <div><p>投稿の表示に関して</p></div>
     <div class="fixed_point_setting clearfix">
       <dt class="customize_left">タイムラインのデザインを選択してください。</dt>
       <dd class="customize_right">
         <input type="radio" name="change_timeline_image_size" id="change_timeline_image_size0" value="0" <% if @company.change_timeline_image_size == 0 %>checked="checked" <% end %> style="opacity: 0;" />
         <label for="change_timeline_image_size0" class="switch-off">ユーザー<br>画像あり</label>
         <input type="radio" id="change_timeline_image_size1" name="change_timeline_image_size" value="1" <% if @company.change_timeline_image_size == 1 %> checked="checked" <% end %> style="opacity: 0;" />
         <label for="change_timeline_image_size1" class="switch-on">ユーザー<br>画像なし</label>
       </dd>
       <div class="clearfix"></div>
     </div>
  <div><p>社員登録に関して</p></div>
    <div class="fixed_point_setting clearfix">
      <dt class="customize_left">社員登録をした際に、Prizyに招待されたことを自動メールで送信しますか？</dt>
      <dd class="customize_right">
        <input type="radio" name="invite_email_setting" id="invite_email_setting0" value="1" <% if @company.invite_email_flag == 1 %>checked="checked" <% end %> style="opacity: 0;" />
        <label for="invite_email_setting0" class="switch-off">しない</label>
        <input type="radio" id="invite_email_setting1" name="invite_email_setting" value="0" <% if @company.invite_email_flag == 0 %> checked="checked" <% end %> style="opacity: 0;" />
        <label for="invite_email_setting1" class="switch-on">する</label>
      </dd>
      <div class="clearfix"></div>
    </div>

  <div><p>ポイントに関して</p></div>
    <div class="fixed_point_setting clearfix">
      <dt class="customize_left">1投稿あたりに贈るポイント数を固定にしますか。</dt>
      <dd class="customize_right">
        <input type="radio" name="fixed_point_setting" id="fixed_point_setting0" value="0" <% if @company.point_fixed_flag == 0 %>checked="checked" <% end %> style="opacity: 0;" />
        <label for="fixed_point_setting0" class="switch-off">しない</label>
        <input type="radio" id="fixed_point_setting1" name="fixed_point_setting" value="1" <% if @company.point_fixed_flag == 1 %> checked="checked" <% end %> style="opacity: 0;" />
        <label for="fixed_point_setting1" class="switch-on">する</label>
        <select id="fixed_point" name="fixed_point" class="fixed_point" min="5" max="50" <% unless @company.point_fixed_flag == 1 %> style="display: none;"<% else %> required <% end %> >
        <% @nums.each do |num| %>
          <option value=<%= num %> <% if num == @company.fixed_point %>selected = "true" <% end %> >
            <%= num %>
          </option>
        <% end %>
        </select>
        <input type="radio" id="fixed_point_setting2" name="fixed_point_setting" value="2" <% if @company.point_fixed_flag == 2 %> checked="checked" <% end %> style="opacity: 0;" />
        <label for="fixed_point_setting2" class="weighting">送受信</label>


        <div id="weighting_point_setting" class="weighting_point_setting clearfix" <% unless @company.point_fixed_flag == 2 %> style="display: none;"<% else %> required <% end %> >
          固定ポイント
          <input type="text" id="weighting_send_and_receive_point" class="weighting_send_and_receive_point" name="fixed_point" value=<%= @company.fixed_point %>> 送信時
           <input type="text" id="weighting_send_point" class="weighting_send_and_receive_point" name="weighting_send_point"  value=<%= @company.send_point %>> 受信時
          <input type="text" id="weighting_receive_point" class="weighting_send_and_receive_point" name="weighting_receive_point" value=<%= @company.receive_point %>>
          </ul>
        </div>

        <% if flash[:fixed_point] %>  <b><i><%= flash[:fixed_point] %></i></b>
        <% end %>
      </dd>
    </div>
    <div class="fixed_point_setting clearfix">
      <dt class="customize_left">ポイントをリセットする日にちを設定しますか。</dt>
      <dd class="customize_right">
        <input name="time_select" type="radio" id="time_select0" value="0" style="opacity: 0;" <% if @company.reset_point_date.nil? %>checked="checked" <% end %> />
        <label for="time_select0" class="switch-off">しない</label>
        <input name="time_select" type="radio" id="time_select1" value="1" style="opacity: 0;"  <% if @company.reset_point_date.present? %>checked="checked" <% end %>/>
        <label for="time_select1" class="switch-on">する</label>
        <input type="text" id="datepicker_set_time" class="time_select" name="reset_point_date" <% if @company.reset_point_date.nil? %> style="display:none;" <% end %> value=<%= @company.reset_point_date.try(:strftime, ("%Y/%m/%d")) %> >
        <% if flash[:reset_point_date] %><b><i><%= flash[:reset_point_date] %></i></b>
        <% end %>
      </dd>
    </div>

    <div><p>セキュリティに関して</p></div>
    <div class="fixed_point_setting clearfix">
      <dt class="customize_left">管理画面へのアクセスをIPアドレスで制限しますか。</dt>
      <dd class="customize_right">
        <input type="radio" name="ip_address_setting" id="ip_address_setting0" value="0" <% if @company.ip_limit_flag == 0 %>checked="checked" <% end %> style="opacity: 0;" />
        <label for="ip_address_setting0" class="switch-off">しない</label>
        <input type="radio" id="ip_address_setting1" name="ip_address_setting" value="1" <% if @company.ip_limit_flag == 1 %> checked="checked" <% end %> style="opacity: 0;" />
        <label for="ip_address_setting1" class="switch-on">する</label>
        <div class="clearfix"></div>
        <textarea id="allowed_ips" name="allowed_ips" <% if @company.ip_limit_flag == 0 %> style="display: none;"<% end %> placeholder="IPアドレス" cols="40" rows="5" ><%= @company.allowed_ips %></textarea> 
        <% if flash[:allowed_ips] %><b><i><%= flash[:allowed_ips] %></i></b><% end %>
      </dd>
    </div>
  </dl>
  <input type="submit" class="btn btn_submit" value="送信" style="width:80px;height:30px; margin-bottom: 10px;"/>
<% end %>

</div>
</div>


<script>
  $('input[name="change_timeline_image_size"]').change(function() {
     $("#change_timeline_image_size").toggle();
  });
  $('input[name="fixed_point_setting"]').change(function() {
    if ($('input[name="fixed_point_setting"]:checked').val() === '0'){
      $("#fixed_point").hide();
      // $("#weighting_send_and_receive_point").hide();
      $("#weighting_point_setting").hide();
    }else if($('input[name="fixed_point_setting"]:checked').val() === '1'){
      $("#fixed_point").show();
      // $("#weighting_send_and_receive_point").hide();
      $("#weighting_point_setting").hide();
    }else if($('input[name="fixed_point_setting"]:checked').val() === '2'){
      $("#fixed_point").hide();
      // $("#weighting_send_and_receive_point").show();
      $("#weighting_point_setting").show();
    }
  });

  $('input[name="ip_address_setting"]').change(function() {
    $("#allowed_ips").toggle();
  });

  $('input[name="time_select"]').change(function() {
    $("#datepicker_set_time").toggle();
  });

  $(function() {
    $("#datepicker_set_time").datepicker();
  });

</script>
