<div id="admin_wrapper">
<%= render "admin_subheader" %>

<div id="admin_contents">
  <h3 class="c_align">会社情報</h3><br>
  <div class="toolbox center">
    <table class="admin_table">
      <tr>
        <th scope="row">会社名</th>
        <td><%= @company[:name] %></td>
      </tr>
      <tr>
        <th scope="row">URL</th>
        <td><%= @company[:url] %></td>
      </tr>
      <tr>
        <th scope="row">担当者名</th>
        <td><%= @company[:owner] %></td>
      </tr>
      <tr>
        <th scope="row">メールアドレス</th>
        <td><%= @company[:email] %></td>
      </tr>
      <tr>
        <th scope="row">会社住所</th>
        <td><%= @company[:address] %></td>
      </tr>
      <tr>
        <th scope="row">電話番号</th>
        <td><%= @company[:phone] %></td>
      </tr>
      <tr>
        <th scope="row">コアバリュー</th>
        <td><%= @company[:hashtags] %></td>
      </tr>
      <tr>
        <th scope="row">招待リンク</th>
        <td><a href="<%= @company[:invite_link] %>"><%= @company[:invite_link] %></a></td>
      </tr>
    </table><br>
    <p align="center">
      <input type="button" value="編集" class="btn btn_edit btn_bottom" />
    </p>
</div>
</div> <!-- admin_contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".btn_edit").click(function() {
  window.location = '/company/edit';
});

$(".btn_back").click(function() {
  window.location = "/company/details";
});

$('.setting_color').css('color','gray');
</script>
