<div id="wrapper">
<div id="contents">
  <h3>Manage Employees Page</h3><br>
  <a href="/company/employees/add" class="a_btncmn radius5">+ Add Empolyees</a>
  <br><br>
  <% if flash[:notice] %><p class="c_align notice"><b><i><%= raw flash[:notice] %></i></b></p><br><% end %>
  <div class="toolbox">
    <% if @users.count == 0 %>
      <p><i>You have not added any employees yet</i></p><br>
    <% else %>
      <table class="tbl_tools" border="1">
	<tr>
	  <th>Name</th>
	  <th>E-mail</th>
	  <th>Invitation<br>Status</th>
	  <th>Personal<br>Points</th>
	  <th>Giveaway<br>Points</th>
	  <th>Actions</th>
	</tr>
	<% @users.each do | item | %>
	  <tr class="item_<%= item[:id] %>">
	    <td><%= "#{item[:firstname]} #{item[:lastname]}" %></td>
	    <td><%= item[:email] %></td>
	    <td align="center">
	      <% if item[:verified] == 0 %> Pending
	      <% else %> Accepted 
	      <% end %>
	    </td>
	    <td><%= item[:in_points] %></td>
	    <td><%= item[:out_points] %></td>
	    <td align="center">
	      <input type="button" class="btn delete_item" data-id="<%= item[:id] %>" value="削除" />
	    </td>
	  </tr>
	<% end %>
      </table><br>
    <% end %>
    <p align="center"><input type="button" class="btn btn_back" style="width:200px;height:50px" value="Back to Menu" /></p>
  </div><br>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$('.delete_item').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("Are you sure you want to remove this employee?")) {
    $.post("/company/employees/delete", { 'id': _id }); //send post request
    $(".item_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

$(".btn_back").click(function() {
  window.location = "/company";
});
</script>
