<div id="wrapper">
<div id="contents">
  <h3>Manage Employees Page</h3><br>
  <a href="/company/employees/add">Add Empolyees</a>
  <br><br>
  <div>
    <table border="1">
      <tr>
	<th>Name</th>
	<th>E-mail</th>
	<th>Invitation<br>Status</th>
	<th>Actions</th>
      </tr>
      <% @users.each do | item | %>
	<tr class="item_<%= item[:id] %>">
	  <td><%= "#{item[:firstname]} #{item[:lastname]}" %></td>
	  <td><%= item[:email] %></td>
	  <td><%= item[:invite_status] %></td>
	  <td><input type="button" class="btn delete_item" data-id="<%= item[:id] %>" value="del" /></td>
	</tr>

      <% end %>
    </table>
  </div><br><br>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$('.delete_item').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("Are you sure you want to remove this employee?")) {
    $.post("/company/employees/remove", { 'id': _id }); //send post request
    $(".item_" + _id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

/*
$('.edit_item').click(function() {
  var _id = ($(this).attr('data-id'));
  window.location.href = "/tools/vendors/edit/"+_id; //redirect to assigned url
});
*/
</script>
