<div id="admin_wrapper">
  <%= render "admin_subheader" %>

  <div id="admin_contents" class="c_align">
    <h3 class="c_align">招待状をリンクで送る</h3><br>
    <p>下記、招待リンクをシェアしてください。</p>
    <p class="c_align"><a href="<%= @company[:invite_link] %>"><%= @company[:invite_link] %></a></p><br>

    <h5>CSVで社員を登録する</h5><br>
    <% if flash[:notice_about_create_user] %>
      <p class="notice" style="color: red"><b><i><%= flash[:notice_about_create_user] %></i></b></p>
    <% end %>
    <%= form_for @user , url: company_employees_create_users_by_csv_path(@user) , method: :post do |f| %>
      <%= f.file_field :upload_file %>
      <%= f.hidden_field :id %>
      <%= f.submit "送信", class: "btn", style: "width:50px;height:27px; padding: 0 5p" %>
    <% end %>
    <%= button_to 'CSVフォーマットはこちらからダウンロードできます。', company_employees_export_csv_format_create_user_path(format: 'csv'),class: "csv_download_button" %><br><br>

    <h3 class="c_align">社員を登録する</h3><br>
    <%= form_tag("/company/employees/register/complete", method: "post", id: "login_form") do %>
      <div class="toolbox center">
        <table class="admin_table">
          <tr>
            <th scope="row">姓</th>
            <td><input type="text" name="lastname" class="width-100-percent" required /></td>
          </tr>
          <tr>
            <th scope="row">名</th>
            <td><input type="text" name="firstname" class="width-100-percent" required /></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td><input type="text" name="email" class="width-100-percent" autocomplete="new-email" required /></td>
          </tr>
          <tr>
            <th scope="row">会社</th>
            <td>
              <select class="target_select_department width-100-percent" name="department_id">
                <option>選択してください</option>
                <% @departments.each do |dep| %>
                  <option value="<%= dep.id %>"><%= dep.dep_name %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row">部署</th>
            <td>
              <select class="target_select_team width-100-percent" name="team_id">
                <option>選択してください</option>
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row">性別</th> 
            <td>
              <input type="radio" name="gender" value="0" style="width: 20px; height: 13px;" checked>男性
              <input type="radio" name="gender" value="1" style="width: 20px; height: 13px;">女性</option>
            </td>
          </tr>
          <tr>
            <th scope="row">生年月日</th> 
            <td>
              <select name="b_year">
                <% @years.reverse_each do |val| %>
                  <option value="<%= val %>" <% if @b_year==val %> selected <% end %>><%= val %></option>
                <% end %>
              </select> 年 
              <select name="b_month">
                <% (1..12).each do |val| %>
                  <option value="<%= val %>" <% if @b_month==val %> selected <% end %>><%= val %></option>
                <% end %>
              </select> 月 
              <select name="b_day">
                <% (1..31).each do |val| %>
                  <option value="<%= val %>" <% if @b_day==val %> selected <% end %>><%= val %></option>
                <% end %>
              </select> 日
            </td>
          </tr>
        </table><br>
        <p align="center">
          <input type="button" value="戻る" class="btn btn_back" />
          <input type="submit" value="送信" class="btn" />
        </p>
      </div><br><br>
    <% end %>
  </div> <!-- admin_contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".btn_back").click(function() {
  window.location = "/company/employees";
});
$('.setting_color').css('color','gray');

var passwd1 = document.getElementById("passwd1");
var passwd2 = document.getElementById("passwd2");

function validatePassword(){
  if(passwd1.value != passwd2.value) {
    $(".notice").text("パスワードに誤りがあります");
  } else {
    $(".notice").text("");
  }
}

$(document).ready(function() {
  <% unless @company.invite_email_flag == 1 %>
  $(".password").hide();
  <% end %>
  passwd1.onchange = validatePassword;
  passwd2.onkeyup = validatePassword;
});

$(".change_password_btn").click(function() {
  $(".password input").val("");
  $(".notice").text("");
  $(".password_label").toggle();
  $(".password").toggle();
});


$(".target_select_department").change(function(){
  $(".target_select_team").empty();
  $.ajax({
    url: "/select_target_department",
    type: "POST",
    data: {id : $(this).val()
  },
  success: function(data) {
    $.each(data, function(key, value){
      $(".target_select_team").append('<option value="'+ value[0] + '">' + value[1] + '</option>');
    });
  },
  error: function(data) {
    alert("チームが見つかりませんでした");
  }
  });
});



</script>