<div id="admin_wrapper">
<div class="admin_subheader">
  <ul class="admin_list">
    <li><%= link_to "会社情報", "/company/details" %></li>
    <li class="admin_li"><%= link_to "カスタマイズ","/company/customize" %></li>
    <li><%= link_to "社員情報","/company/employees" %></li>
    <li><%= link_to "ギフト","/company/rewards" %></li>
    <li class="admin_li_checked"><%= link_to "ギフト申請一覧","/company/rewards/request" %></li>
    <li><%= link_to "特別ボーナス","/company/bonus" %></li>
    <li><%= link_to "Slack連携", "/integration/slack"%></li>
    <div class="clearfix"></div>
  </ul>
</div>

<div id="admin_contents" class="c_align request">
  <h3>交換申請の承認</h3><br>
  <% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
  <div id="tab-container" class="tab-container">
    <ul id="tab-menu" class="etabs">
	<li class="tab"><a href="#pending">申請中</a></li>
	<li class="tab"><a href="#accepted">承認</a></li>
	<li class="tab"><a href="#rejected">非承認</a></li>
    </ul><br>
    <div id="pending" class="tab-content">
	<% if @rewards.count == 0 %>
	  <p><i>申請中のものはありません</i></p>
	<% else %>
  <div class="toolbox center">
	<table class="admin_table">
	  <tr>
	    <th>日時</th>
	    <th>プレゼント</th>
	    <th>ポイント</th>
	    <th>申請者</th>
	    <th class="c_align">Actions</th>
	  </tr>
	  <% @rewards.each do | item | %>
	  <tr class="item_<%= item.id %>">
	    <td><%= item.create_time.strftime("%Y/%m/%d %H:%M:%S") %></td>
	    <% if item.reward_id? && item.reward_id != 0 %>
	      <td><%= item.reward.title %></td>
	      <td><%= number_with_delimiter(item.reward.points, :delimiter => ',') %></td>
	    <% elsif item.rewards_prizy_id? && item.rewards_prizy_id != 0 %>
	      <td><%= item.rewards_prizy.title %></td>
	      <td><%= number_with_delimiter(item.rewards_prizy.points, :delimiter => ',') %></td>
	    <% end%>
	    <td align="center"><%= item.user.name %></td>
	    <td class="c_align">
	      <input type="button" class="btn accept_item" data-id="<%= item.id %>" value="承認" /> 
	      <input type="button" class="btn reject_item" data-id="<%= item.id %>" value="非承認" />
	    </td>
	  </tr>
	  <% end %>
	</table><br>
  </div><!--toolbox -->
	<% end %>
      </div><!-- pending -->

      <div id="accepted" class="tab-content">
	<% if @rewards_accepted.count == 0 %>
	  <p><i>表示するものがありません</i></p>
	<% else %>
  <div class="toolbox center">
	<table class="admin_table">
	  <tr>
	    <th>日時</th>
	    <th>プレゼント</th>
	    <th>ポイント</th>
	    <th>申請者</th>
	  </tr>
	  <% @rewards_accepted.each do | item | %>
	  <tr class="item_<%= item.id %>">
	    <td><%= item.update_time.strftime("%Y/%m/%d %H:%M:%S") %></td>
	    <% if item.reward_id? && item.reward_id != 0 %>
	      <td><%= item.reward.title %></td>
	      <td><%= number_with_delimiter(item.reward.points, :delimiter => ',') %></td>
	    <% elsif item.rewards_prizy_id? && item.rewards_prizy_id != 0 %>
	      <td><%= item.rewards_prizy.title %></td>
	      <td><%= number_with_delimiter(item.rewards_prizy.points, :delimiter => ',') %></td>
	    <% end%>
	    <td align="center"><%= item.user.name %></td>
	  </tr>
	  <% end %>
	</table><br>
  </div><!--toolbox -->
	<% end %>
      </div><!-- accepted -->

      <div id="rejected" class="tab-content">
	<% if @rewards_rejected.count == 0 %>
	  <p><i>表示するものがありません</i></p>
	<% else %>
  <div class="toolbox center">
	<table class="admin_table">
	  <tr>
	    <th>日時</th>
	    <th>プレゼント</th>
	    <th>ポイント</th>
	    <th>申請者</th>
	  </tr>
	  <% @rewards_rejected.each do | item | %>
	  <tr class="item_<%= item.id %>">
	    <td><%= item.update_time.strftime("%Y/%m/%d %H:%M:%S") %></td>
	    <% if item.reward_id? && item.reward_id != 0 %>
	      <td><%= item.reward.title %></td>
	      <td><%= number_with_delimiter(item.reward.points, :delimiter => ',') %></td>
	    <% elsif item.rewards_prizy_id? && item.rewards_prizy_id != 0 %>
	      <td><%= item.rewards_prizy.title %></td>
	      <td><%= number_with_delimiter(item.rewards_prizy.points, :delimiter => ',') %></td>
	    <% end%>
	    <td align="center"><%= item.user.name %></td>
	  </tr>
	  <% end %>
	</table><br>
  </div><!--toolbox -->
	<% end %>
      </div><!-- rejected -->
    </div><!-- tabs_container -->
    <br>
</div> <!-- admin_contents -->
</div> <!-- container -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(document).ready(function () {
  $("#tab-container").easytabs();
});

$('.accept_item').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item
  var msg = "本当に承認しますか？";
  setRequestAction(_id, 1, msg);
});

$('.reject_item').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item
  var msg = "本当に非承認にしますか？";
  setRequestAction(_id, 9, msg);
});

function setRequestAction( id, stats, msg ) {
  if (confirm( msg )) {
    $(".item_" + id).remove(); //remove item upon deletion
    $.ajax({
      type: "POST",
      url: "/company/rewards/request/action",
      data: { 'id': id, 'status': stats },
      success: function(data){
	window.location.reload(); 
      }
    });
  }
  return false; //do nothing
}

$('.setting_color').css('color','gray');
</script>
