<div id="wrapper">
<div id="container" class="request">
  <div class="toolbox">
    <h2>Manage Rewards Requests</h2><br>
    <% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
    <div id="tab-container" class="tab-container">
      <ul id="tab-menu" class="etabs">
	<li class="tab"><a href="#pending">Pending</a></li>
	<li class="tab"><a href="#accepted">Accepted</a></li>
	<li class="tab"><a href="#rejected">Rejected</a></li>
      </ul><br>
      <div id="pending" class="tab-content">
	<% if @rewards.count == 0 %>
	  <p><i>No pending rewards requests</i></p>
	<% else %>
	<table class="tbl_tools" border="1" style="margin:0">
	  <tr>
	    <th>Date</th>
	    <th>Reward</th>
	    <th>Points</th>
	    <th>Requested<br>by</th>
	    <th class="c_align">Actions</th>
	  </tr>
	  <% @rewards.each do | item | %>
	  <tr class="item_<%= item.id %>">
	    <td><%= item.create_time %></td>
	    <td><%= item.reward.title %></td>
	    <td><%= number_with_delimiter(item.reward.points, :delimiter => ',') %></td>
	    <td align="center"><%= item.user.name %></td>
	    <td class="c_align">
	      <input type="button" class="btn accept_item" data-id="<%= item.id %>" value="Accept" /> 
	      <input type="button" class="btn reject_item" data-id="<%= item.id %>" value="Reject" />
	    </td>
	  </tr>
	  <% end %>
	</table><br>
	<% end %>
      </div><!-- pending -->

      <div id="accepted" class="tab-content">
	<% if @rewards_accepted.count == 0 %>
	  <p><i>Empty</i></p>
	<% else %>
	<table class="tbl_tools" border="1" style="margin:0">
	  <tr>
	    <th>Date</th>
	    <th>Reward</th>
	    <th>Points</th>
	    <th>Requested<br>by</th>
	  </tr>
	  <% @rewards_accepted.each do | item | %>
	  <tr class="item_<%= item.id %>">
	    <td><%= item.update_time %></td>
	    <td><%= item.reward.title %></td>
	    <td><%= number_with_delimiter(item.reward.points, :delimiter => ',') %></td>
	    <td align="center"><%= item.user.name %></td>
	  </tr>
	  <% end %>
	</table><br>
	<% end %>
      </div><!-- accepted -->

      <div id="rejected" class="tab-content">
	<% if @rewards_rejected.count == 0 %>
	  <p><i>Empty</i></p>
	<% else %>
	<table class="tbl_tools" border="1" style="margin:0">
	  <tr>
	    <th>Date</th>
	    <th>Reward</th>
	    <th>Points</th>
	    <th>Requested<br>by</th>
	  </tr>
	  <% @rewards_rejected.each do | item | %>
	  <tr class="item_<%= item.id %>">
	    <td><%= item.update_time %></td>
	    <td><%= item.reward.title %></td>
	    <td><%= number_with_delimiter(item.reward.points, :delimiter => ',') %></td>
	    <td align="center"><%= item.user.name %></td>
	  </tr>
	  <% end %>
	</table><br>
	<% end %>
      </div><!-- rejected -->
    </div><!-- tabs_container -->
    <br>
    <p align="center"><input type="button" class="btn btn_back" style="width:200px;height:50px" value="Back to Menu" /></p>
  </div> <!-- toolbox -->
</div> <!-- container -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(document).ready(function () {
  $("#tab-container").easytabs();
});

$('.accept_item').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item
  var msg = "Accept Request?";
  setRequestAction(_id, 1, msg);
});

$('.reject_item').click(function() {
  var _id = ($(this).attr('data-id')); //get attributes of clicked item
  var msg = "Reject Request?";
  setRequestAction(_id, 9, msg);
});

function setRequestAction( id, stats, msg ) {
  if (confirm( msg )) {
    $.ajax({
      type: "POST",
      url: "/company/rewards/request/action",
      data: { 'id': id, 'status': stats },
      success: function(data){
	$(".item_" + id).remove(); //remove item upon deletion
	window.location.reload(); 
      }
    });
  }
  return false; //do nothing
}

$(".btn_back").click(function() {
  window.location = "/company";
});
</script>
