<div>
<%= form_tag( "/tests/edit/complete", method: "post", id: "login_form" ) do %>
<input type="hidden" name="id" value="<%= params[:id] %>"/>
<table class="center">
  <tr>
    <td>Name: </td>
    <td><input type="text" name="name" value="<%= @test[:name] %>" /></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><input type="text" name="email" value="<%= @test[:email] %>" /></td>
  </tr>
  <tr>
    <td>Tabelog Account: </td>
    <td><input type="text" name="tabelog" value="<%= @test[:accounts]["tabelog"] %>" /></td>
  </tr>
  <tr>
    <td>Line Music Account: </td>
    <td><input type="text" name="line_music" value="<%= @test[:accounts]["line_music"] %>" /></td>
  </tr>
  <tr>
    <td class="btn r_align" colspan="2">
      <br><input type="submit" value="Submit" class="btn_submit" />
    </td>
  </tr>
</table>  
<% end %>
</div>
