<!DOCTYPE html>
<html>
<head>
  <title>Perks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/default2.css">
  <script src="assets/javascripts/jquery.easytabs.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/header"%>
<%= yield %>
<%= render "shared/footer"%>

</body>
</html>
